---
layout: watch
title: "005 The Loopler"
description: "The Loopler Let's Play Season 1 Episode 5"
permalink: /yt/letstrygg/loopler/season-1/l-s01e05.html
custom_css: "/css/game/l-style.css"
thumbnail: "https://i.ytimg.com/vi/tFJrNt5_wmY/maxresdefault.jpg"
upload_date: "2026-09-13T14:00:29+00:00"
duration_seconds: 1331
tags: ""
youtube_id: "tFJrNt5_wmY"
game_slug: "loopler"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "005 Loopler",
  "description": "Episode 5 of the The Loopler Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/tFJrNt5_wmY/maxresdefault.jpg",
  "uploadDate": "2026-09-13T14:00:29+00:00",
  "duration": "PT22M11S",
  "embedUrl": "https://www.youtube.com/embed/tFJrNt5_wmY",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 264
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="tFJrNt5_wmY"
      published="9/13/2026"
      duration="22m 11s"
      views="264"
      likes="3"
      comments="2"
      prev_url="/yt/letstrygg/loopler/season-1/l-s01e04.html"
      next_url="/yt/letstrygg/loopler/season-1/l-s01e06.html"
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 5</p>
      
      

  </div>

  
</div>

