---
layout: watch
title: "011 The Loopler"
description: "The Loopler Let's Play Season 1 Episode 11"
permalink: /yt/letstrygg/loopler/season-1/l-s01e11.html
custom_css: "/css/game/l-style.css"
thumbnail: "https://i.ytimg.com/vi/k5FX6Q3L95Q/maxresdefault.jpg"
upload_date: "2026-09-18T19:00:13+00:00"
duration_seconds: 2478
tags: ""
youtube_id: "k5FX6Q3L95Q"
game_slug: "loopler"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "011 Loopler: Donut",
  "description": "Episode 11 of the The Loopler Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/k5FX6Q3L95Q/maxresdefault.jpg",
  "uploadDate": "2026-09-18T19:00:13+00:00",
  "duration": "PT41M18S",
  "embedUrl": "https://www.youtube.com/embed/k5FX6Q3L95Q",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 117
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="k5FX6Q3L95Q"
      published="9/18/2026"
      duration="41m 18s"
      views="117"
      likes="2"
      comments="0"
      prev_url="/yt/letstrygg/loopler/season-1/l-s01e10.html"
      next_url="/yt/letstrygg/loopler/season-1/l-s01e12.html"
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 11</p>
      
      

  </div>

  
</div>

