---
layout: watch
title: "135 Backpack Battles S4"
description: "Backpack Battles S4 Let's Play Season undefined Episode 135"
permalink: /yt/ltg-plus/Backpack-Battles-S4/season-NaN/undefined-sNaNe135.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/_j0f7qZTtS0/maxresdefault.jpg"
sync_date: "2025-04-20T12:01:02+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "2x Egg is Stupid, Stupid like a Fox! BPB Ranked S4E130",
  "description": "Episode 135 of the Backpack Battles S4 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/_j0f7qZTtS0/maxresdefault.jpg",
  "uploadDate": "2025-04-20T12:01:02+00:00",
  "duration": "PT1H2M10S",
  "embedUrl": "https://www.youtube.com/embed/_j0f7qZTtS0"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="_j0f7qZTtS0"
      published="4/20/2025"
      duration="1:02:10"
      views="745"
      likes="16"
      comments="3"
      prev_url="/yt/ltg-plus/Backpack-Battles-S4/season-NaN/undefined-sNaNe134.html"
      next_url="/yt/ltg-plus/Backpack-Battles-S4/season-NaN/undefined-sNaNe136.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 135</p>
      
      {% include_relative _manual/undefined-sNaNe135.html %}
  </div>
</div>