---
layout: watch
title: "010 Oxygen Not Included"
description: "Oxygen Not Included Let's Play Season undefined Episode 10"
permalink: /yt/letstrygg/Oxygen-Not-Included/season-NaN/undefined-sNaNe10.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/pN7khVQOjuM/maxresdefault.jpg"
sync_date: "2023-07-08T00:00:22+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Cycle 29-37 | Oxygen Not Included Ep 10: Water Works & Research, Spaced Out DLC Gameplay Playthrough",
  "description": "Episode 10 of the Oxygen Not Included Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/pN7khVQOjuM/maxresdefault.jpg",
  "uploadDate": "2023-07-08T00:00:22+00:00",
  "duration": "PT39M48S",
  "embedUrl": "https://www.youtube.com/embed/pN7khVQOjuM"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="pN7khVQOjuM"
      published="7/7/2023"
      duration="39:48"
      views="351"
      likes="16"
      comments="5"
      prev_url="/yt/letstrygg/Oxygen-Not-Included/season-NaN/undefined-sNaNe09.html"
      next_url="/yt/letstrygg/Oxygen-Not-Included/season-NaN/undefined-sNaNe11.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 10</p>
      
      {% include_relative _manual/undefined-sNaNe10.html %}
  </div>
</div>