.game-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.game-card {
  width: 460px;
  border: 1px solid #3d6fcf;
  border-radius: 10px;
  overflow: hidden;
  font-size: 1.2em;
  background: var(--card-bg);
  color: inherit;
}

.card-status {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--underline);
    text-underline-offset: 3px;
}

.game-card img {
  width: 100%;
  display: block;
}

.card-row {
  margin: 3px 8px;
  padding: 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}