---
layout: watch
title: "003 Techtonica Indie Factory Builder Game Lets Play"
description: "Techtonica Indie Factory Builder Game Lets Play Let's Play Season undefined Episode 3"
permalink: /yt/letstrygg/Techtonica-Indie-Factory-Builder-Game-Lets-Play/season-NaN/undefined-sNaNe03.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/9akish3L_gA/maxresdefault.jpg"
sync_date: "2023-09-13T17:00:11+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Techtonica Lets Play Ep 3",
  "description": "Episode 3 of the Techtonica Indie Factory Builder Game Lets Play Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/9akish3L_gA/maxresdefault.jpg",
  "uploadDate": "2023-09-13T17:00:11+00:00",
  "duration": "PT36M49S",
  "embedUrl": "https://www.youtube.com/embed/9akish3L_gA"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="9akish3L_gA"
      published="9/13/2023"
      duration="36:49"
      views="20"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/Techtonica-Indie-Factory-Builder-Game-Lets-Play/season-NaN/undefined-sNaNe02.html"
      next_url="/yt/letstrygg/Techtonica-Indie-Factory-Builder-Game-Lets-Play/season-NaN/undefined-sNaNe04.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 3</p>
      
      {% include_relative _manual/undefined-sNaNe03.html %}
  </div>
</div>