---
layout: watch
title: "065 He Is Coming S2"
description: "He Is Coming S2 Let's Play Season 2 Episode 65"
permalink: /yt/letstrygg/he-is-coming/season-2/hic-s02e65.html
custom_css: "/css/game/hic-style.css"
thumbnail: "https://i.ytimg.com/vi/ZlKDDRM0u_8/maxresdefault.jpg"
sync_date: "2025-09-09T21:00:39+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Challenge: Armored Up, He Is Coming S2E65",
  "description": "Episode 65 of the He Is Coming S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/ZlKDDRM0u_8/maxresdefault.jpg",
  "uploadDate": "2025-09-09T21:00:39+00:00",
  "duration": "PT1H19M0S",
  "embedUrl": "https://www.youtube.com/embed/ZlKDDRM0u_8"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="ZlKDDRM0u_8"
      published="9/9/2025"
      duration="1:19:00"
      views="330"
      likes="17"
      comments="9"
      prev_url="/yt/letstrygg/he-is-coming/season-2/hic-s02e64.html"
      next_url="/yt/letstrygg/he-is-coming/season-2/hic-s02e66.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 65</p>
      
      {% include_relative _manual/hic-s02e65.html %}
  </div>
</div>