---
layout: watch
title: "066 He Is Coming S2"
description: "He Is Coming S2 Let's Play Season 2 Episode 66"
permalink: /yt/letstrygg/he-is-coming/season-2/hic-s02e66.html
custom_css: "/css/game/hic-style.css"
thumbnail: "https://i.ytimg.com/vi/AfMNct2Umb4/maxresdefault.jpg"
sync_date: "2025-09-10T19:20:01+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Challenge: Game Set Match, He Is Coming S2E66",
  "description": "Episode 66 of the He Is Coming S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/AfMNct2Umb4/maxresdefault.jpg",
  "uploadDate": "2025-09-10T19:20:01+00:00",
  "duration": "PT27M1S",
  "embedUrl": "https://www.youtube.com/embed/AfMNct2Umb4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="AfMNct2Umb4"
      published="9/10/2025"
      duration="27:01"
      views="461"
      likes="15"
      comments="10"
      prev_url="/yt/letstrygg/he-is-coming/season-2/hic-s02e65.html"
      next_url="/yt/letstrygg/he-is-coming/season-2/hic-s02e67.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 66</p>
      
      {% include_relative _manual/hic-s02e66.html %}
  </div>
</div>