---
layout: watch
title: "009 He Is Coming S2"
description: "He Is Coming S2 Let's Play Season 2 Episode 9"
permalink: /yt/letstrygg/he-is-coming/season-2/hic-s02e09.html
custom_css: "/css/game/hic-style.css"
thumbnail: "https://i.ytimg.com/vi/0S3RtPEJvKI/maxresdefault.jpg"
sync_date: "2025-07-22T15:00:01+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Hydra Tk2, He Is Coming S2E9",
  "description": "Episode 9 of the He Is Coming S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/0S3RtPEJvKI/maxresdefault.jpg",
  "uploadDate": "2025-07-22T15:00:01+00:00",
  "duration": "PT33M8S",
  "embedUrl": "https://www.youtube.com/embed/0S3RtPEJvKI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="0S3RtPEJvKI"
      published="7/22/2025"
      duration="33:08"
      views="861"
      likes="19"
      comments="2"
      prev_url="/yt/letstrygg/he-is-coming/season-2/hic-s02e08.html"
      next_url="/yt/letstrygg/he-is-coming/season-2/hic-s02e10.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 9</p>
      
      {% include_relative _manual/hic-s02e09.html %}
  </div>
</div>