---
layout: watch
title: "012 Dwarves Glory Death And Loot S2"
description: "Dwarves Glory Death And Loot S2 Let's Play Season 2 Episode 12"
permalink: /yt/letstrygg/dwarves-glory-death-and-loot/season-2/dgdl-s02e12.html
custom_css: "/css/game/dgdl-style.css"
thumbnail: "https://i.ytimg.com/vi/PepIuWGbcz4/maxresdefault.jpg"
sync_date: "2026-01-30T14:00:50+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "S2E12 Dwarves: Glory, Death and Loot",
  "description": "Episode 12 of the Dwarves Glory Death And Loot S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/PepIuWGbcz4/maxresdefault.jpg",
  "uploadDate": "2026-01-30T14:00:50+00:00",
  "duration": "PT20M29S",
  "embedUrl": "https://www.youtube.com/embed/PepIuWGbcz4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="PepIuWGbcz4"
      published="1/30/2026"
      duration="20:29"
      views="183"
      likes="4"
      comments="0"
      prev_url="/yt/letstrygg/dwarves-glory-death-and-loot/season-2/dgdl-s02e11.html"
      next_url="/yt/letstrygg/dwarves-glory-death-and-loot/season-2/dgdl-s02e13.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 12</p>
      
      {% include_relative _manual/dgdl-s02e12.html %}
  </div>
</div>