---
layout: watch
title: "002 Stabjack"
description: "Stabjack Let's Play Season undefined Episode 2"
permalink: /yt/letstrygg/Stabjack/season-NaN/undefined-sNaNe02.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/euX0RiyE-kQ/maxresdefault.jpg"
sync_date: "2025-10-07T14:01:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Take Hearts, Eat Biscuits: Stabjack 2",
  "description": "Episode 2 of the Stabjack Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/euX0RiyE-kQ/maxresdefault.jpg",
  "uploadDate": "2025-10-07T14:01:05+00:00",
  "duration": "PT22M37S",
  "embedUrl": "https://www.youtube.com/embed/euX0RiyE-kQ"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="euX0RiyE-kQ"
      published="10/7/2025"
      duration="22:37"
      views="35"
      likes="2"
      comments="0"
      prev_url="/yt/letstrygg/Stabjack/season-NaN/undefined-sNaNe01.html"
      next_url="/yt/letstrygg/Stabjack/season-NaN/undefined-sNaNe03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 2</p>
      
      {% include_relative _manual/undefined-sNaNe02.html %}
  </div>
</div>