---
layout: watch
title: "001 Hadean Tactics Lets Play"
description: "Hadean Tactics Lets Play Let's Play Season 1 Episode 1"
permalink: /yt/letstrygg/hadean-tactics/season-1/ht-s01e01.html
custom_css: "/css/game/ht-style.css"
thumbnail: "https://i.ytimg.com/vi/W4bi2QrcLak/maxresdefault.jpg"
sync_date: "2021-09-17T19:00:16+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Hadean Tactics Roguelike Deckbuilding Auto-Battler! Let's Play Episode 1",
  "description": "Episode 1 of the Hadean Tactics Lets Play Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/W4bi2QrcLak/maxresdefault.jpg",
  "uploadDate": "2021-09-17T19:00:16+00:00",
  "duration": "PT55M36S",
  "embedUrl": "https://www.youtube.com/embed/W4bi2QrcLak"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="W4bi2QrcLak"
      published="Sep 17, 2021"
      duration="55m 36s"
      views="205"
      likes="5"
      comments="0"
      prev_url=""
      next_url="/yt/letstrygg/hadean-tactics/season-1/ht-s01e02.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 1</p>
      
      {% include_relative _manual/ht-s01e01.html %}
  </div>
</div>