---
layout: watch
title: "033 Factorio"
description: "Factorio Let's Play Season undefined Episode 33"
permalink: /yt/letstrygg/Factorio/season-NaN/undefined-sNaNe33.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/u-wIT6CBU64/maxresdefault.jpg"
sync_date: "2020-03-13T22:30:00+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Factorio Let's Play Episode 33",
  "description": "Episode 33 of the Factorio Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/u-wIT6CBU64/maxresdefault.jpg",
  "uploadDate": "2020-03-13T22:30:00+00:00",
  "duration": "PT23M8S",
  "embedUrl": "https://www.youtube.com/embed/u-wIT6CBU64"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="u-wIT6CBU64"
      published="3/13/2020"
      duration="23:08"
      views="15"
      likes="2"
      comments="0"
      prev_url="/yt/letstrygg/Factorio/season-NaN/undefined-sNaNe32.html"
      next_url="/yt/letstrygg/Factorio/season-NaN/undefined-sNaNe34.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 33</p>
      
      {% include_relative _manual/undefined-sNaNe33.html %}
  </div>
</div>