---
layout: watch
title: "101 Backpack Battles S5"
description: "Backpack Battles S5 Let's Play Season 5 Episode 101"
permalink: /yt/ltg-plus/backpack-battles/season-5/bpb-s05e101.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/t3LADNlfiec/maxresdefault.jpg"
sync_date: "2025-12-20T18:15:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Hammer Cthulu: Real Build? Backpack Battles S5E92",
  "description": "Episode 101 of the Backpack Battles S5 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/t3LADNlfiec/maxresdefault.jpg",
  "uploadDate": "2025-12-20T18:15:05+00:00",
  "duration": "PT46M34S",
  "embedUrl": "https://www.youtube.com/embed/t3LADNlfiec"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="t3LADNlfiec"
      published="12/20/2025"
      duration="46:34"
      views="137"
      likes="6"
      comments="2"
      prev_url="/yt/ltg-plus/backpack-battles/season-5/bpb-s05e100.html"
      next_url="/yt/ltg-plus/backpack-battles/season-5/bpb-s05e102.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 5, Episode 101</p>
      
      {% include_relative _manual/bpb-s05e101.html %}
  </div>
</div>