---
layout: watch
title: "060 Breach Wanderers"
description: "Breach Wanderers Let's Play Season 1 Episode 60"
permalink: /yt/letstrygg/breach-wanderers/season-1/bw-s01e60.html
custom_css: "/css/game/bw-style.css"
thumbnail: "https://i.ytimg.com/vi/2tjy5OPKxEc/maxresdefault.jpg"
sync_date: "2022-07-17T15:00:01+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "New Breach Wanderers Update! Shah'ru Quick Play 3 Shrines Depth 3 - Lets Play Ep 60",
  "description": "Episode 60 of the Breach Wanderers Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/2tjy5OPKxEc/maxresdefault.jpg",
  "uploadDate": "2022-07-17T15:00:01+00:00",
  "duration": "PT2H15M28S",
  "embedUrl": "https://www.youtube.com/embed/2tjy5OPKxEc"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="2tjy5OPKxEc"
      published="Jul 17, 2022"
      duration="2h 15m 28s"
      views="48"
      likes="2"
      comments="0"
      prev_url="/yt/letstrygg/breach-wanderers/season-1/bw-s01e59.html"
      next_url="/yt/letstrygg/breach-wanderers/season-1/bw-s01e61.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 60</p>
      
      {% include_relative _manual/bw-s01e60.html %}
  </div>
</div>