---
layout: watch
title: "047 Breach Wanderers"
description: "Breach Wanderers Let's Play Season 1 Episode 47"
permalink: /yt/letstrygg/breach-wanderers/season-1/bw-s01e47.html
custom_css: "/css/game/bw-style.css"
thumbnail: "https://i.ytimg.com/vi/T4i-CZoq28c/maxresdefault.jpg"
sync_date: "2021-10-18T17:00:31+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Poison Drofis Act 2 - Breach Wanderers Let's Play Ep 46",
  "description": "Episode 47 of the Breach Wanderers Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/T4i-CZoq28c/maxresdefault.jpg",
  "uploadDate": "2021-10-18T17:00:31+00:00",
  "duration": "PT1H19M39S",
  "embedUrl": "https://www.youtube.com/embed/T4i-CZoq28c"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="T4i-CZoq28c"
      published="10/18/2021"
      duration="1:19:39"
      views="20"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/breach-wanderers/season-1/bw-s01e46.html"
      next_url="/yt/letstrygg/breach-wanderers/season-1/bw-s01e48.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 47</p>
      
      {% include_relative _manual/bw-s01e47.html %}
  </div>
</div>