---
layout: watch
title: "117 Backpack Battles S5"
description: "Backpack Battles S5 Let's Play Season 5 Episode 117"
permalink: /yt/letstrygg/backpack-battles/season-5/bpb-s05e117.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/wo63wNw2-2A/maxresdefault.jpg"
sync_date: "2026-01-14T12:02:02+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Going for Plat! Backpack Battles S5E108",
  "description": "Episode 117 of the Backpack Battles S5 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/wo63wNw2-2A/maxresdefault.jpg",
  "uploadDate": "2026-01-14T12:02:02+00:00",
  "duration": "PT57M22S",
  "embedUrl": "https://www.youtube.com/embed/wo63wNw2-2A"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="wo63wNw2-2A"
      published="Jan 14, 2026"
      duration="57m 22s"
      views="207"
      likes="7"
      comments="2"
      prev_url="/yt/letstrygg/backpack-battles/season-5/bpb-s05e116.html"
      next_url="/yt/letstrygg/backpack-battles/season-5/bpb-s05e118.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 5, Episode 117</p>
      
      {% include_relative _manual/bpb-s05e117.html %}
  </div>
</div>