---
layout: watch
title: "124 Backpack Battles S5"
description: "Backpack Battles S5 Let's Play Season 5 Episode 124"
permalink: /yt/letstrygg/backpack-battles/season-5/bpb-s05e124.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/TpRPxHhSkuo/maxresdefault.jpg"
sync_date: "2026-02-01T12:00:48+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Unknown Title",
  "description": "Episode 124 of the Backpack Battles S5 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/TpRPxHhSkuo/maxresdefault.jpg",
  "uploadDate": "2026-02-01T12:00:48+00:00",
  "duration": "PT52M48S",
  "embedUrl": "https://www.youtube.com/embed/TpRPxHhSkuo"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="TpRPxHhSkuo"
      published="Feb 1, 2026"
      duration="52m 48s"
      views="117"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/backpack-battles/season-5/bpb-s05e123.html"
      next_url="/yt/letstrygg/backpack-battles/season-5/bpb-s05e125.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 5, Episode 124</p>
      
      {% include_relative _manual/bpb-s05e124.html %}
  </div>
</div>