---
layout: watch
title: "136 Backpack Battles S5"
description: "Backpack Battles S5 Let's Play Season 5 Episode 136"
permalink: /yt/letstrygg/backpack-battles/season-5/bpb-s05e136.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/tW3Yo6dgLFY/maxresdefault.jpg"
sync_date: "2026-03-02T12:01:27+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Unknown Title",
  "description": "Episode 136 of the Backpack Battles S5 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/tW3Yo6dgLFY/maxresdefault.jpg",
  "uploadDate": "2026-03-02T12:01:27+00:00",
  "duration": "PT1H14M1S",
  "embedUrl": "https://www.youtube.com/embed/tW3Yo6dgLFY"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="tW3Yo6dgLFY"
      published="Mar 2, 2026"
      duration="1h 14m 1s"
      views="42"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/backpack-battles/season-5/bpb-s05e135.html"
      next_url="/yt/letstrygg/backpack-battles/season-5/bpb-s05e137.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 5, Episode 136</p>
      
      {% include_relative _manual/bpb-s05e136.html %}
  </div>
</div>