---
layout: watch
title: "002 Fractory Free Web Browser Game"
description: "Fractory Free Web Browser Game Let's Play Season 1 Episode 2"
permalink: /yt/letstrygg/fractory/season-1/f-s01e02.html
custom_css: "/css/game/f-style.css"
thumbnail: "https://i.ytimg.com/vi/QAqS3-brsDM/maxresdefault.jpg"
sync_date: "2025-01-17T15:00:26+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Fractory Part 2 - Ascension Lvl 100+, Free Web Browser Game",
  "description": "Episode 2 of the Fractory Free Web Browser Game Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/QAqS3-brsDM/maxresdefault.jpg",
  "uploadDate": "2025-01-17T15:00:26+00:00",
  "duration": "PT1H29M55S",
  "embedUrl": "https://www.youtube.com/embed/QAqS3-brsDM"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="QAqS3-brsDM"
      published="Jan 17, 2025"
      duration="1h 29m 55s"
      views="327"
      likes="4"
      comments="7"
      prev_url="/yt/letstrygg/fractory/season-1/f-s01e01.html"
      next_url="/yt/letstrygg/fractory/season-1/f-s01e03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 2</p>
      
      {% include_relative _manual/f-s01e02.html %}
  </div>
</div>