---
layout: watch
title: "040 GemCraft Iron Mode Playthrough"
description: "GemCraft Iron Mode Playthrough Let's Play Season 3 Episode 40"
permalink: /yt/letstrygg/gemcraft-frostborn-wrath/season-3/gcfw-s03e40.html
custom_css: "/css/game/gcfw-style.css"
thumbnail: "https://i.ytimg.com/vi/5-ALP7KHtCU/maxresdefault.jpg"
sync_date: "2021-09-19T13:00:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "GemCraft Frostborn Wrath Iron Wizard Mode Let's Play Ep 40 - Field X1 Bronze Stash",
  "description": "Episode 40 of the GemCraft Iron Mode Playthrough Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/5-ALP7KHtCU/maxresdefault.jpg",
  "uploadDate": "2021-09-19T13:00:05+00:00",
  "duration": "PT20M19S",
  "embedUrl": "https://www.youtube.com/embed/5-ALP7KHtCU"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="5-ALP7KHtCU"
      published="9/19/2021"
      duration="20:19"
      views="62"
      likes="4"
      comments="3"
      prev_url="/yt/letstrygg/gemcraft-frostborn-wrath/season-3/gcfw-s03e39.html"
      next_url="/yt/letstrygg/gemcraft-frostborn-wrath/season-3/gcfw-s03e41.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 3, Episode 40</p>
      
      {% include_relative _manual/gcfw-s03e40.html %}
  </div>
</div>