---
layout: watch
title: "167 Backpack Battles S4"
description: "Backpack Battles S4 Let's Play Season 4 Episode 167"
permalink: /yt/ltg-plus/backpack-battles/season-4/bpb-s04e167.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/lJVxLcJzMFY/maxresdefault.jpg"
sync_date: "2025-05-18T12:01:28+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Break the Game Ep 6, Chili Egg: BPB Unanked",
  "description": "Episode 167 of the Backpack Battles S4 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/lJVxLcJzMFY/maxresdefault.jpg",
  "uploadDate": "2025-05-18T12:01:28+00:00",
  "duration": "PT1H14M54S",
  "embedUrl": "https://www.youtube.com/embed/lJVxLcJzMFY"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="lJVxLcJzMFY"
      published="May 18, 2025"
      duration="1h 14m 54s"
      views="212"
      likes="4"
      comments="1"
      prev_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e166.html"
      next_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e168.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4, Episode 167</p>
      
      {% include_relative _manual/bpb-s04e167.html %}
  </div>
</div>