---
layout: watch
title: "026 Backpack Battles S4"
description: "Backpack Battles S4 Let's Play Season 4 Episode 26"
permalink: /yt/ltg-plus/backpack-battles/season-4/bpb-s04e26.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/aMZWUzWb9cw/maxresdefault.jpg"
sync_date: "2025-01-21T12:00:03+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "The Game Hates Me. BPB Ranked S4E28",
  "description": "Episode 26 of the Backpack Battles S4 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/aMZWUzWb9cw/maxresdefault.jpg",
  "uploadDate": "2025-01-21T12:00:03+00:00",
  "duration": "PT21M31S",
  "embedUrl": "https://www.youtube.com/embed/aMZWUzWb9cw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="aMZWUzWb9cw"
      published="1/21/2025"
      duration="21:31"
      views="104"
      likes="5"
      comments="2"
      prev_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e25.html"
      next_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e27.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4, Episode 26</p>
      
      {% include_relative _manual/bpb-s04e26.html %}
  </div>
</div>