---
layout: watch
title: "075 Backpack Battles S4"
description: "Backpack Battles S4 Let's Play Season 4 Episode 75"
permalink: /yt/ltg-plus/backpack-battles/season-4/bpb-s04e75.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/8szv6j-Dcw0/maxresdefault.jpg"
sync_date: "2025-03-05T12:00:09+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Steel Goob, BPB Ranked S4E77",
  "description": "Episode 75 of the Backpack Battles S4 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/8szv6j-Dcw0/maxresdefault.jpg",
  "uploadDate": "2025-03-05T12:00:09+00:00",
  "duration": "PT52M39S",
  "embedUrl": "https://www.youtube.com/embed/8szv6j-Dcw0"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="8szv6j-Dcw0"
      published="Mar 5, 2025"
      duration="52m 39s"
      views="214"
      likes="6"
      comments="1"
      prev_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e74.html"
      next_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e76.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4, Episode 75</p>
      
      {% include_relative _manual/bpb-s04e75.html %}
  </div>
</div>