---
layout: watch
title: "013 Backpack Battles S4"
description: "Backpack Battles S4 Let's Play Season 4 Episode 13"
permalink: /yt/ltg-plus/backpack-battles/season-4/bpb-s04e13.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/IBDZLix6LEw/maxresdefault.jpg"
sync_date: "2025-01-08T12:00:30+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "The Perfect Pan Build Does Not Exis.. BPB Ranked S4E14",
  "description": "Episode 13 of the Backpack Battles S4 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/IBDZLix6LEw/maxresdefault.jpg",
  "uploadDate": "2025-01-08T12:00:30+00:00",
  "duration": "PT1H5M46S",
  "embedUrl": "https://www.youtube.com/embed/IBDZLix6LEw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="IBDZLix6LEw"
      published="1/8/2025"
      duration="1:05:46"
      views="478"
      likes="12"
      comments="5"
      prev_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e12.html"
      next_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e14.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4, Episode 13</p>
      
      {% include_relative _manual/bpb-s04e13.html %}
  </div>
</div>