---
layout: watch
title: "044 Backpack Battles S4"
description: "Backpack Battles S4 Let's Play Season 4 Episode 44"
permalink: /yt/ltg-plus/backpack-battles/season-4/bpb-s04e44.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/PrzDB2V8gNM/maxresdefault.jpg"
sync_date: "2025-02-05T12:00:41+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "2x Bloodthorne, 5 Stam, Do We Honk? BPB Ranked S4E46",
  "description": "Episode 44 of the Backpack Battles S4 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/PrzDB2V8gNM/maxresdefault.jpg",
  "uploadDate": "2025-02-05T12:00:41+00:00",
  "duration": "PT1H13M55S",
  "embedUrl": "https://www.youtube.com/embed/PrzDB2V8gNM"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="PrzDB2V8gNM"
      published="2/5/2025"
      duration="1:13:55"
      views="280"
      likes="6"
      comments="0"
      prev_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e43.html"
      next_url="/yt/ltg-plus/backpack-battles/season-4/bpb-s04e45.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4, Episode 44</p>
      
      {% include_relative _manual/bpb-s04e44.html %}
  </div>
</div>