---
layout: watch
title: "002 Terraria FTW"
description: "Terraria FTW Let's Play Season 2 Episode 2"
permalink: /yt/letstrygg/terraria/season-2/t-s02e02.html
custom_css: "/css/game/t-style.css"
thumbnail: "https://i.ytimg.com/vi/A7OlkrVYCFA/maxresdefault.jpg"
sync_date: "2020-08-22T19:00:01+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Terraria - For the Worthy - Master Mode - Ep 2 - First Room??",
  "description": "Episode 2 of the Terraria FTW Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/A7OlkrVYCFA/maxresdefault.jpg",
  "uploadDate": "2020-08-22T19:00:01+00:00",
  "duration": "PT32M49S",
  "embedUrl": "https://www.youtube.com/embed/A7OlkrVYCFA"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="A7OlkrVYCFA"
      published="Aug 22, 2020"
      duration="32m 49s"
      views="24"
      likes="3"
      comments="2"
      prev_url="/yt/letstrygg/terraria/season-2/t-s02e01.html"
      next_url="/yt/letstrygg/terraria/season-2/t-s02e03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 2</p>
      
      {% include_relative _manual/t-s02e02.html %}
  </div>
</div>