---
layout: watch
title: "134 Backpack Battles S2"
description: "Backpack Battles S2 Let's Play Season 2 Episode 134"
permalink: /yt/letstrygg/backpack-battles/season-2/bpb-s02e134.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/ezR0TWFVH64/maxresdefault.jpg"
sync_date: "2024-06-07T14:00:37+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Quest for Master Ranger: Part 13 - Backpack Battles S2E134",
  "description": "Episode 134 of the Backpack Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/ezR0TWFVH64/maxresdefault.jpg",
  "uploadDate": "2024-06-07T14:00:37+00:00",
  "duration": "PT31M41S",
  "embedUrl": "https://www.youtube.com/embed/ezR0TWFVH64"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="ezR0TWFVH64"
      published="Jun 7, 2024"
      duration="31m 41s"
      views="99"
      likes="9"
      comments="1"
      prev_url="/yt/letstrygg/backpack-battles/season-2/bpb-s02e133.html"
      next_url="/yt/letstrygg/backpack-battles/season-2/bpb-s02e135.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 134</p>
      
      {% include_relative _manual/bpb-s02e134.html %}
  </div>
</div>