---
layout: watch
title: "015 Monster Battles S2"
description: "Monster Battles S2 Let's Play Season 2 Episode 15"
permalink: /yt/ltg-plus/monster-battles/season-2/mb-s02e15.html
custom_css: "/css/game/mb-style.css"
thumbnail: "https://i.ytimg.com/vi/riLPVAgABMw/maxresdefault.jpg"
sync_date: "2025-07-30T16:01:36+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "So Many Updates! New Berserker Char: Monster Battles S2E15",
  "description": "Episode 15 of the Monster Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/riLPVAgABMw/maxresdefault.jpg",
  "uploadDate": "2025-07-30T16:01:36+00:00",
  "duration": "PT54M41S",
  "embedUrl": "https://www.youtube.com/embed/riLPVAgABMw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="riLPVAgABMw"
      published="7/30/2025"
      duration="54:41"
      views="136"
      likes="2"
      comments="5"
      prev_url="/yt/ltg-plus/monster-battles/season-2/mb-s02e14.html"
      next_url="/yt/ltg-plus/monster-battles/season-2/mb-s02e16.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 15</p>
      
      {% include_relative _manual/mb-s02e15.html %}
  </div>
</div>