---
layout: watch
title: "002 Project Zomboid"
description: "Project Zomboid Let's Play Season undefined Episode 2"
permalink: /yt/letstrygg/Project-Zomboid/season-NaN/undefined-sNaNe02.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/JnfEm2OSZK4/maxresdefault.jpg"
sync_date: "2025-02-10T15:00:23+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "1 Project Zomboid",
  "description": "Episode 2 of the Project Zomboid Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/JnfEm2OSZK4/maxresdefault.jpg",
  "uploadDate": "2025-02-10T15:00:23+00:00",
  "duration": "PT27M35S",
  "embedUrl": "https://www.youtube.com/embed/JnfEm2OSZK4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="JnfEm2OSZK4"
      published="2/10/2025"
      duration="27:35"
      views="73"
      likes="5"
      comments="2"
      prev_url="/yt/letstrygg/Project-Zomboid/season-NaN/undefined-sNaNe01.html"
      next_url="/yt/letstrygg/Project-Zomboid/season-NaN/undefined-sNaNe03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 2</p>
      
      {% include_relative _manual/undefined-sNaNe02.html %}
  </div>
</div>