---
layout: watch
title: "010 The Last Spell"
description: "The Last Spell Let's Play Season undefined Episode 10"
permalink: /yt/letstrygg/The-Last-Spell/season-NaN/undefined-sNaNe10.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/z4ORAXk4zlo/maxresdefault.jpg"
sync_date: "2025-07-19T17:01:24+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "The Last Spell Ep 10, Lakeburg Day 8-9",
  "description": "Episode 10 of the The Last Spell Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/z4ORAXk4zlo/maxresdefault.jpg",
  "uploadDate": "2025-07-19T17:01:24+00:00",
  "duration": "PT1H16M30S",
  "embedUrl": "https://www.youtube.com/embed/z4ORAXk4zlo"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="z4ORAXk4zlo"
      published="7/19/2025"
      duration="1:16:30"
      views="56"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/The-Last-Spell/season-NaN/undefined-sNaNe09.html"
      next_url="/yt/letstrygg/The-Last-Spell/season-NaN/undefined-sNaNe11.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 10</p>
      
      {% include_relative _manual/undefined-sNaNe10.html %}
  </div>
</div>