---
layout: watch
title: "012 Super Auto Pets"
description: "Super Auto Pets Let's Play Season undefined Episode 12"
permalink: /yt/letstrygg/Super-Auto-Pets/season-NaN/undefined-sNaNe12.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/_ExrItdwFpE/maxresdefault.jpg"
sync_date: "2021-10-25T19:00:10+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Dodo is OP - Suspicious Swimmers Super Auto Pets Let's Play Ep 12 Free to Play Auto-Battler",
  "description": "Episode 12 of the Super Auto Pets Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/_ExrItdwFpE/maxresdefault.jpg",
  "uploadDate": "2021-10-25T19:00:10+00:00",
  "duration": "PT22M22S",
  "embedUrl": "https://www.youtube.com/embed/_ExrItdwFpE"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="_ExrItdwFpE"
      published="10/25/2021"
      duration="22:22"
      views="8"
      likes="1"
      comments="3"
      prev_url="/yt/letstrygg/Super-Auto-Pets/season-NaN/undefined-sNaNe11.html"
      next_url="/yt/letstrygg/Super-Auto-Pets/season-NaN/undefined-sNaNe13.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 12</p>
      
      {% include_relative _manual/undefined-sNaNe12.html %}
  </div>
</div>