---
layout: watch
title: "008 Cube Chaos Block Army Strategy RogueLite Game"
description: "Cube Chaos Block Army Strategy RogueLite Game Let's Play Season 1 Episode 8"
permalink: /yt/letstrygg/cube-chaos/season-1/cc-s01e08.html
custom_css: "/css/game/cc-style.css"
thumbnail: "https://i.ytimg.com/vi/sU35MV1zIyI/maxresdefault.jpg"
sync_date: "2024-01-18T19:00:32+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Impossible Challenges! Growing Worms & Ants.. lots of ants. Plant Warrior Part 3: Cube Chaos 8",
  "description": "Episode 8 of the Cube Chaos Block Army Strategy RogueLite Game Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/sU35MV1zIyI/maxresdefault.jpg",
  "uploadDate": "2024-01-18T19:00:32+00:00",
  "duration": "PT45M54S",
  "embedUrl": "https://www.youtube.com/embed/sU35MV1zIyI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="sU35MV1zIyI"
      published="Jan 18, 2024"
      duration="45m 54s"
      views="795"
      likes="41"
      comments="11"
      prev_url="/yt/letstrygg/cube-chaos/season-1/cc-s01e07.html"
      next_url="/yt/letstrygg/cube-chaos/season-1/cc-s01e09.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 8</p>
      
      {% include_relative _manual/cc-s01e08.html %}
  </div>
</div>