---
layout: watch
title: "011 Dungeon Warfare 2 Lets Play Series"
description: "Dungeon Warfare 2 Lets Play Series Let's Play Season 1 Episode 11"
permalink: /yt/letstrygg/dungeon-warfare-2/season-1/dw2-s01e11.html
custom_css: "/css/game/dw2-style.css"
thumbnail: "https://i.ytimg.com/vi/w5aE4gbavaM/maxresdefault.jpg"
sync_date: "2022-05-30T13:00:22+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Dungeon Warfare 2 Lets Play Ep 11 - Tower Defense Let's Play Series",
  "description": "Episode 11 of the Dungeon Warfare 2 Lets Play Series Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/w5aE4gbavaM/maxresdefault.jpg",
  "uploadDate": "2022-05-30T13:00:22+00:00",
  "duration": "PT31M46S",
  "embedUrl": "https://www.youtube.com/embed/w5aE4gbavaM"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="w5aE4gbavaM"
      published="May 30, 2022"
      duration="31m 46s"
      views="135"
      likes="6"
      comments="0"
      prev_url="/yt/letstrygg/dungeon-warfare-2/season-1/dw2-s01e10.html"
      next_url="/yt/letstrygg/dungeon-warfare-2/season-1/dw2-s01e12.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 11</p>
      
      {% include_relative _manual/dw2-s01e11.html %}
  </div>
</div>