Redirect /amazon http://amazon.com?tag=letstrygg-20
Redirect /calendar https://calendar.google.com/calendar/b/2?cid=bGV0c3RyeWdnQGdtYWlsLmNvbQ
Redirect /youtube https://www.youtube.com/channel/UC0OHMw7pBB4hRJOEpPoE0Mg/
