---
layout: watch
title: "203 Backpack Battles S2"
description: "Backpack Battles S2 Let's Play Season undefined Episode 203"
permalink: /yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe203.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/bzJX73wGt0Q/maxresdefault.jpg"
sync_date: "2024-07-20T14:00:26+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Quest for Master Berserker, Part 20 - Backpack Battles S2E204",
  "description": "Episode 203 of the Backpack Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/bzJX73wGt0Q/maxresdefault.jpg",
  "uploadDate": "2024-07-20T14:00:26+00:00",
  "duration": "PT2H1M17S",
  "embedUrl": "https://www.youtube.com/embed/bzJX73wGt0Q"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="bzJX73wGt0Q"
      published="7/20/2024"
      duration="2:01:17"
      views="395"
      likes="13"
      comments="5"
      prev_url="/yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe202.html"
      next_url="/yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe204.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 203</p>
      
      {% include_relative _manual/undefined-sNaNe203.html %}
  </div>
</div>