---
layout: watch
title: "194 Backpack Battles S2"
description: "Backpack Battles S2 Let's Play Season undefined Episode 194"
permalink: /yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe194.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/sf_sbsrdHhI/maxresdefault.jpg"
sync_date: "2024-07-15T14:00:48+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Quest for Master Berserker, Part 10 - Backpack Battles S2E194",
  "description": "Episode 194 of the Backpack Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/sf_sbsrdHhI/maxresdefault.jpg",
  "uploadDate": "2024-07-15T14:00:48+00:00",
  "duration": "PT51M4S",
  "embedUrl": "https://www.youtube.com/embed/sf_sbsrdHhI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="sf_sbsrdHhI"
      published="7/15/2024"
      duration="51:04"
      views="384"
      likes="18"
      comments="3"
      prev_url="/yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe193.html"
      next_url="/yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe195.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 194</p>
      
      {% include_relative _manual/undefined-sNaNe194.html %}
  </div>
</div>