---
layout: watch
title: "137 Backpack Battles S2"
description: "Backpack Battles S2 Let's Play Season undefined Episode 137"
permalink: /yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe137.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/KWcgqqRAo8M/maxresdefault.jpg"
sync_date: "2024-06-09T12:00:31+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Quest for Master Ranger: Part 16 - Backpack Battles S2E137",
  "description": "Episode 137 of the Backpack Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/KWcgqqRAo8M/maxresdefault.jpg",
  "uploadDate": "2024-06-09T12:00:31+00:00",
  "duration": "PT54M2S",
  "embedUrl": "https://www.youtube.com/embed/KWcgqqRAo8M"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="KWcgqqRAo8M"
      published="6/9/2024"
      duration="54:02"
      views="232"
      likes="12"
      comments="2"
      prev_url="/yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe136.html"
      next_url="/yt/ltg-plus/Backpack-Battles-S2/season-NaN/undefined-sNaNe138.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 137</p>
      
      {% include_relative _manual/undefined-sNaNe137.html %}
  </div>
</div>