---
layout: watch
title: "029 Guildrun"
description: "Guildrun Let's Play Season 1 Episode 29"
permalink: /yt/ltg-plus/guildrun/season-1/g-s01e29.html
custom_css: "/css/game/g-style.css"
thumbnail: "https://i.ytimg.com/vi/Mj4ksWLIwrk/maxresdefault.jpg"
upload_date: "2026-09-08T20:30:30+00:00"
duration_seconds: 3727
tags: ""
youtube_id: "Mj4ksWLIwrk"
game_slug: "guildrun"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "029 Red Rift WinStreak: 0, Guildrun",
  "description": "Episode 29 of the Guildrun Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Mj4ksWLIwrk/maxresdefault.jpg",
  "uploadDate": "2026-09-08T20:30:30+00:00",
  "duration": "PT1H2M7S",
  "embedUrl": "https://www.youtube.com/embed/Mj4ksWLIwrk",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 55
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Mj4ksWLIwrk"
      published="9/8/2026"
      duration="1h 02m 07s"
      views="55"
      likes="0"
      comments="2"
      prev_url="/yt/ltg-plus/guildrun/season-1/g-s01e28.html"
      next_url="/yt/ltg-plus/guildrun/season-1/g-s01e30.html"
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 29</p>
      
      

  </div>

  
</div>

