---
layout: watch
title: "042 Backpack Battles S1"
description: "Backpack Battles S1 Let's Play Season 1 Episode 42"
permalink: /yt/ltg-plus/backpack-battles/season-1/bpb-s01e42.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/r12-l0CGv58/maxresdefault.jpg"
sync_date: "2023-11-01T22:00:25+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Djinn Lamp + Falcon Blade = Bugged Damage!? Diamond Ranger Backpack Battles Ep 30",
  "description": "Episode 42 of the Backpack Battles S1 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/r12-l0CGv58/maxresdefault.jpg",
  "uploadDate": "2023-11-01T22:00:25+00:00",
  "duration": "PT1H11M56S",
  "embedUrl": "https://www.youtube.com/embed/r12-l0CGv58"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="r12-l0CGv58"
      published="11/1/2023"
      duration="1:11:56"
      views="265"
      likes="7"
      comments="2"
      prev_url="/yt/ltg-plus/backpack-battles/season-1/bpb-s01e41.html"
      next_url="/yt/ltg-plus/backpack-battles/season-1/bpb-s01e43.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 42</p>
      
      {% include_relative _manual/bpb-s01e42.html %}
  </div>
</div>