---
layout: watch
title: "078 Backpack Battles S1"
description: "Backpack Battles S1 Let's Play Season 1 Episode 78"
permalink: /yt/ltg-plus/backpack-battles/season-1/bpb-s01e78.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/c_JWhyuIOYo/maxresdefault.jpg"
sync_date: "2023-11-23T20:00:16+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Thanksgiving Day: More Claws, more Carrots! Pigs, Helmets, Books, Genies! Backpack Battles Ep 66",
  "description": "Episode 78 of the Backpack Battles S1 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/c_JWhyuIOYo/maxresdefault.jpg",
  "uploadDate": "2023-11-23T20:00:16+00:00",
  "duration": "PT48M5S",
  "embedUrl": "https://www.youtube.com/embed/c_JWhyuIOYo"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="c_JWhyuIOYo"
      published="Nov 23, 2023"
      duration="48m 5s"
      views="107"
      likes="3"
      comments="1"
      prev_url="/yt/ltg-plus/backpack-battles/season-1/bpb-s01e77.html"
      next_url="/yt/ltg-plus/backpack-battles/season-1/bpb-s01e79.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 78</p>
      
      {% include_relative _manual/bpb-s01e78.html %}
  </div>
</div>