---
layout: watch
title: "045 Brotato Unleash The Power Of The Potato"
description: "Brotato Unleash The Power Of The Potato Let's Play Season 1 Episode 45"
permalink: /yt/letstrygg/brotato/season-1/bro-s01e45.html
custom_css: "/css/game/bro-style.css"
thumbnail: "https://i.ytimg.com/vi/xEonTbR2X_8/maxresdefault.jpg"
sync_date: "2023-07-04T13:35:13+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Brotato 42",
  "description": "Episode 45 of the Brotato Unleash The Power Of The Potato Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/xEonTbR2X_8/maxresdefault.jpg",
  "uploadDate": "2023-07-04T13:35:13+00:00",
  "duration": "PT35M43S",
  "embedUrl": "https://www.youtube.com/embed/xEonTbR2X_8"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="xEonTbR2X_8"
      published="7/4/2023"
      duration="35:43"
      views="0"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/brotato/season-1/bro-s01e44.html"
      next_url="/yt/letstrygg/brotato/season-1/bro-s01e46.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 45</p>
      
      {% include_relative _manual/bro-s01e45.html %}
  </div>
</div>