---
layout: watch
title: "002 Brotato S5 Paws Claws Update"
description: "Brotato S5 Paws Claws Update Let's Play Season 5 Episode 2"
permalink: /yt/letstrygg/brotato/season-5/bro-s05e02.html
custom_css: "/css/game/bro-style.css"
thumbnail: "https://i.ytimg.com/vi/3wDu2OdmX1U/maxresdefault.jpg"
sync_date: "2026-02-13T12:00:15+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "S5E02 Brotato, Well Rounded - Paws & Claws Update - Danger 5",
  "description": "Episode 2 of the Brotato S5 Paws Claws Update Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/3wDu2OdmX1U/maxresdefault.jpg",
  "uploadDate": "2026-02-13T12:00:15+00:00",
  "duration": "PT20M36S",
  "embedUrl": "https://www.youtube.com/embed/3wDu2OdmX1U"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="3wDu2OdmX1U"
      published="2/13/2026"
      duration="20:36"
      views="19"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/brotato/season-5/bro-s05e01.html"
      next_url="/yt/letstrygg/brotato/season-5/bro-s05e03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 5, Episode 2</p>
      
      {% include_relative _manual/bro-s05e02.html %}
  </div>
</div>