---
layout: watch
title: "011 The Last Spell"
description: "The Last Spell Let's Play Season 1 Episode 11"
permalink: /yt/letstrygg/the-last-spell/season-1/tls-s01e11.html
custom_css: "/css/game/tls-style.css"
thumbnail: "https://i.ytimg.com/vi/HksamgXNEQQ/maxresdefault.jpg"
sync_date: "2025-07-20T15:00:34+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "The Last Spell Ep 11, Lakeburg Day 9-11",
  "description": "Episode 11 of the The Last Spell Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/HksamgXNEQQ/maxresdefault.jpg",
  "uploadDate": "2025-07-20T15:00:34+00:00",
  "duration": "PT2H39M56S",
  "embedUrl": "https://www.youtube.com/embed/HksamgXNEQQ"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="HksamgXNEQQ"
      published="7/20/2025"
      duration="2:39:56"
      views="71"
      likes="3"
      comments="0"
      prev_url="/yt/letstrygg/the-last-spell/season-1/tls-s01e10.html"
      next_url="/yt/letstrygg/the-last-spell/season-1/tls-s01e12.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 11</p>
      
      {% include_relative _manual/tls-s01e11.html %}
  </div>
</div>