---
layout: watch
title: "002 Konfronto"
description: "Konfronto Let's Play Season 1 Episode 2"
permalink: /yt/letstrygg/konfronto/season-1/k-s01e02.html
custom_css: "/css/game/k-style.css"
thumbnail: "https://i.ytimg.com/vi/NH8F7UP-4hE/maxresdefault.jpg"
sync_date: "2025-06-01T14:00:26+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "2 More Spaceship Game, Konfronto",
  "description": "Episode 2 of the Konfronto Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/NH8F7UP-4hE/maxresdefault.jpg",
  "uploadDate": "2025-06-01T14:00:26+00:00",
  "duration": "PT41M37S",
  "embedUrl": "https://www.youtube.com/embed/NH8F7UP-4hE"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="NH8F7UP-4hE"
      published="Jun 1, 2025"
      duration="41m 37s"
      views="37"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/konfronto/season-1/k-s01e01.html"
      next_url="/yt/letstrygg/konfronto/season-1/k-s01e03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 2</p>
      
      {% include_relative _manual/k-s01e02.html %}
  </div>
</div>