---
layout: watch
title: "004 BPB Unranked Builds"
description: "BPB Unranked Builds Let's Play Season undefined Episode 4"
permalink: /yt/ltg-plus/BPB-Unranked-Builds/season-NaN/undefined-sNaNe04.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/zOBpdky6b1s/maxresdefault.jpg"
sync_date: "2024-08-01T16:00:57+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "520hp 0:00 InstaKill: Backpack Battles Unranked Builds Ep 10",
  "description": "Episode 4 of the BPB Unranked Builds Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/zOBpdky6b1s/maxresdefault.jpg",
  "uploadDate": "2024-08-01T16:00:57+00:00",
  "duration": "PT50M0S",
  "embedUrl": "https://www.youtube.com/embed/zOBpdky6b1s"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="zOBpdky6b1s"
      published="8/1/2024"
      duration="50:00"
      views="5,848"
      likes="96"
      comments="19"
      prev_url="/yt/ltg-plus/BPB-Unranked-Builds/season-NaN/undefined-sNaNe03.html"
      next_url="/yt/ltg-plus/BPB-Unranked-Builds/season-NaN/undefined-sNaNe05.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 4</p>
      
      {% include_relative _manual/undefined-sNaNe04.html %}
  </div>
</div>