---
layout: watch
title: "001 Main Assembly"
description: "Main Assembly Let's Play Season undefined Episode 1"
permalink: /yt/letstrygg/Main-Assembly/season-NaN/undefined-sNaNe01.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/XWPxOPvuFHc/maxresdefault.jpg"
sync_date: "2020-04-10T00:43:43+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Main Assembly Let's Play Ep 1 Working through the Tutorial",
  "description": "Episode 1 of the Main Assembly Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/XWPxOPvuFHc/maxresdefault.jpg",
  "uploadDate": "2020-04-10T00:43:43+00:00",
  "duration": "PT23M44S",
  "embedUrl": "https://www.youtube.com/embed/XWPxOPvuFHc"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="XWPxOPvuFHc"
      published="4/9/2020"
      duration="23:44"
      views="513"
      likes="9"
      comments="2"
      prev_url=""
      next_url="/yt/letstrygg/Main-Assembly/season-NaN/undefined-sNaNe02.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 1</p>
      
      {% include_relative _manual/undefined-sNaNe01.html %}
  </div>
</div>