---
layout: watch
title: "001 BALL X PIT"
description: "BALL X PIT Let's Play Season undefined Episode 1"
permalink: /yt/letstrygg/BALL-x-PIT/season-NaN/undefined-sNaNe01.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/oEcKp4HLAf4/maxresdefault.jpg"
sync_date: "2025-06-10T17:01:04+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "1 BALL x PIT - Full Demo Playthrough",
  "description": "Episode 1 of the BALL X PIT Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/oEcKp4HLAf4/maxresdefault.jpg",
  "uploadDate": "2025-06-10T17:01:04+00:00",
  "duration": "PT20M18S",
  "embedUrl": "https://www.youtube.com/embed/oEcKp4HLAf4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="oEcKp4HLAf4"
      published="6/10/2025"
      duration="20:18"
      views="144"
      likes="9"
      comments="0"
      prev_url=""
      next_url="/yt/letstrygg/BALL-x-PIT/season-NaN/undefined-sNaNe02.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 1</p>
      
      {% include_relative _manual/undefined-sNaNe01.html %}
  </div>
</div>