---
layout: watch
title: "003 Rogue Genesia Heros Soul Playthrough"
description: "Rogue Genesia Heros Soul Playthrough Let's Play Season 1 Episode 3"
permalink: /yt/letstrygg/rogue-genesia/season-1/rg-s01e03.html
custom_css: "/css/game/rg-style.css"
thumbnail: "https://i.ytimg.com/vi/iNT-EwZ8-Vo/maxresdefault.jpg"
sync_date: "2025-03-16T17:00:44+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "001 It Begins: Rogue Genesia, Hero's Soul",
  "description": "Episode 3 of the Rogue Genesia Heros Soul Playthrough Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/iNT-EwZ8-Vo/maxresdefault.jpg",
  "uploadDate": "2025-03-16T17:00:44+00:00",
  "duration": "PT55M28S",
  "embedUrl": "https://www.youtube.com/embed/iNT-EwZ8-Vo"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="iNT-EwZ8-Vo"
      published="3/16/2025"
      duration="55:28"
      views="208"
      likes="8"
      comments="1"
      prev_url="/yt/letstrygg/rogue-genesia/season-1/rg-s01e02.html"
      next_url=""
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 3</p>
      
      {% include_relative _manual/rg-s01e03.html %}
  </div>
</div>