<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5JtU2CD4kE_OCz1f3uIbOt" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20230626" data-episodes="15" data-views="1024" data-duration="43815">
        <img src="https://i.ytimg.com/vi/F5DTpT0pdXE/maxresdefault.jpg" alt="20 Minutes Till Dawn">
        <div class="card-row">
            <strong>20 Minutes Till Dawn</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>15 videos</span><span>1K views</span><span>⏱ 12h 10m</span>
        </div>
    </div>
</a>