<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUW7WymJNs7WdcbOced-v4Yv" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20251022" data-episodes="15" data-views="1125" data-duration="78334">
        <img src="https://i.ytimg.com/vi/IX24uMzbnso/maxresdefault.jpg" alt="9 Kings S2">
        <div class="card-row">
            <strong>9 Kings S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>15 videos</span><span>1.1K views</span><span>⏱ 21h 45m</span>
        </div>
    </div>
</a>