<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk54WL4Wjr2o8EG5JFWVxaUG" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240219" data-episodes="4" data-views="531" data-duration="7619">
        <img src="https://i.ytimg.com/vi/0gDXWWyB5dw/maxresdefault.jpg" alt="a land Goos crazy">
        <div class="card-row">
            <strong>a land Goos crazy</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>531 views</span><span>⏱ 2h 6m</span>
        </div>
    </div>
</a>