<a href="/game/a-short-journey-through-noita/"> <div class="game-card" data-updated="20230520" data-episodes="25" data-views="10598" data-duration="817">
        <img src="https://i.ytimg.com/vi/unznLAaTfQI/maxresdefault.jpg" alt="A Short Journey through Noita">
        <div class="card-row">
            <strong>A Short Journey through Noita</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>25 videos</span><span>10.6K views</span><span>⏱ 13m</span>
        </div>
    </div>
</a>