<a href="/game/a-short-rain-world-story/"> <div class="game-card" data-updated="20230321" data-episodes="1" data-views="296" data-duration="47">
        <img src="https://i.ytimg.com/vi/QHEtOFp0P0o/maxresdefault.jpg" alt="A Short Rain World Story">
        <div class="card-row">
            <strong>A Short Rain World Story</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>1 videos</span><span>296 views</span><span>⏱ 0m</span>
        </div>
    </div>
</a>