<a href="https://www.youtube.com/watch?v=-fDC66F_iLs&list=PLQ4IL4UVgQk5IlM6uSUD06Dgt-84j6Ory" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250328" data-episodes="4" data-views="1040" data-duration="20140">
        <img src="https://i.ytimg.com/vi/-fDC66F_iLs/maxresdefault.jpg" alt="Absorber">
        <div class="card-row">
            <strong>Absorber</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>1K views</span><span>⏱ 5h 35m</span>
        </div>
    </div>
</a>