<a href="/game/against-the-moon/"> <div class="game-card" data-updated="20200925" data-episodes="2" data-views="91" data-duration="2898">
        <img src="https://i.ytimg.com/vi/isb0L6X1oKk/maxresdefault.jpg" alt="Against the Moon">
        <div class="card-row">
            <strong>Against the Moon</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>91 views</span><span>⏱ 48m</span>
        </div>
    </div>
</a>