<a href="https://www.youtube.com/watch?v=4MH2hHEjErU&list=PLQ4IL4UVgQk5czCQkpShb-kf09yiEkvWn" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260207" data-episodes="2" data-views="108" data-duration="6126">
        <img src="https://i.ytimg.com/vi/4MH2hHEjErU/maxresdefault.jpg" alt="Alchemortis">
        <div class="card-row">
            <strong>Alchemortis</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>108 views</span><span>⏱ 1h 42m</span>
        </div>
    </div>
</a>