<a href="/game/animal-well-indie-puzzle-platformer/"> <div class="game-card" data-updated="20240803" data-episodes="27" data-views="4292" data-duration="54588">
        <img src="https://i.ytimg.com/vi/AFJNBMqhJCk/maxresdefault.jpg" alt="Animal Well Indie Puzzle Platformer">
        <div class="card-row">
            <strong>Animal Well Indie Puzzle Platformer</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>27 videos</span><span>4.3K views</span><span>⏱ 15h 9m</span>
        </div>
    </div>
</a>