<a href="https://www.youtube.com/watch?v=LSVlazuTHKw&list=PLQ4IL4UVgQk7SBynHmCmFRto3iOgvX4KC" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20240525" data-episodes="3" data-views="967" data-duration="6801">
        <img src="https://i.ytimg.com/vi/LSVlazuTHKw/maxresdefault.jpg" alt="Antimatter Dimensions X Orb Of Creation Beta Playthrough">
        <div class="card-row">
            <strong>Antimatter Dimensions X Orb Of Creation Beta Playthrough</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span>
            <span>967 views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 1h 53m</span>
                <span class="dur-short">⏱ 2h</span>
            </span>
        </div>
    </div>
</a>