<a href="https://www.youtube.com/watch?v=q4qfRDAnezM&list=PLQ4IL4UVgQk7k7N-OGH81_4l3vtq9sCTS" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250411" data-episodes="5" data-views="2640" data-duration="9506">
        <img src="https://i.ytimg.com/vi/q4qfRDAnezM/maxresdefault.jpg" alt="Asgards Fall">
        <div class="card-row">
            <strong>Asgards Fall</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>2.6K views</span><span>⏱ 2h 38m</span>
        </div>
    </div>
</a>