<a href="/game/atrio-the-dark-wild/"> <div class="game-card" data-updated="20210819" data-episodes="4" data-views="273" data-duration="6581">
        <img src="https://i.ytimg.com/vi/bCXJveUqd2w/maxresdefault.jpg" alt="Atrio the Dark Wild">
        <div class="card-row">
            <strong>Atrio the Dark Wild</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>273 views</span><span>⏱ 1h 49m</span>
        </div>
    </div>
</a>