<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4svDq6wBd_QHWB7_ZO5JPI" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240426" data-episodes="9" data-views="5035" data-duration="23850">
        <img src="https://i.ytimg.com/vi/_tfsZpH4hJ0/maxresdefault.jpg" alt="AutoForge Factory Automation Game">
        <div class="card-row">
            <strong>AutoForge Factory Automation Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>9 videos</span><span>5K views</span><span>⏱ 6h 37m</span>
        </div>
    </div>
</a>