<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUVN5yaznLEACpSWnHhSlppE" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250924" data-episodes="2" data-views="150" data-duration="8337">
        <img src="https://i.ytimg.com/vi/woVrYxJjGiw/maxresdefault.jpg" alt="Auto Rogue">
        <div class="card-row">
            <strong>Auto Rogue</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>150 views</span><span>⏱ 2h 18m</span>
        </div>
    </div>
</a>