<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk7UXD5BMH4LLK9gcaNa4bs-" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20201013" data-episodes="13" data-views="2442" data-duration="21554">
        <img src="https://i.ytimg.com/vi/tPpYwOE6s1U/maxresdefault.jpg" alt="Baba is You">
        <div class="card-row">
            <strong>Baba is You</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>13 videos</span><span>2.4K views</span><span>⏱ 5h 59m</span>
        </div>
    </div>
</a>