<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUXB9rrizaeKsXK2cjdI-map" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20241230" data-episodes="1" data-views="210" data-duration="4357">
        <img src="https://i.ytimg.com/vi/PFUjvgn6dVc/maxresdefault.jpg" alt="Backpack Battles Unranked">
        <div class="card-row">
            <strong>Backpack Battles Unranked</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>1 videos</span><span>210 views</span><span>⏱ 1h 12m</span>
        </div>
    </div>
</a>