<a href="/game/backpack-battles-lets-play-season-2/"> <div class="game-card" data-updated="20240427" data-episodes="73" data-views="8691" data-duration="237176">
        <img src="https://i.ytimg.com/vi/43DjglP8I1U/maxresdefault.jpg" alt="Backpack Battles Lets Play Season 2">
        <div class="card-row">
            <strong>Backpack Battles Lets Play Season 2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>73 videos</span><span>8.7K views</span><span>⏱ 65h 52m</span>
        </div>
    </div>
</a>