<a href="https://www.youtube.com/watch?v=43DjglP8I1U&list=PLkwYKQUqZEUWFCPYwrY7LKFC72vQpcPGa" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240823" data-episodes="252" data-views="70504" data-duration="944455">
        <img src="https://i.ytimg.com/vi/43DjglP8I1U/maxresdefault.jpg" alt="Backpack Battles S2">
        <div class="card-row">
            <strong>Backpack Battles S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>252 videos</span><span>70.5K views</span><span>⏱ 262h 20m</span>
        </div>
    </div>
</a>