<a href="https://www.youtube.com/watch?v=o2XhGsE7UmU&list=PLkwYKQUqZEUWAJ3Nbi3FGuRx4_WaSVpKZ" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240623" data-episodes="20" data-views="5718" data-duration="58100">
        <img src="https://i.ytimg.com/vi/o2XhGsE7UmU/maxresdefault.jpg" alt="Backpack Battles Beta">
        <div class="card-row">
            <strong>Backpack Battles Beta</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>20 videos</span><span>5.7K views</span><span>⏱ 16h 8m</span>
        </div>
    </div>
</a>