<a href="/game/backpack-battles-pvp-backpack-management-game/"> <div class="game-card" data-updated="20231031" data-episodes="39" data-views="2433" data-duration="96109">
        <img src="https://i.ytimg.com/vi/FXYapsbD85k/maxresdefault.jpg" alt="Backpack Battles PvP Backpack Management Game">
        <div class="card-row">
            <strong>Backpack Battles PvP Backpack Management Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>39 videos</span><span>2.4K views</span><span>⏱ 26h 41m</span>
        </div>
    </div>
</a>