<a href="/game/backpack-battles-s5/"> <div class="game-card" data-updated="20251001" data-episodes="2" data-views="145" data-duration="9226">
        <img src="https://i.ytimg.com/vi/z6_kWw_jUtA/maxresdefault.jpg" alt="Backpack Battles S5">
        <div class="card-row">
            <strong>Backpack Battles S5</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>145 views</span><span>⏱ 2h 33m</span>
        </div>
    </div>
</a>