<a href="https://www.youtube.com/watch?v=kLoudfb1BxQ&list=PLkwYKQUqZEUXTadA9j5cDD15TGHkjUA9y" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250722" data-episodes="2" data-views="365" data-duration="4850">
        <img src="https://i.ytimg.com/vi/kLoudfb1BxQ/maxresdefault.jpg" alt="Backpack Brawl">
        <div class="card-row">
            <strong>Backpack Brawl</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>365 views</span><span>⏱ 1h 20m</span>
        </div>
    </div>
</a>