<a href="https://www.youtube.com/watch?v=wKnlXjIzi8Q&list=PLkwYKQUqZEUV1kAyA-2YaoXlbtIFrv5VF" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20241231" data-episodes="159" data-views="52991" data-duration="557499">
        <img src="https://i.ytimg.com/vi/wKnlXjIzi8Q/maxresdefault.jpg" alt="Backpack Battles S3">
        <div class="card-row">
            <strong>Backpack Battles S3</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>159 videos</span><span>53K views</span><span>⏱ 154h 51m</span>
        </div>
    </div>
</a>