<a href="https://www.youtube.com/watch?v=OPeJuXBuL_U&list=PLkwYKQUqZEUULd6ugIhkS_s77D5XVgb7O" target="_blank" rel="noopener noreferrer"> 
    <div class="game-card" data-updated="20260304" data-episodes="138" data-views="38107" data-duration="570776">
        <img src="https://i.ytimg.com/vi/OPeJuXBuL_U/maxresdefault.jpg" alt="Backpack Battles S5">
        <div class="card-row">
            <strong>Backpack Battles S5</strong>
            <span class="card-status green">Ongoing</span>
        </div>
        <div class="card-row">
            <span>138 videos</span><span>38.1K views</span><span>⏱ 158h 32m</span>
        </div>
    </div>
</a>