<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5JfyfXyjB-RwNyHaJMblwm" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240309" data-episodes="8" data-views="671" data-duration="34836">
        <img src="https://i.ytimg.com/vi/0YoVG3cyfkU/maxresdefault.jpg" alt="Balatro Poker Roguelike Lets Play Series">
        <div class="card-row">
            <strong>Balatro Poker Roguelike Lets Play Series</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>8 videos</span><span>671 views</span><span>⏱ 9h 40m</span>
        </div>
    </div>
</a>