<a href="/game/ball-x-pit/"> <div class="game-card" data-updated="20251007" data-episodes="16" data-views="2289" data-duration="30715">
        <img src="https://i.ytimg.com/vi/oEcKp4HLAf4/maxresdefault.jpg" alt="BALL x PIT">
        <div class="card-row">
            <strong>BALL x PIT</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>16 videos</span><span>2.3K views</span><span>⏱ 8h 31m</span>
        </div>
    </div>
</a>