<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk6E-3-G1kSugAmwWFCekoLf" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240428" data-episodes="12" data-views="8071" data-duration="24658">
        <img src="https://i.ytimg.com/vi/hDKoJDq6pjk/maxresdefault.jpg" alt="Below the Stone">
        <div class="card-row">
            <strong>Below the Stone</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>12 videos</span><span>8.1K views</span><span>⏱ 6h 50m</span>
        </div>
    </div>
</a>