<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk7VR_8AcZb5efs_b2vuYSpd" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20251010" data-episodes="2" data-views="1270" data-duration="4727">
        <img src="https://i.ytimg.com/vi/O_56hJaSTeI/maxresdefault.jpg" alt="Black Jacket">
        <div class="card-row">
            <strong>Black Jacket</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>1.3K views</span><span>⏱ 1h 18m</span>
        </div>
    </div>
</a>