<a href="https://www.youtube.com/watch?v=nmdRDd2Yebw&list=PLQ4IL4UVgQk70bTYQorkHIPSmi4apQkDI" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220509" data-episodes="1" data-views="511" data-duration="8309">
        <img src="https://i.ytimg.com/vi/nmdRDd2Yebw/maxresdefault.jpg" alt="Blood Card 2 Dark Mist">
        <div class="card-row">
            <strong>Blood Card 2 Dark Mist</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>1 videos</span><span>511 views</span><span>⏱ 2h 18m</span>
        </div>
    </div>
</a>