<a href="/game/bloons-td-battles-2/"> <div class="game-card" data-updated="20211228" data-episodes="14" data-views="1049" data-duration="33181">
        <img src="https://i.ytimg.com/vi/WjIcJCf0y7w/maxresdefault.jpg" alt="Bloons TD Battles 2">
        <div class="card-row">
            <strong>Bloons TD Battles 2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>14 videos</span><span>1K views</span><span>⏱ 9h 13m</span>
        </div>
    </div>
</a>