<a href="/game/border-pioneer-base-builder-resource-management-tower-defense/"> <div class="game-card" data-updated="20250209" data-episodes="2" data-views="931" data-duration="4687">
        <img src="https://i.ytimg.com/vi/Og_lCB8bBvE/maxresdefault.jpg" alt="Border Pioneer Base Builder Resource Management Tower Defense">
        <div class="card-row">
            <strong>Border Pioneer Base Builder Resource Management Tower Defense</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>931 views</span><span>⏱ 1h 18m</span>
        </div>
    </div>
</a>