<a href="https://www.youtube.com/watch?v=XEMvimurDRQ&list=PLkwYKQUqZEUVUNWUnDwWrwrX82kHABNcJ" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20241029" data-episodes="4" data-views="1603" data-duration="13849">
        <img src="https://i.ytimg.com/vi/XEMvimurDRQ/maxresdefault.jpg" alt="BPB 0.9.24 Beta">
        <div class="card-row">
            <strong>BPB 0.9.24 Beta</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>1.6K views</span><span>⏱ 3h 50m</span>
        </div>
    </div>
</a>