<a href="/game/bpb-master-pyro-s2/"> <div class="game-card" data-updated="20240531" data-episodes="14" data-views="4930" data-duration="61431">
        <img src="https://i.ytimg.com/vi/BOWlFVG5ix8/maxresdefault.jpg" alt="BPB Master Pyro S2">
        <div class="card-row">
            <strong>BPB Master Pyro S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>14 videos</span><span>4.9K views</span><span>⏱ 17h 3m</span>
        </div>
    </div>
</a>