<a href="https://www.youtube.com/watch?v=p9yWxKfEu0g&list=PLkwYKQUqZEUW2U5XB4XDgMLij3JwedGmH" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20240728" data-episodes="2" data-views="1029" data-duration="9411">
        <img src="https://i.ytimg.com/vi/p9yWxKfEu0g/maxresdefault.jpg" alt="BPB 0.9.16c Beta">
        <div class="card-row">
            <strong>BPB 0.9.16c Beta</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>1K views</span><span>⏱ 2h 36m</span>
        </div>
    </div>
</a>