<a href="https://www.youtube.com/watch?v=G6DIVASs-3M&list=PLkwYKQUqZEUVyB-azyWfnfyTPblxEzlST" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20250225" data-episodes="9" data-views="1676" data-duration="46014">
        <img src="https://i.ytimg.com/vi/G6DIVASs-3M/maxresdefault.jpg" alt="BPB Custom Lobbies">
        <div class="card-row">
            <strong>BPB Custom Lobbies</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>9 videos</span><span>1.7K views</span><span>⏱ 12h 46m</span>
        </div>
    </div>
</a>