<a href="https://www.youtube.com/watch?v=SXZQpqD9Wq4&list=PLkwYKQUqZEUVDNrncRllRU8_A0aRZ2Xnx" target="_blank" rel="noopener noreferrer"> 
    <div class="game-card" data-updated="20240908" data-episodes="7" data-views="2531" data-duration="26703">
        <img src="https://i.ytimg.com/vi/SXZQpqD9Wq4/maxresdefault.jpg" alt="BPB 0.9.20 Beta">
        <div class="card-row">
            <strong>BPB 0.9.20 Beta</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>7 videos</span><span>2.5K views</span><span>⏱ 7h 25m</span>
        </div>
    </div>
</a>