<a href="/game/bpb-master-berserker/"> <div class="game-card" data-updated="20240728" data-episodes="30" data-views="12864" data-duration="123467">
        <img src="https://i.ytimg.com/vi/7HqFFl2t5LM/maxresdefault.jpg" alt="BPB Master Berserker">
        <div class="card-row">
            <strong>BPB Master Berserker</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>30 videos</span><span>12.9K views</span><span>⏱ 34h 17m</span>
        </div>
    </div>
</a>