<a href="/game/bpb-master-ranger-s2/"> <div class="game-card" data-updated="20240621" data-episodes="33" data-views="11145" data-duration="128178">
        <img src="https://i.ytimg.com/vi/SzzXS9CiRNI/maxresdefault.jpg" alt="BPB Master Ranger S2">
        <div class="card-row">
            <strong>BPB Master Ranger S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>33 videos</span><span>11.1K views</span><span>⏱ 35h 36m</span>
        </div>
    </div>
</a>