<a href="/game/bpb-master-ranger/"> <div class="game-card" data-updated="20240823" data-episodes="27" data-views="8808" data-duration="169208">
        <img src="https://i.ytimg.com/vi/pwUQ8LEgBSc/maxresdefault.jpg" alt="BPB Master Ranger">
        <div class="card-row">
            <strong>BPB Master Ranger</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>27 videos</span><span>8.8K views</span><span>⏱ 47h 0m</span>
        </div>
    </div>
</a>