<a href="/game/bpb-0.9.28c-beta/"> <div class="game-card" data-updated="20241219" data-episodes="11" data-views="3515" data-duration="39941">
        <img src="https://i.ytimg.com/vi/o6emKRzcaV0/maxresdefault.jpg" alt="BPB 0.9.28c Beta">
        <div class="card-row">
            <strong>BPB 0.9.28c Beta</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>11 videos</span><span>3.5K views</span><span>⏱ 11h 5m</span>
        </div>
    </div>
</a>