<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUXJ6G41Ta07HCZPV-c12HfI" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250325" data-episodes="4" data-views="931" data-duration="13578">
        <img src="https://i.ytimg.com/vi/fvitY7xG6Zw/maxresdefault.jpg" alt="BPB 0.9.37 Beta">
        <div class="card-row">
            <strong>BPB 0.9.37 Beta</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>931 views</span><span>⏱ 3h 46m</span>
        </div>
    </div>
</a>