<a href="/game/bpb-master-pyro/"> <div class="game-card" data-updated="20240730" data-episodes="2" data-views="1025" data-duration="6808">
        <img src="https://i.ytimg.com/vi/aScWjwuA8hE/maxresdefault.jpg" alt="BPB Master Pyro">
        <div class="card-row">
            <strong>BPB Master Pyro</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>1K views</span><span>⏱ 1h 53m</span>
        </div>
    </div>
</a>