<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUV4Aj9ZKt51J2Bw1oEPpB_1" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250829" data-episodes="4" data-views="262" data-duration="11900">
        <img src="https://i.ytimg.com/vi/CWsdz2TW51g/maxresdefault.jpg" alt="Brawl to the West">
        <div class="card-row">
            <strong>Brawl to the West</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>262 views</span><span>⏱ 3h 18m</span>
        </div>
    </div>
</a>