<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4bvvGENfi0BR9YJdobiBLP" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260221" data-episodes="10" data-views="292" data-duration="17131">
        <img src="https://i.ytimg.com/vi/rF5aLrpu3WY/maxresdefault.jpg" alt="Brotato S5 Paws Claws Update">
        <div class="card-row">
            <strong>Brotato S5 Paws Claws Update</strong>
            <span class="card-status purple">Paused</span>
        </div>
        <div class="card-row">
            <span>10 videos</span><span>292 views</span><span>⏱ 4h 45m</span>
        </div>
    </div>
</a>