<a href="/game/brotato-unleash-the-power-of-the-potato/"> <div class="game-card" data-updated="20240602" data-episodes="84" data-views="2996" data-duration="215866">
        <img src="https://i.ytimg.com/vi/N860nuvw8kk/maxresdefault.jpg" alt="Brotato Unleash the Power of the Potato">
        <div class="card-row">
            <strong>Brotato Unleash the Power of the Potato</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>84 videos</span><span>3K views</span><span>⏱ 59h 57m</span>
        </div>
    </div>
</a>