<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk63AvKp8j3Et5_l4ra6o87y" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20241025" data-episodes="14" data-views="5783" data-duration="55343">
        <img src="https://i.ytimg.com/vi/hIPEfgXA5hs/maxresdefault.jpg" alt="Brotato Abyssal Terrors Beta DLC">
        <div class="card-row">
            <strong>Brotato Abyssal Terrors Beta DLC</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>14 videos</span><span>5.8K views</span><span>⏱ 15h 22m</span>
        </div>
    </div>
</a>