<a href="/game/brotato-abyssal-terrors-dlc-full-release/"> <div class="game-card" data-updated="20250210" data-episodes="37" data-views="4498" data-duration="120820">
        <img src="https://i.ytimg.com/vi/NFtt9kmaomE/maxresdefault.jpg" alt="Brotato Abyssal Terrors DLC Full Release">
        <div class="card-row">
            <strong>Brotato Abyssal Terrors DLC Full Release</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>37 videos</span><span>4.5K views</span><span>⏱ 33h 33m</span>
        </div>
    </div>
</a>