<a href="/game/browser-games/"> <div class="game-card" data-updated="20260115" data-episodes="23" data-views="29419" data-duration="87111">
        <img src="https://i.ytimg.com/vi/5VNm_AuyPeY/maxresdefault.jpg" alt="Browser Games">
        <div class="card-row">
            <strong>Browser Games</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>23 videos</span><span>29.4K views</span><span>⏱ 24h 11m</span>
        </div>
    </div>
</a>