<a href="/game/card-draw/"> <div class="game-card" data-updated="20241113" data-episodes="2" data-views="1874" data-duration="8191">
        <img src="https://i.ytimg.com/vi/iOBBQuOrvRI/maxresdefault.jpg" alt="Card Draw">
        <div class="card-row">
            <strong>Card Draw</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>1.9K views</span><span>⏱ 2h 16m</span>
        </div>
    </div>
</a>