<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5tN5U0j-DPV7O3BZwIoBQC" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20200604" data-episodes="8" data-views="141" data-duration="9183">
        <img src="https://i.ytimg.com/vi/mrdD3lzquL0/maxresdefault.jpg" alt="Causa PvP">
        <div class="card-row">
            <strong>Causa PvP</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>8 videos</span><span>141 views</span><span>⏱ 2h 33m</span>
        </div>
    </div>
</a>