<a href="/game/children-of-morta/"> <div class="game-card" data-updated="20230520" data-episodes="3" data-views="323" data-duration="6251">
        <img src="https://i.ytimg.com/vi/moLQsdG_XE0/maxresdefault.jpg" alt="Children of Morta">
        <div class="card-row">
            <strong>Children of Morta</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>323 views</span><span>⏱ 1h 44m</span>
        </div>
    </div>
</a>