<a href="https://www.youtube.com/watch?v=O2gN_3kLy3c&list=PLQ4IL4UVgQk5BvuGieke3ghBu9ljpz5d0" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20230122" data-episodes="11" data-views="11997" data-duration="26817">
        <img src="https://i.ytimg.com/vi/O2gN_3kLy3c/maxresdefault.jpg" alt="Cookie Clicker aka Digital Crack">
        <div class="card-row">
            <strong>Cookie Clicker aka Digital Crack</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>11 videos</span><span>12K views</span><span>⏱ 7h 26m</span>
        </div>
    </div>
</a>