<a href="https://www.youtube.com/watch?v=OAkGiWsnqLQ&list=PLQ4IL4UVgQk7y44_tSCnbNv1s9EfJWGG6" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250602" data-episodes="21" data-views="9435" data-duration="111627">
        <img src="https://i.ytimg.com/vi/OAkGiWsnqLQ/maxresdefault.jpg" alt="Creeper World IXE RTS Tower Defense">
        <div class="card-row">
            <strong>Creeper World IXE RTS Tower Defense</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>21 videos</span><span>9.4K views</span><span>⏱ 31h 0m</span>
        </div>
    </div>
</a>