<a href="/game/crystal-clash/"> <div class="game-card" data-updated="20220209" data-episodes="5" data-views="391" data-duration="10753">
        <img src="https://i.ytimg.com/vi/Zu9PL8n8bIk/maxresdefault.jpg" alt="Crystal Clash">
        <div class="card-row">
            <strong>Crystal Clash</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>391 views</span><span>⏱ 2h 59m</span>
        </div>
    </div>
</a>