<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUWPe2uIcqo7JRuDXqXiLriV" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250826" data-episodes="7" data-views="868" data-duration="24235">
        <img src="https://i.ytimg.com/vi/0CN-ICAUh3Q/maxresdefault.jpg" alt="Cube Chaos S3">
        <div class="card-row">
            <strong>Cube Chaos S3</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>7 videos</span><span>868 views</span><span>⏱ 6h 43m</span>
        </div>
    </div>
</a>