<a href="https://www.youtube.com/watch?v=z3E0wjuhLZw&list=PLQ4IL4UVgQk7onfgCUvtnHc-z76nLzHAK" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240806" data-episodes="101" data-views="35105" data-duration="311667">
        <img src="https://i.ytimg.com/vi/z3E0wjuhLZw/maxresdefault.jpg" alt="Cube Chaos Block Army Strategy RogueLite Game">
        <div class="card-row">
            <strong>Cube Chaos Block Army Strategy RogueLite Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>101 videos</span><span>35.1K views</span><span>⏱ 86h 34m</span>
        </div>
    </div>
</a>