<a href="/game/cube-chaos/"> <div class="game-card" data-updated="20240911" data-episodes="16" data-views="3890" data-duration="61314">
        <img src="https://i.ytimg.com/vi/RcBtR76ZUX0/maxresdefault.jpg" alt="Cube Chaos">
        <div class="card-row">
            <strong>Cube Chaos</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>16 videos</span><span>3.9K views</span><span>⏱ 17h 1m</span>
        </div>
    </div>
</a>