<a href="https://www.youtube.com/watch?v=_iTou4zzTos&list=PLQ4IL4UVgQk6QKBg-ibSKa8bCEfbwReXI" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20250624" data-episodes="4" data-views="187" data-duration="11760">
        <img src="https://i.ytimg.com/vi/_iTou4zzTos/maxresdefault.jpg" alt="Dark Fairy Tale Dreamland Survivors">
        <div class="card-row">
            <strong>Dark Fairy Tale Dreamland Survivors</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span>
            <span>187 views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 3h 16m</span>
                <span class="dur-short">⏱ 3h</span>
            </span>
        </div>
    </div>
</a>