<a href="/game/darkest-dungeon/"> <div class="game-card" data-updated="20200612" data-episodes="7" data-views="106" data-duration="16574">
        <img src="https://i.ytimg.com/vi/tlmjWYO9Viw/maxresdefault.jpg" alt="Darkest Dungeon">
        <div class="card-row">
            <strong>Darkest Dungeon</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>7 videos</span><span>106 views</span><span>⏱ 4h 36m</span>
        </div>
    </div>
</a>