<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5IkZ0YeWLsh3IrAuNQiOpc" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240717" data-episodes="9" data-views="1065" data-duration="20480">
        <img src="https://i.ytimg.com/vi/8XnjBd5pFtc/maxresdefault.jpg" alt="Deep Rock Galactic Survivor Lets Play Series">
        <div class="card-row">
            <strong>Deep Rock Galactic Survivor Lets Play Series</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>9 videos</span><span>1.1K views</span><span>⏱ 5h 41m</span>
        </div>
    </div>
</a>