<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk7ASjWT1jGhYwtvtxeOPPuZ" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220930" data-episodes="3" data-views="335" data-duration="5783">
        <img src="https://i.ytimg.com/vi/vPT8Cx4pHlI/maxresdefault.jpg" alt="Despots Game">
        <div class="card-row">
            <strong>Despots Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>335 views</span><span>⏱ 1h 36m</span>
        </div>
    </div>
</a>