<a href="https://www.youtube.com/watch?v=wcvWnPbXu9s&list=PLQ4IL4UVgQk7AgVioBXiA-T6FWdgx8IVj" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20200209" data-episodes="4" data-views="177" data-duration="7790">
        <img src="https://i.ytimg.com/vi/wcvWnPbXu9s/maxresdefault.jpg" alt="Diablo II Median XL Assassin">
        <div class="card-row">
            <strong>Diablo II Median XL Assassin</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>177 views</span><span>⏱ 2h 9m</span>
        </div>
    </div>
</a>