<a href="/game/diablo-ii-resurrected-beta/"> <div class="game-card" data-updated="20210818" data-episodes="4" data-views="52" data-duration="6336">
        <img src="https://i.ytimg.com/vi/lAEX2xG_y8I/maxresdefault.jpg" alt="Diablo II Resurrected Beta">
        <div class="card-row">
            <strong>Diablo II Resurrected Beta</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>52 views</span><span>⏱ 1h 45m</span>
        </div>
    </div>
</a>