<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk7jT7UdDLK2cjmIypIjqbkA" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260302" data-episodes="6" data-views="824" data-duration="28636">
        <img src="https://i.ytimg.com/vi/b2jAfL21hK0/maxresdefault.jpg" alt="Dice A Million">
        <div class="card-row">
            <strong>Dice A Million</strong>
            <span class="card-status purple">Paused</span>
        </div>
        <div class="card-row">
            <span>6 videos</span><span>824 views</span><span>⏱ 7h 57m</span>
        </div>
    </div>
</a>