<a href="/game/die-in-the-dungeon/"> <div class="game-card" data-updated="20250216" data-episodes="3" data-views="807" data-duration="13783">
        <img src="https://i.ytimg.com/vi/b27azpRMBkU/maxresdefault.jpg" alt="Die In The Dungeon">
        <div class="card-row">
            <strong>Die In The Dungeon</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>807 views</span><span>⏱ 3h 49m</span>
        </div>
    </div>
</a>