<a href="/game/down-with-the-ship-pvp-space-autobattler-game/"> <div class="game-card" data-updated="20250912" data-episodes="3" data-views="425" data-duration="14266">
        <img src="https://i.ytimg.com/vi/xVOAqk4J8XM/maxresdefault.jpg" alt="Down With The Ship PvP Space AutoBattler Game">
        <div class="card-row">
            <strong>Down With The Ship PvP Space AutoBattler Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>425 views</span><span>⏱ 3h 57m</span>
        </div>
    </div>
</a>