<a href="/game/down-with-the-ship/"> <div class="game-card" data-updated="20250924" data-episodes="2" data-views="150" data-duration="8337">
        <img src="https://i.ytimg.com/vi/woVrYxJjGiw/maxresdefault.jpg" alt="Down with the Ship">
        <div class="card-row">
            <strong>Down with the Ship</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>150 views</span><span>⏱ 2h 18m</span>
        </div>
    </div>
</a>