<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk43FGeZ3UhD1I_jRAQYXE-v" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250209" data-episodes="16" data-views="2209" data-duration="35506">
        <img src="https://i.ytimg.com/vi/7n5I-NmYjHY/maxresdefault.jpg" alt="Dredge">
        <div class="card-row">
            <strong>Dredge</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>16 videos</span><span>2.2K views</span><span>⏱ 9h 51m</span>
        </div>
    </div>
</a>