<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk7OEOAvIDRqEZ42IIvB_ECW" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250326" data-episodes="7" data-views="4752" data-duration="26612">
        <img src="https://i.ytimg.com/vi/fc-vhjeo5fA/maxresdefault.jpg" alt="Dungeonsweeper itchio free browser game">
        <div class="card-row">
            <strong>Dungeonsweeper itchio free browser game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>7 videos</span><span>4.8K views</span><span>⏱ 7h 23m</span>
        </div>
    </div>
</a>