<a href="/game/dungeon-clawler-claw-machine-deckbuilder/"> <div class="game-card" data-updated="20241123" data-episodes="1" data-views="411" data-duration="3575">
        <img src="https://i.ytimg.com/vi/BxTqL2kb8dc/maxresdefault.jpg" alt="Dungeon Clawler Claw Machine Deckbuilder">
        <div class="card-row">
            <strong>Dungeon Clawler Claw Machine Deckbuilder</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>1 videos</span><span>411 views</span><span>⏱ 59m</span>
        </div>
    </div>
</a>