<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk6CN3D_koWr2R5QUyWMzMKh" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250712" data-episodes="4" data-views="3329" data-duration="25876">
        <img src="https://i.ytimg.com/vi/w4X_Ecf9_ng/maxresdefault.jpg" alt="Dungeon Warfare 3 Full Demo Playthrough">
        <div class="card-row">
            <strong>Dungeon Warfare 3 Full Demo Playthrough</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>3.3K views</span><span>⏱ 7h 11m</span>
        </div>
    </div>
</a>