<a href="https://www.youtube.com/watch?v=i2zYnZKTxMI&list=PLQ4IL4UVgQk4W3LiKwcf2Z5kp4GNyvXuH" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220621" data-episodes="43" data-views="6475" data-duration="94225">
        <img src="https://i.ytimg.com/vi/i2zYnZKTxMI/maxresdefault.jpg" alt="Dungeon Warfare 2 Lets Play Series">
        <div class="card-row">
            <strong>Dungeon Warfare 2 Lets Play Series</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>43 videos</span><span>6.5K views</span><span>⏱ 26h 10m</span>
        </div>
    </div>
</a>