<a href="/game/dungeon-warfare-3-best-new-tower-defense-of-2025/"> <div class="game-card" data-updated="20250922" data-episodes="21" data-views="8453" data-duration="75778">
        <img src="https://i.ytimg.com/vi/4M13R5_OuvA/maxresdefault.jpg" alt="Dungeon Warfare 3 Best New Tower Defense of 2025">
        <div class="card-row">
            <strong>Dungeon Warfare 3 Best New Tower Defense of 2025</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>21 videos</span><span>8.5K views</span><span>⏱ 21h 2m</span>
        </div>
    </div>
</a>