<a href="/game/dwarves-glory-death-and-loot-s2/"> <div class="game-card" data-updated="20260202" data-episodes="16" data-views="3413" data-duration="68786">
        <img src="https://i.ytimg.com/vi/5-v4weMsQe0/maxresdefault.jpg" alt="Dwarves Glory Death and Loot S2">
        <div class="card-row">
            <strong>Dwarves Glory Death and Loot S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>16 videos</span><span>3.4K views</span><span>⏱ 19h 6m</span>
        </div>
    </div>
</a>