<a href="https://www.youtube.com/watch?v=pmCpEm70uR4&list=PLQ4IL4UVgQk620wGK1aQaUduiDW9qA3vb" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260119" data-episodes="14" data-views="3353" data-duration="32237">
        <img src="https://i.ytimg.com/vi/pmCpEm70uR4/maxresdefault.jpg" alt="Everything is Crab Evolution Survival Game">
        <div class="card-row">
            <strong>Everything is Crab Evolution Survival Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>14 videos</span><span>3.4K views</span><span>⏱ 8h 57m</span>
        </div>
    </div>
</a>