<a href="https://www.youtube.com/watch?v=EH4Rv4cblZM&list=PLQ4IL4UVgQk5pg7dsPKnn6ziRWKx0Xa_o" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20241124" data-episodes="35" data-views="7428" data-duration="219024">
        <img src="https://i.ytimg.com/vi/EH4Rv4cblZM/maxresdefault.jpg" alt="Factorio Space Age A New Players Slow Journey">
        <div class="card-row">
            <strong>Factorio Space Age A New Players Slow Journey</strong>
            <span class="card-status purple">Paused</span>
        </div>
        <div class="card-row">
            <span>35 videos</span>
            <span>7.4K views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 60h 50m</span>
                <span class="dur-short">⏱ 61h</span>
            </span>
        </div>
    </div>
</a>