<a href="/game/factorio/"> <div class="game-card" data-updated="20200317" data-episodes="38" data-views="1316" data-duration="57245">
        <img src="https://i.ytimg.com/vi/3oOssN0nnAU/maxresdefault.jpg" alt="Factorio">
        <div class="card-row">
            <strong>Factorio</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>38 videos</span><span>1.3K views</span><span>⏱ 15h 54m</span>
        </div>
    </div>
</a>