<a href="https://www.youtube.com/watch?v=99865tWVcuU&list=PLQ4IL4UVgQk7ktDLQnHOt45AHpvqm0Ijd" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220206" data-episodes="5" data-views="509" data-duration="10241">
        <img src="https://i.ytimg.com/vi/99865tWVcuU/maxresdefault.jpg" alt="Fallout Shelter Vault 666">
        <div class="card-row">
            <strong>Fallout Shelter Vault 666</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>509 views</span><span>⏱ 2h 50m</span>
        </div>
    </div>
</a>