<a href="/game/fights-in-tight-spaces-lets-play-series/"> <div class="game-card" data-updated="20220109" data-episodes="2" data-views="65" data-duration="6858">
        <img src="https://i.ytimg.com/vi/rUje5J4LOeU/maxresdefault.jpg" alt="Fights in Tight Spaces Lets Play Series">
        <div class="card-row">
            <strong>Fights in Tight Spaces Lets Play Series</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>65 views</span><span>⏱ 1h 54m</span>
        </div>
    </div>
</a>