<a href="https://www.youtube.com/watch?v=PcXkfSgoKmc&list=PLkwYKQUqZEUVeKKN7rE_agXX96tq1KB_6" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250713" data-episodes="4" data-views="187" data-duration="11003">
        <img src="https://i.ytimg.com/vi/PcXkfSgoKmc/maxresdefault.jpg" alt="For the Forge">
        <div class="card-row">
            <strong>For the Forge</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>187 views</span><span>⏱ 3h 3m</span>
        </div>
    </div>
</a>