<a href="/game/frankenstorm/"> <div class="game-card" data-updated="20220225" data-episodes="20" data-views="1575" data-duration="62612">
        <img src="https://i.ytimg.com/vi/7S8DaI2JeC0/maxresdefault.jpg" alt="FrankenStorm">
        <div class="card-row">
            <strong>FrankenStorm</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>20 videos</span><span>1.6K views</span><span>⏱ 17h 23m</span>
        </div>
    </div>
</a>