<a href="/game/free-itchio-games/"> <div class="game-card" data-updated="20230508" data-episodes="5" data-views="2467" data-duration="14349">
        <img src="https://i.ytimg.com/vi/Kt8tb6B8Aeo/maxresdefault.jpg" alt="Free Itchio Games">
        <div class="card-row">
            <strong>Free Itchio Games</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>2.5K views</span><span>⏱ 3h 59m</span>
        </div>
    </div>
</a>