<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5njYhXxDQJ5EljAHykX9rG" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250220" data-episodes="1" data-views="39" data-duration="75">
        <img src="https://i.ytimg.com/vi/Q4lgjUPEOgE/maxresdefault.jpg" alt="Game Trailer Hype">
        <div class="card-row">
            <strong>Game Trailer Hype</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>1 videos</span><span>39 views</span><span>⏱ 1m</span>
        </div>
    </div>
</a>