<a href="/game/gemcraft-frostborn-wrath-trial-mode-no-leaks/"> <div class="game-card" data-updated="20220221" data-episodes="31" data-views="1657" data-duration="32421">
        <img src="https://i.ytimg.com/vi/SL9YkdbaXPA/maxresdefault.jpg" alt="GemCraft Frostborn Wrath Trial Mode No Leaks">
        <div class="card-row">
            <strong>GemCraft Frostborn Wrath Trial Mode No Leaks</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>31 videos</span><span>1.7K views</span><span>⏱ 9h 0m</span>
        </div>
    </div>
</a>