<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk52HeA84kPBgeJzub61ieNn" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220711" data-episodes="70" data-views="8229" data-duration="125113">
        <img src="https://i.ytimg.com/vi/Rm-qy9SxKLk/maxresdefault.jpg" alt="GemCraft Frostborn Wrath All Achievements">
        <div class="card-row">
            <strong>GemCraft Frostborn Wrath All Achievements</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>70 videos</span><span>8.2K views</span><span>⏱ 34h 45m</span>
        </div>
    </div>
</a>