<a href="/game/gemcraft/"> <div class="game-card" data-updated="20200523" data-episodes="160" data-views="64240" data-duration="285784">
        <img src="https://i.ytimg.com/vi/_2A_hHSd-eo/maxresdefault.jpg" alt="Gemcraft">
        <div class="card-row">
            <strong>Gemcraft</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>160 videos</span><span>64.2K views</span><span>⏱ 79h 23m</span>
        </div>
    </div>
</a>