<a href="https://www.youtube.com/watch?v=_cmKDBsEaEo&list=PLQ4IL4UVgQk7FzyBD54KJthxjtce8MyN3" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220120" data-episodes="141" data-views="7374" data-duration="263488">
        <img src="https://i.ytimg.com/vi/_cmKDBsEaEo/maxresdefault.jpg" alt="GemCraft Iron Mode Playthrough">
        <div class="card-row">
            <strong>GemCraft Iron Mode Playthrough</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>141 videos</span><span>7.4K views</span><span>⏱ 73h 11m</span>
        </div>
    </div>
</a>