<a href="/game/gladiator-guild-manager/"> <div class="game-card" data-updated="20240625" data-episodes="3" data-views="813" data-duration="9722">
        <img src="https://i.ytimg.com/vi/esGgsfQdslg/maxresdefault.jpg" alt="Gladiator Guild Manager">
        <div class="card-row">
            <strong>Gladiator Guild Manager</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>813 views</span><span>⏱ 2h 42m</span>
        </div>
    </div>
</a>