<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk6_cb1oGZbfFnjTF2--bFS9" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250702" data-episodes="8" data-views="508" data-duration="31749">
        <img src="https://i.ytimg.com/vi/WM-EsyJ9cZg/maxresdefault.jpg" alt="God of Weapons S2">
        <div class="card-row">
            <strong>God of Weapons S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>8 videos</span><span>508 views</span><span>⏱ 8h 49m</span>
        </div>
    </div>
</a>