<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk69fFHPCu0AQpQrhvqGELLx" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20230413" data-episodes="1" data-views="571" data-duration="2294">
        <img src="https://i.ytimg.com/vi/aWFRI1vxodU/maxresdefault.jpg" alt="Gods of Defense Roguelike Tower Defense">
        <div class="card-row">
            <strong>Gods of Defense Roguelike Tower Defense</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>1 videos</span><span>571 views</span><span>⏱ 38m</span>
        </div>
    </div>
</a>