<a href="https://www.youtube.com/watch?v=y29xRA7DvuQ&list=PLQ4IL4UVgQk5BJEOgIdYlKokLrPUycqqB" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20211125" data-episodes="5" data-views="134" data-duration="7108">
        <img src="https://i.ytimg.com/vi/y29xRA7DvuQ/maxresdefault.jpg" alt="Guild of Dungeoneering">
        <div class="card-row">
            <strong>Guild of Dungeoneering</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>134 views</span><span>⏱ 1h 58m</span>
        </div>
    </div>
</a>