<a href="/game/gunsuit-guardians/"> <div class="game-card" data-updated="20230319" data-episodes="3" data-views="987" data-duration="4476">
        <img src="https://i.ytimg.com/vi/xFkpKUOJh5Y/maxresdefault.jpg" alt="GunSuit Guardians">
        <div class="card-row">
            <strong>GunSuit Guardians</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>987 views</span><span>⏱ 1h 14m</span>
        </div>
    </div>
</a>