<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUWk8Re-55JgiVlJa3kPXvdr" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20241023" data-episodes="4" data-views="376" data-duration="10285">
        <img src="https://i.ytimg.com/vi/3D8QJni7Fgg/maxresdefault.jpg" alt="Halls of Torment">
        <div class="card-row">
            <strong>Halls of Torment</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>376 views</span><span>⏱ 2h 51m</span>
        </div>
    </div>
</a>