<a href="https://www.youtube.com/watch?v=41PuAR17Ff4&list=PLQ4IL4UVgQk4KQNkqtLN5CMDdLpp9HyEL" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250320" data-episodes="12" data-views="4932" data-duration="27867">
        <img src="https://i.ytimg.com/vi/41PuAR17Ff4/maxresdefault.jpg" alt="He is Coming">
        <div class="card-row">
            <strong>He is Coming</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>12 videos</span><span>4.9K views</span><span>⏱ 7h 44m</span>
        </div>
    </div>
</a>