<a href="/game/he-is-coming-s2/"> <div class="game-card" data-updated="20250930" data-episodes="78" data-views="54857" data-duration="222051">
        <img src="https://i.ytimg.com/vi/vp6KDfDSiX8/maxresdefault.jpg" alt="He is Coming s2">
        <div class="card-row">
            <strong>He is Coming s2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>78 videos</span><span>54.9K views</span><span>⏱ 61h 40m</span>
        </div>
    </div>
</a>