<a href="https://www.youtube.com/watch?v=aYfBj6Yx1RM&list=PLQ4IL4UVgQk6sRQWGRM5eowUYxmyk9M7h" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240826" data-episodes="2" data-views="627" data-duration="5115">
        <img src="https://i.ytimg.com/vi/aYfBj6Yx1RM/maxresdefault.jpg" alt="Heretics Fork">
        <div class="card-row">
            <strong>Heretics Fork</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>627 views</span><span>⏱ 1h 25m</span>
        </div>
    </div>
</a>