<a href="/game/heros-hour/"> <div class="game-card" data-updated="20220707" data-episodes="4" data-views="139" data-duration="7542">
        <img src="https://i.ytimg.com/vi/BT_goa0MGs0/maxresdefault.jpg" alt="Heros Hour">
        <div class="card-row">
            <strong>Heros Hour</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>139 views</span><span>⏱ 2h 5m</span>
        </div>
    </div>
</a>