<a href="/game/holocure/"> <div class="game-card" data-updated="20250818" data-episodes="2" data-views="616" data-duration="8327">
        <img src="https://i.ytimg.com/vi/tiwtPg-LWZg/maxresdefault.jpg" alt="HoloCure">
        <div class="card-row">
            <strong>HoloCure</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>616 views</span><span>⏱ 2h 18m</span>
        </div>
    </div>
</a>