<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4atuMEUwxHA12HtQtysj7G" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20251225" data-episodes="8" data-views="1676" data-duration="12795">
        <img src="https://i.ytimg.com/vi/tO7mUxDKDLc/maxresdefault.jpg" alt="How Many Dudes">
        <div class="card-row">
            <strong>How Many Dudes</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>8 videos</span><span>1.7K views</span><span>⏱ 3h 33m</span>
        </div>
    </div>
</a>