<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4I-AjHoQh4CsrcV82o9qaj" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220826" data-episodes="14" data-views="16586" data-duration="41191">
        <img src="https://i.ytimg.com/vi/cH9-evSX-uI/maxresdefault.jpg" alt="Idle Loops Web Browser Game">
        <div class="card-row">
            <strong>Idle Loops Web Browser Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>14 videos</span><span>16.6K views</span><span>⏱ 11h 26m</span>
        </div>
    </div>
</a>