<a href="/game/increlution/"> <div class="game-card" data-updated="20220228" data-episodes="2" data-views="2536" data-duration="6887">
        <img src="https://i.ytimg.com/vi/tkGgzkmPCHg/maxresdefault.jpg" alt="Increlution">
        <div class="card-row">
            <strong>Increlution</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>2.5K views</span><span>⏱ 1h 54m</span>
        </div>
    </div>
</a>