<a href="/game/incremancer/"> <div class="game-card" data-updated="20220401" data-episodes="14" data-views="6512" data-duration="25775">
        <img src="https://i.ytimg.com/vi/Qouncj1g43I/maxresdefault.jpg" alt="Incremancer">
        <div class="card-row">
            <strong>Incremancer</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>14 videos</span><span>6.5K views</span><span>⏱ 7h 9m</span>
        </div>
    </div>
</a>