<a href="/game/industry-idle/"> <div class="game-card" data-updated="20220324" data-episodes="3" data-views="6608" data-duration="8497">
        <img src="https://i.ytimg.com/vi/WyJZUuPSHKc/maxresdefault.jpg" alt="Industry Idle">
        <div class="card-row">
            <strong>Industry Idle</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>6.6K views</span><span>⏱ 2h 21m</span>
        </div>
    </div>
</a>