<a href="https://www.youtube.com/watch?v=Xstt5AxaXQg&list=PLQ4IL4UVgQk56N5YD3DuDJ95RF74_FiX3" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240530" data-episodes="11" data-views="1210" data-duration="28878">
        <img src="https://i.ytimg.com/vi/Xstt5AxaXQg/maxresdefault.jpg" alt="Inscryption">
        <div class="card-row">
            <strong>Inscryption</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>11 videos</span><span>1.2K views</span><span>⏱ 8h 1m</span>
        </div>
    </div>
</a>