<a href="https://www.youtube.com/watch?v=Bgww74SxL0A&list=PLQ4IL4UVgQk64Sqsktk-x_v_doERe8yS2" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20200615" data-episodes="38" data-views="1481" data-duration="109536">
        <img src="https://i.ytimg.com/vi/Bgww74SxL0A/maxresdefault.jpg" alt="Kenshi">
        <div class="card-row">
            <strong>Kenshi</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>38 videos</span><span>1.5K views</span><span>⏱ 30h 25m</span>
        </div>
    </div>
</a>