<a href="/game/kingdom-two-crowns/"> <div class="game-card" data-updated="20200715" data-episodes="3" data-views="93" data-duration="4098">
        <img src="https://i.ytimg.com/vi/Mh_x2MIzqWg/maxresdefault.jpg" alt="Kingdom Two Crowns">
        <div class="card-row">
            <strong>Kingdom Two Crowns</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>93 views</span><span>⏱ 1h 8m</span>
        </div>
    </div>
</a>