<a href="/game/knightica/"> <div class="game-card" data-updated="20250329" data-episodes="2" data-views="1060" data-duration="7339">
        <img src="https://i.ytimg.com/vi/t_mpDmJhh30/maxresdefault.jpg" alt="Knightica">
        <div class="card-row">
            <strong>Knightica</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>1.1K views</span><span>⏱ 2h 2m</span>
        </div>
    </div>
</a>