<a href="/game/lets-play-monster-sanctuary/"> <div class="game-card" data-updated="20210829" data-episodes="4" data-views="67" data-duration="6873">
        <img src="https://i.ytimg.com/vi/f_fVSRhaTGg/maxresdefault.jpg" alt="Lets Play Monster Sanctuary">
        <div class="card-row">
            <strong>Lets Play Monster Sanctuary</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>67 views</span><span>⏱ 1h 54m</span>
        </div>
    </div>
</a>