<a href="/game/live-streams/"> <div class="game-card" data-updated="20241229" data-episodes="10" data-views="1247" data-duration="94052">
        <img src="https://i.ytimg.com/vi/vAnC1njxyI8/maxresdefault.jpg" alt="Live Streams">
        <div class="card-row">
            <strong>Live Streams</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>10 videos</span><span>1.2K views</span><span>⏱ 26h 7m</span>
        </div>
    </div>
</a>