<a href="/game/logicality-playthrough/"> <div class="game-card" data-updated="20220618" data-episodes="2" data-views="86" data-duration="7913">
        <img src="https://i.ytimg.com/vi/dvSYC7oa6a0/maxresdefault.jpg" alt="Logicality Playthrough">
        <div class="card-row">
            <strong>Logicality Playthrough</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>86 views</span><span>⏱ 2h 11m</span>
        </div>
    </div>
</a>