<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4cYVDhxfSybx_4H2tn1UHV" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220105" data-episodes="5" data-views="249" data-duration="8962">
        <img src="https://i.ytimg.com/vi/DKYNWzUINdw/maxresdefault.jpg" alt="Loop Hero Lets Play Series">
        <div class="card-row">
            <strong>Loop Hero Lets Play Series</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>249 views</span><span>⏱ 2h 29m</span>
        </div>
    </div>
</a>