<a href="/game/ltg2-live-streams/"> <div class="game-card" data-updated="20250301" data-episodes="13" data-views="1421" data-duration="155217">
        <img src="https://i.ytimg.com/vi/qxL5Vns2lzk/maxresdefault.jpg" alt="LTG2 Live Streams">
        <div class="card-row">
            <strong>LTG2 Live Streams</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>13 videos</span><span>1.4K views</span><span>⏱ 43h 6m</span>
        </div>
    </div>
</a>