<a href="https://www.youtube.com/watch?v=ixI4-OLD6J8&list=PLkwYKQUqZEUW9OlmMDEmzmCjMMviwpjmJ" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20250820" data-episodes="24" data-views="1997" data-duration="60300">
        <img src="https://i.ytimg.com/vi/ixI4-OLD6J8/maxresdefault.jpg" alt="Luck Be A Landlord NumberGoUp SlotMachine ReelBuilder Game">
        <div class="card-row">
            <strong>Luck Be A Landlord NumberGoUp SlotMachine ReelBuilder Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>24 videos</span>
            <span>2K views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 16h 45m</span>
                <span class="dur-short">⏱ 17h</span>
            </span>
        </div>
    </div>
</a>