<a href="https://www.youtube.com/watch?v=vdZJfU1cp14&list=PLQ4IL4UVgQk5YE5ER_-DqnDre0T_EKJJz" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20231204" data-episodes="4" data-views="1373" data-duration="18847">
        <img src="https://i.ytimg.com/vi/vdZJfU1cp14/maxresdefault.jpg" alt="Lucky Hero">
        <div class="card-row">
            <strong>Lucky Hero</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>1.4K views</span><span>⏱ 5h 14m</span>
        </div>
    </div>
</a>