<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk522_hGV2JGZCs3XhVQ5Isc" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20231107" data-episodes="14" data-views="49211" data-duration="37902">
        <img src="https://i.ytimg.com/vi/4cNsvW3ACWY/maxresdefault.jpg" alt="Magicraft S1 Steam Demo">
        <div class="card-row">
            <strong>Magicraft S1 Steam Demo</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>14 videos</span><span>49.2K views</span><span>⏱ 10h 31m</span>
        </div>
    </div>
</a>