<a href="https://www.youtube.com/watch?v=Awhj9Csv7hk&list=PLQ4IL4UVgQk4bg5XFNuuihu6PQPB_Jgmo" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20240722" data-episodes="9" data-views="4331" data-duration="26063">
        <img src="https://i.ytimg.com/vi/Awhj9Csv7hk/maxresdefault.jpg" alt="Magicraft S3 No MetaUnlocks">
        <div class="card-row">
            <strong>Magicraft S3 No MetaUnlocks</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>9 videos</span>
            <span>4.3K views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 7h 14m</span>
                <span class="dur-short">⏱ 7h</span>
            </span>
        </div>
    </div>
</a>