<a href="https://www.youtube.com/watch?v=xePjqHi7Sp0&list=PLQ4IL4UVgQk4xUwZELcTzN0RLEVFIGcRL" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240425" data-episodes="108" data-views="136560" data-duration="334270">
        <img src="https://i.ytimg.com/vi/xePjqHi7Sp0/maxresdefault.jpg" alt="Magicraft S2">
        <div class="card-row">
            <strong>Magicraft S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>108 videos</span><span>136.6K views</span><span>⏱ 92h 51m</span>
        </div>
    </div>
</a>