<a href="https://www.youtube.com/watch?v=P4MyZUB258E&list=PLQ4IL4UVgQk7Kyqlni3Bgd1tzQSq8-s_3" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20250910" data-episodes="51" data-views="62348" data-duration="313882">
        <img src="https://i.ytimg.com/vi/P4MyZUB258E/maxresdefault.jpg" alt="Magicraft S4 10 Release">
        <div class="card-row">
            <strong>Magicraft S4 10 Release</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>51 videos</span>
            <span>62.3K views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 87h 11m</span>
                <span class="dur-short">⏱ 87h</span>
            </span>
        </div>
    </div>
</a>