<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5mLS4hwuE3IGf7kpQTDzDl" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260121" data-episodes="126" data-views="34695" data-duration="445123">
        <img src="https://i.ytimg.com/vi/Y43oiLHNUmI/maxresdefault.jpg" alt="Megabonk">
        <div class="card-row">
            <strong>Megabonk</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>126 videos</span><span>34.7K views</span><span>⏱ 123h 38m</span>
        </div>
    </div>
</a>