<a href="/game/megabonk-under-6-min-unlock-challenges/"> <div class="game-card" data-updated="20251105" data-episodes="6" data-views="995" data-duration="4024">
        <img src="https://i.ytimg.com/vi/L2v3gQDx4KA/maxresdefault.jpg" alt="Megabonk Under 6 Min Unlock Challenges">
        <div class="card-row">
            <strong>Megabonk Under 6 Min Unlock Challenges</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>6 videos</span><span>995 views</span><span>⏱ 1h 7m</span>
        </div>
    </div>
</a>