<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk6H1W7mAJ6prADgYmaI1-74" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20221110" data-episodes="9" data-views="5903" data-duration="18018">
        <img src="https://i.ytimg.com/vi/oxi3JIwFytk/maxresdefault.jpg" alt="Melvor Idle">
        <div class="card-row">
            <strong>Melvor Idle</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>9 videos</span><span>5.9K views</span><span>⏱ 5h 0m</span>
        </div>
    </div>
</a>