<a href="/game/members-only-bonus-videos/"> <div class="game-card" data-updated="20230722" data-episodes="57" data-views="34" data-duration="124262">
        <img src="https://i.ytimg.com/vi/Z6K37JxUe1w/maxresdefault.jpg" alt="Members Only Bonus Videos">
        <div class="card-row">
            <strong>Members Only Bonus Videos</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>57 videos</span><span>34 views</span><span>⏱ 34h 31m</span>
        </div>
    </div>
</a>