<a href="https://www.youtube.com/watch?v=cS5IB3PBuRY&list=PLQ4IL4UVgQk6W2nRXbfVfxYihTE7n8Grs" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20221001" data-episodes="3" data-views="407" data-duration="11021">
        <img src="https://i.ytimg.com/vi/cS5IB3PBuRY/maxresdefault.jpg" alt="Mindustry Season 2">
        <div class="card-row">
            <strong>Mindustry Season 2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>407 views</span><span>⏱ 3h 3m</span>
        </div>
    </div>
</a>