<a href="https://www.youtube.com/watch?v=l7Pz3DDjl7M&list=PLQ4IL4UVgQk6luPFk4EToB9KIOrzkD66y" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20200529" data-episodes="63" data-views="11471" data-duration="142898">
        <img src="https://i.ytimg.com/vi/l7Pz3DDjl7M/maxresdefault.jpg" alt="Mindustry">
        <div class="card-row">
            <strong>Mindustry</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>63 videos</span><span>11.5K views</span><span>⏱ 39h 41m</span>
        </div>
    </div>
</a>