<a href="/game/minemogul-physics-based-factory-automation-game/"> <div class="game-card" data-updated="20251219" data-episodes="5" data-views="349" data-duration="17801">
        <img src="https://i.ytimg.com/vi/2Cgu7XGB5PI/maxresdefault.jpg" alt="MineMogul Physics Based Factory Automation Game">
        <div class="card-row">
            <strong>MineMogul Physics Based Factory Automation Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>349 views</span><span>⏱ 4h 56m</span>
        </div>
    </div>
</a>