<a href="https://www.youtube.com/watch?v=0ra2F2gw09E&list=PLQ4IL4UVgQk4qdi_AkN7VxCfVcY91jv05" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250224" data-episodes="3" data-views="404" data-duration="17522">
        <img src="https://i.ytimg.com/vi/0ra2F2gw09E/maxresdefault.jpg" alt="Monster Train 2 Demo">
        <div class="card-row">
            <strong>Monster Train 2 Demo</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>404 views</span><span>⏱ 4h 52m</span>
        </div>
    </div>
</a>