<a href="/game/monster-train-the-last-divinity-dlc/"> <div class="game-card" data-updated="20220415" data-episodes="9" data-views="184" data-duration="52261">
        <img src="https://i.ytimg.com/vi/bhzZypJt4vw/maxresdefault.jpg" alt="Monster Train The Last Divinity DLC">
        <div class="card-row">
            <strong>Monster Train The Last Divinity DLC</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>9 videos</span><span>184 views</span><span>⏱ 14h 31m</span>
        </div>
    </div>
</a>