<a href="https://www.youtube.com/watch?v=u3fJmpSVWI8&list=PLQ4IL4UVgQk7iRywRZq-gbREhP__wqfKc" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260208" data-episodes="29" data-views="703" data-duration="178380">
        <img src="https://i.ytimg.com/vi/u3fJmpSVWI8/maxresdefault.jpg" alt="Monster Train 2">
        <div class="card-row">
            <strong>Monster Train 2</strong>
            <span class="card-status purple">Paused</span>
        </div>
        <div class="card-row">
            <span>29 videos</span><span>703 views</span><span>⏱ 49h 33m</span>
        </div>
    </div>
</a>