<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUU3JHLu4uZZGOnTEFEqwItu" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250731" data-episodes="16" data-views="2830" data-duration="58843">
        <img src="https://i.ytimg.com/vi/IBTj5ztoGV0/maxresdefault.jpg" alt="Monster Battles S2">
        <div class="card-row">
            <strong>Monster Battles S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>16 videos</span><span>2.8K views</span><span>⏱ 16h 20m</span>
        </div>
    </div>
</a>