<a href="https://www.youtube.com/watch?v=eMScngbviyU&list=PLQ4IL4UVgQk5zCZEfN6iHyTjaJ2P-wfVI" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20211014" data-episodes="27" data-views="465" data-duration="123965">
        <img src="https://i.ytimg.com/vi/eMScngbviyU/maxresdefault.jpg" alt="Monster Train">
        <div class="card-row">
            <strong>Monster Train</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>27 videos</span><span>465 views</span><span>⏱ 34h 26m</span>
        </div>
    </div>
</a>