<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5JROBaVOq-D-9Y3NDW4CtK" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220803" data-episodes="4" data-views="1778" data-duration="6837">
        <img src="https://i.ytimg.com/vi/pXwogEZM1Ls/maxresdefault.jpg" alt="Multiply Factory">
        <div class="card-row">
            <strong>Multiply Factory</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>1.8K views</span><span>⏱ 1h 53m</span>
        </div>
    </div>
</a>