<a href="https://www.youtube.com/watch?v=rm41J202kiQ&list=PLQ4IL4UVgQk7nGy3RGto9hawWWsUC_Kmy" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240225" data-episodes="4" data-views="1614" data-duration="10460">
        <img src="https://i.ytimg.com/vi/rm41J202kiQ/maxresdefault.jpg" alt="Nearly Dead Live and Let Die">
        <div class="card-row">
            <strong>Nearly Dead Live and Let Die</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>1.6K views</span><span>⏱ 2h 54m</span>
        </div>
    </div>
</a>