<a href="/game/nitro-kid-demo/"> <div class="game-card" data-updated="20220619" data-episodes="6" data-views="120" data-duration="8385">
        <img src="https://i.ytimg.com/vi/MSy3scH8xuw/maxresdefault.jpg" alt="Nitro Kid Demo">
        <div class="card-row">
            <strong>Nitro Kid Demo</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>6 videos</span><span>120 views</span><span>⏱ 2h 19m</span>
        </div>
    </div>
</a>