<a href="https://www.youtube.com/watch?v=HUOzvrHXRTA&list=PLQ4IL4UVgQk4TGAMEURfUCd3ZAChYeX1b" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240816" data-episodes="443" data-views="220646" data-duration="1423967">
        <img src="https://i.ytimg.com/vi/HUOzvrHXRTA/maxresdefault.jpg" alt="Noita">
        <div class="card-row">
            <strong>Noita</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>443 videos</span><span>220.6K views</span><span>⏱ 395h 32m</span>
        </div>
    </div>
</a>