<a href="/game/noita-7-orb-into-first-ng-run-complete/"> <div class="game-card" data-updated="20230927" data-episodes="28" data-views="5853" data-duration="74167">
        <img src="https://i.ytimg.com/vi/OWH4kyTYRlU/maxresdefault.jpg" alt="Noita 7 Orb into first NG Run Complete">
        <div class="card-row">
            <strong>Noita 7 Orb into first NG Run Complete</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>28 videos</span><span>5.9K views</span><span>⏱ 20h 36m</span>
        </div>
    </div>
</a>