<a href="/game/nova-lands-free-steam-demo-full-playthrough/"> <div class="game-card" data-updated="20230619" data-episodes="3" data-views="428" data-duration="7894">
        <img src="https://i.ytimg.com/vi/99cEmyfHrtw/maxresdefault.jpg" alt="Nova Lands FREE Steam Demo Full Playthrough">
        <div class="card-row">
            <strong>Nova Lands FREE Steam Demo Full Playthrough</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>428 views</span><span>⏱ 2h 11m</span>
        </div>
    </div>
</a>