<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5m86BTthYh3tpdLtpsCNZn" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240814" data-episodes="29" data-views="1359" data-duration="88146">
        <img src="https://i.ytimg.com/vi/6uI14F828tw/maxresdefault.jpg" alt="Nova Drift">
        <div class="card-row">
            <strong>Nova Drift</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>29 videos</span><span>1.4K views</span><span>⏱ 24h 29m</span>
        </div>
    </div>
</a>