<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4lvne6htN4ezZuVdVg95Y7" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240313" data-episodes="22" data-views="7038" data-duration="70140">
        <img src="https://i.ytimg.com/vi/IkuhtH1mJpg/maxresdefault.jpg" alt="Orb of Creation">
        <div class="card-row">
            <strong>Orb of Creation</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>22 videos</span><span>7K views</span><span>⏱ 19h 29m</span>
        </div>
    </div>
</a>