<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk53rKq_Bj6yoDcVGLU4kJ90" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220411" data-episodes="1" data-views="66" data-duration="2744">
        <img src="https://i.ytimg.com/vi/TKm9iYoZj48/maxresdefault.jpg" alt="Orbles">
        <div class="card-row">
            <strong>Orbles</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>1 videos</span><span>66 views</span><span>⏱ 45m</span>
        </div>
    </div>
</a>