<a href="/game/paquerette-down-the-bunburrows-bunny-puzzle-game/"> <div class="game-card" data-updated="20250218" data-episodes="7" data-views="390" data-duration="22922">
        <img src="https://i.ytimg.com/vi/UgNwwfACS5o/maxresdefault.jpg" alt="Paquerette Down the Bunburrows Bunny Puzzle Game">
        <div class="card-row">
            <strong>Paquerette Down the Bunburrows Bunny Puzzle Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>7 videos</span><span>390 views</span><span>⏱ 6h 22m</span>
        </div>
    </div>
</a>