<a href="/game/plants-vs-zombies/"> <div class="game-card" data-updated="20260216" data-episodes="10" data-views="858" data-duration="18441">
        <img src="https://i.ytimg.com/vi/FnhPNqzY52U/maxresdefault.jpg" alt="Plants Vs Zombies">
        <div class="card-row">
            <strong>Plants Vs Zombies</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>10 videos</span><span>858 views</span><span>⏱ 5h 7m</span>
        </div>
    </div>
</a>