<a href="/game/poker-quest/"> <div class="game-card" data-updated="20240423" data-episodes="36" data-views="3382" data-duration="70192">
        <img src="https://i.ytimg.com/vi/aWNLxW7qecY/maxresdefault.jpg" alt="Poker Quest">
        <div class="card-row">
            <strong>Poker Quest</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>36 videos</span><span>3.4K views</span><span>⏱ 19h 29m</span>
        </div>
    </div>
</a>