<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4yLHj8RVyBypAcUMO4DyuB" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250213" data-episodes="5" data-views="555" data-duration="10575">
        <img src="https://i.ytimg.com/vi/fdXiIgd8Il0/maxresdefault.jpg" alt="Project Zomboid">
        <div class="card-row">
            <strong>Project Zomboid</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>555 views</span><span>⏱ 2h 56m</span>
        </div>
    </div>
</a>