<a href="https://www.youtube.com/watch?v=Ifw4cDIRp4U&list=PLQ4IL4UVgQk5hO_iXMKRAJBad8y3htFFR" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20230325" data-episodes="3" data-views="375" data-duration="4295">
        <img src="https://i.ytimg.com/vi/Ifw4cDIRp4U/maxresdefault.jpg" alt="Rain World">
        <div class="card-row">
            <strong>Rain World</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>375 views</span><span>⏱ 1h 11m</span>
        </div>
    </div>
</a>