<a href="/game/ring-of-pain/"> <div class="game-card" data-updated="20230904" data-episodes="26" data-views="634" data-duration="96723">
        <img src="https://i.ytimg.com/vi/JdoWUoWJxdc/maxresdefault.jpg" alt="Ring of Pain">
        <div class="card-row">
            <strong>Ring of Pain</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>26 videos</span><span>634 views</span><span>⏱ 26h 52m</span>
        </div>
    </div>
</a>