<a href="https://www.youtube.com/watch?v=OXtfyOrKCLk&list=PLQ4IL4UVgQk58YUAy82PMAW-mqXilaNHv" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20231114" data-episodes="9" data-views="1601" data-duration="20007">
        <img src="https://i.ytimg.com/vi/OXtfyOrKCLk/maxresdefault.jpg" alt="Rogue Legacy 2">
        <div class="card-row">
            <strong>Rogue Legacy 2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>9 videos</span>
            <span>1.6K views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 5h 33m</span>
                <span class="dur-short">⏱ 6h</span>
            </span>
        </div>
    </div>
</a>