<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4E24n11Y2u2WVGf9q16klE" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250206" data-episodes="3" data-views="18887" data-duration="14422">
        <img src="https://i.ytimg.com/vi/4FEcw4oeqEg/maxresdefault.jpg" alt="Sandustry">
        <div class="card-row">
            <strong>Sandustry</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>18.9K views</span><span>⏱ 4h 0m</span>
        </div>
    </div>
</a>