<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4CFHCofor3VwkstqwEienl" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250824" data-episodes="8" data-views="595" data-duration="65205">
        <img src="https://i.ytimg.com/vi/CbGJ0CNSNbg/maxresdefault.jpg" alt="Satisfactory S3">
        <div class="card-row">
            <strong>Satisfactory S3</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>8 videos</span><span>595 views</span><span>⏱ 18h 6m</span>
        </div>
    </div>
</a>