<a href="https://www.youtube.com/watch?v=GinsHvOuU1A&list=PLQ4IL4UVgQk60RXcV8v3qYaDsLLlBnr1c" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240818" data-episodes="80" data-views="21146" data-duration="273740">
        <img src="https://i.ytimg.com/vi/GinsHvOuU1A/maxresdefault.jpg" alt="Satisfactory">
        <div class="card-row">
            <strong>Satisfactory</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>80 videos</span><span>21.1K views</span><span>⏱ 76h 2m</span>
        </div>
    </div>
</a>