<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk5LHq2Lil25DXQ_mEWMQsUH" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260306" data-episodes="4" data-views="127" data-duration="21323">
        <img src="https://i.ytimg.com/vi/iU1Sz1sUhiM/maxresdefault.jpg" alt="Shapez 2 Factory Automation Game">
        <div class="card-row">
            <strong>Shapez 2 Factory Automation Game</strong>
            <span class="card-status green">Ongoing</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>127 views</span><span>⏱ 5h 55m</span>
        </div>
    </div>
</a>