<a href="https://www.youtube.com/watch?v=XnP06JR6oYk&list=PLQ4IL4UVgQk5dmpDHIYg5yFdR6EACSrBh" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20200716" data-episodes="12" data-views="3004" data-duration="17692">
        <img src="https://i.ytimg.com/vi/XnP06JR6oYk/maxresdefault.jpg" alt="Shapezio">
        <div class="card-row">
            <strong>Shapezio</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>12 videos</span><span>3K views</span><span>⏱ 4h 54m</span>
        </div>
    </div>
</a>