<a href="https://www.youtube.com/watch?v=zc9Pj8Eb2Pw&list=PLQ4IL4UVgQk5LHq2Lil25DXQ_mEWMQsUH" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20260317" data-episodes="12" data-views="532" data-duration="67184">
        <img src="https://i.ytimg.com/vi/zc9Pj8Eb2Pw/maxresdefault.jpg" alt="Shapez 2 Factory Automation Game">
        <div class="card-row">
            <strong>Shapez 2 Factory Automation Game</strong>
            <span class="card-status green">Ongoing</span>
        </div>
        <div class="card-row">
            <span>12 videos</span>
            <span>532 views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 18h 39m</span>
                <span class="dur-short">⏱ 19h</span>
            </span>
        </div>
    </div>
</a>