<a href="https://www.youtube.com/watch?v=BaEJI_gxp3g&list=PLQ4IL4UVgQk5LHq2Lil25DXQ_mEWMQsUH" target="_blank" rel="noopener noreferrer" class="filterable-card"> 
    <div class="game-card" data-updated="20260313" data-episodes="8" data-views="375" data-duration="43084">
        <img src="https://i.ytimg.com/vi/BaEJI_gxp3g/maxresdefault.jpg" alt="Shapez 2 Factory Automation Game">
        <div class="card-row">
            <strong>Shapez 2 Factory Automation Game</strong>
            <span class="card-status green">Ongoing</span>
        </div>
        <div class="card-row">
            <span>8 videos</span>
            <span>375 views</span>
            <span class="card-duration">
                <span class="dur-full">⏱ 11h 58m</span>
                <span class="dur-short">⏱ 12h</span>
            </span>
        </div>
    </div>
</a>