<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk6e4jMOmFQtDzz45rQCcjAd" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260205" data-episodes="2" data-views="122" data-duration="6085">
        <img src="https://i.ytimg.com/vi/vAc3BJZeuSw/maxresdefault.jpg" alt="Skull Horde">
        <div class="card-row">
            <strong>Skull Horde</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>122 views</span><span>⏱ 1h 41m</span>
        </div>
    </div>
</a>