<a href="/game/slay-the-spire-s4-the-quest-for-a-single-a20h-win/"> <div class="game-card" data-updated="20251108" data-episodes="4" data-views="126" data-duration="10979">
        <img src="https://i.ytimg.com/vi/rzNVEWgDzSc/maxresdefault.jpg" alt="Slay the Spire S4 The Quest for a single A20H Win">
        <div class="card-row">
            <strong>Slay the Spire S4 The Quest for a single A20H Win</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>126 views</span><span>⏱ 3h 2m</span>
        </div>
    </div>
</a>