<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4fVl5qXicTPTepGPX8WVqG" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20210626" data-episodes="18" data-views="521" data-duration="140248">
        <img src="https://i.ytimg.com/vi/2d-Goj5TH3M/maxresdefault.jpg" alt="Slay the Spire Daily">
        <div class="card-row">
            <strong>Slay the Spire Daily</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>18 videos</span><span>521 views</span><span>⏱ 38h 57m</span>
        </div>
    </div>
</a>