<a href="https://www.youtube.com/watch?v=_7Q5TVP3q24&list=PLQ4IL4UVgQk6fhVZLVeQkwS2rFNfoX0e3" target="_blank" rel="noopener noreferrer"> 
    <div class="game-card" data-updated="20260311" data-episodes="9" data-views="454" data-duration="84042">
        <img src="https://i.ytimg.com/vi/_7Q5TVP3q24/maxresdefault.jpg" alt="Slay The Spire 2">
        <div class="card-row">
            <strong>Slay The Spire 2</strong>
            <span class="card-status green">Ongoing</span>
        </div>
        <div class="card-row">
            <span>9 videos</span><span>454 views</span><span>⏱ 23h 20m</span>
        </div>
    </div>
</a>