<a href="/game/slay-the-spire/"> <div class="game-card" data-updated="20250310" data-episodes="3" data-views="161" data-duration="13341">
        <img src="https://i.ytimg.com/vi/hy7nTLp6E_M/maxresdefault.jpg" alt="Slay the Spire">
        <div class="card-row">
            <strong>Slay the Spire</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>161 views</span><span>⏱ 3h 42m</span>
        </div>
    </div>
</a>