<a href="https://www.youtube.com/watch?v=bM_nrNzwUdM&list=PLQ4IL4UVgQk5A3VHQ2T_vTFuuDbok2e3Z" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20231025" data-episodes="4" data-views="768" data-duration="7743">
        <img src="https://i.ytimg.com/vi/bM_nrNzwUdM/maxresdefault.jpg" alt="Slime 3K Rise Against Despot">
        <div class="card-row">
            <strong>Slime 3K Rise Against Despot</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>768 views</span><span>⏱ 2h 9m</span>
        </div>
    </div>
</a>