<a href="/game/steam-next-fest-2025-demos/"> <div class="game-card" data-updated="20250305" data-episodes="14" data-views="4487" data-duration="42505">
        <img src="https://i.ytimg.com/vi/ZtdfW6zAyvo/maxresdefault.jpg" alt="Steam Next Fest 2025 Demos">
        <div class="card-row">
            <strong>Steam Next Fest 2025 Demos</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>14 videos</span><span>4.5K views</span><span>⏱ 11h 48m</span>
        </div>
    </div>
</a>