<a href="/game/steam-next-fest-2022/"> <div class="game-card" data-updated="20220627" data-episodes="19" data-views="849" data-duration="38388">
        <img src="https://i.ytimg.com/vi/A5lh3aaP5iw/maxresdefault.jpg" alt="Steam Next Fest 2022">
        <div class="card-row">
            <strong>Steam Next Fest 2022</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>19 videos</span><span>849 views</span><span>⏱ 10h 39m</span>
        </div>
    </div>
</a>