<a href="/game/steam-next-fest-2023-playlist-discover-promising-demos-epic-gameplay/"> <div class="game-card" data-updated="20230625" data-episodes="4" data-views="506" data-duration="10923">
        <img src="https://i.ytimg.com/vi/ofDWmEMm_bo/maxresdefault.jpg" alt="Steam Next Fest 2023 Playlist Discover Promising Demos Epic Gameplay">
        <div class="card-row">
            <strong>Steam Next Fest 2023 Playlist Discover Promising Demos Epic Gameplay</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>506 views</span><span>⏱ 3h 2m</span>
        </div>
    </div>
</a>