<a href="https://www.youtube.com/watch?v=VuBFYFFd4TY&list=PLQ4IL4UVgQk5atjlHZLGA0GPKxtjb2iN4" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240107" data-episodes="5" data-views="2010" data-duration="11970">
        <img src="https://i.ytimg.com/vi/VuBFYFFd4TY/maxresdefault.jpg" alt="Stratum Descent">
        <div class="card-row">
            <strong>Stratum Descent</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>5 videos</span><span>2K views</span><span>⏱ 3h 19m</span>
        </div>
    </div>
</a>