<a href="https://www.youtube.com/watch?v=fIB5JcUaDKo&list=PLQ4IL4UVgQk42xh4CLndLDui-m2j19cAK" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20231223" data-episodes="21" data-views="8723" data-duration="40129">
        <img src="https://i.ytimg.com/vi/fIB5JcUaDKo/maxresdefault.jpg" alt="Stuck in Time">
        <div class="card-row">
            <strong>Stuck in Time</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>21 videos</span><span>8.7K views</span><span>⏱ 11h 8m</span>
        </div>
    </div>
</a>