<a href="https://www.youtube.com/watch?v=9pAef1ZJ6AQ&list=PLQ4IL4UVgQk70Olm3DYvu4PA89sGVxh9m" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220920" data-episodes="2" data-views="123" data-duration="3301">
        <img src="https://i.ytimg.com/vi/9pAef1ZJ6AQ/maxresdefault.jpg" alt="Super Auto Pets S2">
        <div class="card-row">
            <strong>Super Auto Pets S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>123 views</span><span>⏱ 55m</span>
        </div>
    </div>
</a>