<a href="/game/supercuts/"> <div class="game-card" data-updated="20240917" data-episodes="1" data-views="31" data-duration="38588">
        <img src="https://i.ytimg.com/vi/MmBeFtqFP7U/maxresdefault.jpg" alt="SuperCuts">
        <div class="card-row">
            <strong>SuperCuts</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>1 videos</span><span>31 views</span><span>⏱ 10h 43m</span>
        </div>
    </div>
</a>