<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk4flJB-5QNGBUrEEf2MkLat" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240418" data-episodes="4" data-views="1680" data-duration="7740">
        <img src="https://i.ytimg.com/vi/a2Ep-U_ZOuo/maxresdefault.jpg" alt="Swarm Grinder">
        <div class="card-row">
            <strong>Swarm Grinder</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>1.7K views</span><span>⏱ 2h 9m</span>
        </div>
    </div>
</a>