<a href="/game/takara-cards/"> <div class="game-card" data-updated="20230403" data-episodes="4" data-views="99" data-duration="8967">
        <img src="https://i.ytimg.com/vi/sOyjvRhsFjA/maxresdefault.jpg" alt="Takara Cards">
        <div class="card-row">
            <strong>Takara Cards</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>99 views</span><span>⏱ 2h 29m</span>
        </div>
    </div>
</a>