<a href="/game/terraria/"> <div class="game-card" data-updated="20200807" data-episodes="23" data-views="397" data-duration="34754">
        <img src="https://i.ytimg.com/vi/XVPl1JsNyvw/maxresdefault.jpg" alt="Terraria">
        <div class="card-row">
            <strong>Terraria</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>23 videos</span><span>397 views</span><span>⏱ 9h 39m</span>
        </div>
    </div>
</a>