<a href="https://www.youtube.com/watch?v=m5kY6k9GnSU&list=PLQ4IL4UVgQk7FbQNlhThkPipoZI1Y9-0K" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20200823" data-episodes="3" data-views="142" data-duration="5719">
        <img src="https://i.ytimg.com/vi/m5kY6k9GnSU/maxresdefault.jpg" alt="Terraria FTW">
        <div class="card-row">
            <strong>Terraria FTW</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>142 views</span><span>⏱ 1h 35m</span>
        </div>
    </div>
</a>