<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk420F950BVlg2Zhq0kTGXyU" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20250722" data-episodes="12" data-views="785" data-duration="67573">
        <img src="https://i.ytimg.com/vi/FNxmFHXb2-A/maxresdefault.jpg" alt="The Last Spell">
        <div class="card-row">
            <strong>The Last Spell</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>12 videos</span><span>785 views</span><span>⏱ 18h 46m</span>
        </div>
    </div>
</a>