<a href="https://www.youtube.com/watch?v=clPXpiDZzA8&list=PLQ4IL4UVgQk767QcUqTLsOFb4zCSSde6a" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240309" data-episodes="2" data-views="248" data-duration="9117">
        <img src="https://i.ytimg.com/vi/clPXpiDZzA8/maxresdefault.jpg" alt="the GNORP Apologue">
        <div class="card-row">
            <strong>the GNORP Apologue</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>248 views</span><span>⏱ 2h 31m</span>
        </div>
    </div>
</a>