<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUV9H9lYDjk3Cn60Ad4qCP8g" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20251224" data-episodes="19" data-views="2907" data-duration="86781">
        <img src="https://i.ytimg.com/vi/9svjYTS495o/maxresdefault.jpg" alt="The Bazaar">
        <div class="card-row">
            <strong>The Bazaar</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>19 videos</span><span>2.9K views</span><span>⏱ 24h 6m</span>
        </div>
    </div>
</a>