<a href="https://www.youtube.com/watch?v=jYZrzejEBEo&list=PLQ4IL4UVgQk7_jLDE6igjBReDHvyUjR8P" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20240311" data-episodes="4" data-views="456" data-duration="10489">
        <img src="https://i.ytimg.com/vi/jYZrzejEBEo/maxresdefault.jpg" alt="Thronefall Kingdom Tower Defense Game">
        <div class="card-row">
            <strong>Thronefall Kingdom Tower Defense Game</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>456 views</span><span>⏱ 2h 54m</span>
        </div>
    </div>
</a>