<a href="https://www.youtube.com/watch?v=JjdzEVlQHXc&list=PLQ4IL4UVgQk67XVhCwa22wSTsjKnGknMl" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20230521" data-episodes="2" data-views="190" data-duration="3401">
        <img src="https://i.ytimg.com/vi/JjdzEVlQHXc/maxresdefault.jpg" alt="Tower Deck">
        <div class="card-row">
            <strong>Tower Deck</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>190 views</span><span>⏱ 56m</span>
        </div>
    </div>
</a>