<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUU_dwjAX82QoPp9IByxofJr" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20251010" data-episodes="3" data-views="952" data-duration="15926">
        <img src="https://i.ytimg.com/vi/BFjSs-EaEwA/maxresdefault.jpg" alt="Toy Smash Kaboom!">
        <div class="card-row">
            <strong>Toy Smash Kaboom!</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>952 views</span><span>⏱ 4h 25m</span>
        </div>
    </div>
</a>