<a href="https://www.youtube.com/watch?v=44lss6lmUDA&list=PLQ4IL4UVgQk7ScMY05z_B9kInJp6_OiuG" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220429" data-episodes="2" data-views="184" data-duration="3523">
        <img src="https://i.ytimg.com/vi/44lss6lmUDA/maxresdefault.jpg" alt="Trigon Space Story">
        <div class="card-row">
            <strong>Trigon Space Story</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>184 views</span><span>⏱ 58m</span>
        </div>
    </div>
</a>