<a href="/game/trying-games/"> <div class="game-card" data-updated="20260305" data-episodes="421" data-views="217691" data-duration="1118082">
        <img src="https://i.ytimg.com/vi/_7Q5TVP3q24/maxresdefault.jpg" alt="Trying games">
        <div class="card-row">
            <strong>Trying games</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>421 videos</span><span>217.7K views</span><span>⏱ 310h 34m</span>
        </div>
    </div>
</a>