<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUWQaKeWvb2gVDZXmOPPLQ3F" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20251015" data-episodes="2" data-views="285" data-duration="6657">
        <img src="https://i.ytimg.com/vi/YE9_2-f55ao/maxresdefault.jpg" alt="Turnbound">
        <div class="card-row">
            <strong>Turnbound</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>285 views</span><span>⏱ 1h 50m</span>
        </div>
    </div>
</a>