<a href="https://www.youtube.com/watch?v=uEvpcM_tonk&list=PLQ4IL4UVgQk4Ab7YKL6l3cTI7VrtG2Uf6" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20251216" data-episodes="3" data-views="734" data-duration="10053">
        <img src="https://i.ytimg.com/vi/uEvpcM_tonk/maxresdefault.jpg" alt="Turnbound S2">
        <div class="card-row">
            <strong>Turnbound S2</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>3 videos</span><span>734 views</span><span>⏱ 2h 47m</span>
        </div>
    </div>
</a>