<a href="/game/undermine/"> <div class="game-card" data-updated="20240319" data-episodes="2" data-views="1546" data-duration="5763">
        <img src="https://i.ytimg.com/vi/y4xdDJ1Lkng/maxresdefault.jpg" alt="Undermine">
        <div class="card-row">
            <strong>Undermine</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>1.5K views</span><span>⏱ 1h 36m</span>
        </div>
    </div>
</a>