<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk63gS31Pvtcyjih-I2fKkTR" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20221024" data-episodes="82" data-views="61525" data-duration="214434">
        <img src="https://i.ytimg.com/vi/1n-s4hYDi7Y/maxresdefault.jpg" alt="Vampire Survivors Lets Play">
        <div class="card-row">
            <strong>Vampire Survivors Lets Play</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>82 videos</span><span>61.5K views</span><span>⏱ 59h 33m</span>
        </div>
    </div>
</a>