<a href="/game/vampire-survivors-s2-daily-lets-play-series/"> <div class="game-card" data-updated="20231223" data-episodes="43" data-views="4261" data-duration="96436">
        <img src="https://i.ytimg.com/vi/-QQVksvbGjI/maxresdefault.jpg" alt="Vampire Survivors S2 Daily Lets Play Series">
        <div class="card-row">
            <strong>Vampire Survivors S2 Daily Lets Play Series</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>43 videos</span><span>4.3K views</span><span>⏱ 26h 47m</span>
        </div>
    </div>
</a>