<a href="https://www.youtube.com/watch?v=aQ1CHA9YpzE&list=PLQ4IL4UVgQk6-ekcx64D71CzBokX3OdpU" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20230909" data-episodes="4" data-views="386" data-duration="8069">
        <img src="https://i.ytimg.com/vi/aQ1CHA9YpzE/maxresdefault.jpg" alt="Vectorio Early Access S3">
        <div class="card-row">
            <strong>Vectorio Early Access S3</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>386 views</span><span>⏱ 2h 14m</span>
        </div>
    </div>
</a>