<a href="https://www.youtube.com/watch?v=qbB3zLHLIWU&list=PLQ4IL4UVgQk7BRXzAf4XbcACqStGyTbVb" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20220612" data-episodes="4" data-views="218" data-duration="8835">
        <img src="https://i.ytimg.com/vi/qbB3zLHLIWU/maxresdefault.jpg" alt="Vertical Kingdom">
        <div class="card-row">
            <strong>Vertical Kingdom</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>4 videos</span><span>218 views</span><span>⏱ 2h 27m</span>
        </div>
    </div>
</a>