<a href="/game/ways-of-alchemy/"> <div class="game-card" data-updated="20250325" data-episodes="2" data-views="399" data-duration="5375">
        <img src="https://i.ytimg.com/vi/DtL5umoecVw/maxresdefault.jpg" alt="Ways of Alchemy">
        <div class="card-row">
            <strong>Ways of Alchemy</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>399 views</span><span>⏱ 1h 29m</span>
        </div>
    </div>
</a>