<a href="https://www.youtube.com/playlist?list=PLkwYKQUqZEUVW3aiiwJkIed2jyFeph3Nu" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260108" data-episodes="40" data-views="997" data-duration="61632">
        <img src="https://i.ytimg.com/vi/Tlmok0UjrDE/maxresdefault.jpg" alt="Wordle">
        <div class="card-row">
            <strong>Wordle</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>40 videos</span><span>997 views</span><span>⏱ 17h 7m</span>
        </div>
    </div>
</a>