<a href="https://www.youtube.com/playlist?list=PLQ4IL4UVgQk6xe7uv6QOOWj22ZS12FUFX" target="_blank" rel="noopener noreferrer"> <div class="game-card" data-updated="20260209" data-episodes="2" data-views="55" data-duration="7579">
        <img src="https://i.ytimg.com/vi/8xTx7x6Bra4/maxresdefault.jpg" alt="Zoominoes">
        <div class="card-row">
            <strong>Zoominoes</strong>
            <span class="card-status blue">Completed</span>
        </div>
        <div class="card-row">
            <span>2 videos</span><span>55 views</span><span>⏱ 2h 6m</span>
        </div>
    </div>
</a>