---
layout: watch
title: "001 Kerbal Space Program 2"
description: "Kerbal Space Program 2 Let's Play Season undefined Episode 1"
permalink: /yt/letstrygg/Kerbal-Space-Program-2/season-NaN/undefined-sNaNe01.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/2GUabetD5Ro/maxresdefault.jpg"
sync_date: "2023-02-25T12:30:02+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Elon and SpaceX got nothing on Bill Kerman - Rocket Genius First Time Playing Kerbal Space Program 2",
  "description": "Episode 1 of the Kerbal Space Program 2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/2GUabetD5Ro/maxresdefault.jpg",
  "uploadDate": "2023-02-25T12:30:02+00:00",
  "duration": "PT34M37S",
  "embedUrl": "https://www.youtube.com/embed/2GUabetD5Ro"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="2GUabetD5Ro"
      published="2/25/2023"
      duration="34:37"
      views="111"
      likes="7"
      comments="0"
      prev_url=""
      next_url=""
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 1</p>
      
      {% include_relative _manual/undefined-sNaNe01.html %}
  </div>
</div>