---
layout: watch
title: "258 Noita"
description: "Noita Let's Play Season undefined Episode 258"
permalink: /yt/letstrygg/Noita/season-NaN/undefined-sNaNe258.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/Ludy_HzbH6E/maxresdefault.jpg"
sync_date: "2023-05-21T13:00:13+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Noita Let's Play Ep 247",
  "description": "Episode 258 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Ludy_HzbH6E/maxresdefault.jpg",
  "uploadDate": "2023-05-21T13:00:13+00:00",
  "duration": "PT41M47S",
  "embedUrl": "https://www.youtube.com/embed/Ludy_HzbH6E"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Ludy_HzbH6E"
      published="5/21/2023"
      duration="41:47"
      views="222"
      likes="11"
      comments="3"
      prev_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe257.html"
      next_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe259.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 258</p>
      
      {% include_relative _manual/undefined-sNaNe258.html %}
  </div>
</div>