---
layout: watch
title: "054 Noita"
description: "Noita Let's Play Season undefined Episode 54"
permalink: /yt/letstrygg/Noita/season-NaN/undefined-sNaNe54.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/v3Mac0DgWGU/maxresdefault.jpg"
sync_date: "2022-09-11T00:26:39+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Lava, tale of a Lake. I am not very smart, happy to never do this again. Let's Play Noita Ep 54",
  "description": "Episode 54 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/v3Mac0DgWGU/maxresdefault.jpg",
  "uploadDate": "2022-09-11T00:26:39+00:00",
  "duration": "PT5H19M41S",
  "embedUrl": "https://www.youtube.com/embed/v3Mac0DgWGU"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="v3Mac0DgWGU"
      published="9/10/2022"
      duration="5:19:41"
      views="624"
      likes="23"
      comments="20"
      prev_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe53.html"
      next_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe55.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 54</p>
      
      {% include_relative _manual/undefined-sNaNe54.html %}
  </div>
</div>