---
layout: watch
title: "377 Noita"
description: "Noita Let's Play Season undefined Episode 377"
permalink: /yt/letstrygg/Noita/season-NaN/undefined-sNaNe377.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/IYEKEzh29hQ/maxresdefault.jpg"
sync_date: "2023-11-06T13:00:22+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Noita Beta Branch: Let's Play Ep 366",
  "description": "Episode 377 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/IYEKEzh29hQ/maxresdefault.jpg",
  "uploadDate": "2023-11-06T13:00:22+00:00",
  "duration": "PT37M20S",
  "embedUrl": "https://www.youtube.com/embed/IYEKEzh29hQ"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="IYEKEzh29hQ"
      published="11/6/2023"
      duration="37:20"
      views="295"
      likes="8"
      comments="6"
      prev_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe376.html"
      next_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe378.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 377</p>
      
      {% include_relative _manual/undefined-sNaNe377.html %}
  </div>
</div>