---
layout: watch
title: "068 Noita"
description: "Noita Let's Play Season undefined Episode 68"
permalink: /yt/letstrygg/Noita/season-NaN/undefined-sNaNe68.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/TJH9jjNXAmk/maxresdefault.jpg"
sync_date: "2022-09-17T17:00:22+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "I Am Worm Let's Play Noita Ep 68",
  "description": "Episode 68 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/TJH9jjNXAmk/maxresdefault.jpg",
  "uploadDate": "2022-09-17T17:00:22+00:00",
  "duration": "PT1H11M52S",
  "embedUrl": "https://www.youtube.com/embed/TJH9jjNXAmk"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="TJH9jjNXAmk"
      published="9/17/2022"
      duration="1:11:52"
      views="336"
      likes="15"
      comments="12"
      prev_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe67.html"
      next_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe69.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 68</p>
      
      {% include_relative _manual/undefined-sNaNe68.html %}
  </div>
</div>