---
layout: watch
title: "386 Noita"
description: "Noita Let's Play Season undefined Episode 386"
permalink: /yt/letstrygg/Noita/season-NaN/undefined-sNaNe386.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/d1v8FCrsCWI/maxresdefault.jpg"
sync_date: "2023-11-21T13:00:35+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Let's Play Noita Ep 375",
  "description": "Episode 386 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/d1v8FCrsCWI/maxresdefault.jpg",
  "uploadDate": "2023-11-21T13:00:35+00:00",
  "duration": "PT44M46S",
  "embedUrl": "https://www.youtube.com/embed/d1v8FCrsCWI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="d1v8FCrsCWI"
      published="11/21/2023"
      duration="44:46"
      views="151"
      likes="9"
      comments="8"
      prev_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe385.html"
      next_url="/yt/letstrygg/Noita/season-NaN/undefined-sNaNe387.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 386</p>
      
      {% include_relative _manual/undefined-sNaNe386.html %}
  </div>
</div>