---
layout: watch
title: "001 S2 Brotato"
description: "S2 Brotato Let's Play Season 2 Episode 1"
permalink: /yt/letstrygg/brotato/season-2/bro-s02e01.html
custom_css: "/css/game/bro-style.css"
thumbnail: "https://i.ytimg.com/vi/4maVj5BU4s4/maxresdefault.jpg"
sync_date: "2024-09-01T13:00:04+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "s2e13 Brotato",
  "description": "Episode 1 of the S2 Brotato Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/4maVj5BU4s4/maxresdefault.jpg",
  "uploadDate": "2024-09-01T13:00:04+00:00",
  "duration": "PT53M16S",
  "embedUrl": "https://www.youtube.com/embed/4maVj5BU4s4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="4maVj5BU4s4"
      published="9/1/2024"
      duration="53:16"
      views="67"
      likes="1"
      comments="0"
      prev_url=""
      next_url="/yt/letstrygg/brotato/season-2/bro-s02e02.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 1</p>
      
      {% include_relative _manual/bro-s02e01.html %}
  </div>
</div>