---
layout: watch
title: "015 Vampire Survivors S2 Daily Lets Play Series"
description: "Vampire Survivors S2 Daily Lets Play Series Let's Play Season undefined Episode 15"
permalink: /yt/letstrygg/Vampire-Survivors-S2-Daily-Lets-Play-Series/season-NaN/undefined-sNaNe15.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/zdUXQGGDwaE/maxresdefault.jpg"
sync_date: "2023-06-16T22:00:35+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Vampire Survivors Let's Play S2E15",
  "description": "Episode 15 of the Vampire Survivors S2 Daily Lets Play Series Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/zdUXQGGDwaE/maxresdefault.jpg",
  "uploadDate": "2023-06-16T22:00:35+00:00",
  "duration": "PT46M0S",
  "embedUrl": "https://www.youtube.com/embed/zdUXQGGDwaE"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="zdUXQGGDwaE"
      published="6/16/2023"
      duration="46:00"
      views="97"
      likes="7"
      comments="2"
      prev_url="/yt/letstrygg/Vampire-Survivors-S2-Daily-Lets-Play-Series/season-NaN/undefined-sNaNe14.html"
      next_url="/yt/letstrygg/Vampire-Survivors-S2-Daily-Lets-Play-Series/season-NaN/undefined-sNaNe16.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 15</p>
      
      {% include_relative _manual/undefined-sNaNe15.html %}
  </div>
</div>