---
layout: watch
title: "016 Vampire Survivors S2 Daily Lets Play Series"
description: "Vampire Survivors S2 Daily Lets Play Series Let's Play Season undefined Episode 16"
permalink: /yt/letstrygg/Vampire-Survivors-S2-Daily-Lets-Play-Series/season-NaN/undefined-sNaNe16.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/ELINW0HKslM/maxresdefault.jpg"
sync_date: "2023-06-18T22:00:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "A Giant Ball of Bone? Bone Zone: Vampire Survivors Let's Play S2E16",
  "description": "Episode 16 of the Vampire Survivors S2 Daily Lets Play Series Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/ELINW0HKslM/maxresdefault.jpg",
  "uploadDate": "2023-06-18T22:00:05+00:00",
  "duration": "PT1H6M1S",
  "embedUrl": "https://www.youtube.com/embed/ELINW0HKslM"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="ELINW0HKslM"
      published="6/18/2023"
      duration="1:06:01"
      views="107"
      likes="7"
      comments="0"
      prev_url="/yt/letstrygg/Vampire-Survivors-S2-Daily-Lets-Play-Series/season-NaN/undefined-sNaNe15.html"
      next_url="/yt/letstrygg/Vampire-Survivors-S2-Daily-Lets-Play-Series/season-NaN/undefined-sNaNe17.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 16</p>
      
      {% include_relative _manual/undefined-sNaNe16.html %}
  </div>
</div>