---
layout: watch
title: "009 Incremancer"
description: "Incremancer Let's Play Season 1 Episode 9"
permalink: /yt/letstrygg/incremancer/season-1/i-s01e09.html
custom_css: "/css/game/i-style.css"
thumbnail: "https://i.ytimg.com/vi/qCnjr21EpN8/maxresdefault.jpg"
sync_date: "2022-03-27T15:00:21+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Incremancer Lets Play Ep 9 Free Incremental Idle Browser Game Summon Undead Hordes as a Necromancer",
  "description": "Episode 9 of the Incremancer Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/qCnjr21EpN8/maxresdefault.jpg",
  "uploadDate": "2022-03-27T15:00:21+00:00",
  "duration": "PT28M15S",
  "embedUrl": "https://www.youtube.com/embed/qCnjr21EpN8"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="qCnjr21EpN8"
      published="3/27/2022"
      duration="28:15"
      views="259"
      likes="4"
      comments="0"
      prev_url="/yt/letstrygg/incremancer/season-1/i-s01e08.html"
      next_url="/yt/letstrygg/incremancer/season-1/i-s01e10.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 9</p>
      
      {% include_relative _manual/i-s01e09.html %}
  </div>
</div>