---
layout: watch
title: "004 Incremancer"
description: "Incremancer Let's Play Season 1 Episode 4"
permalink: /yt/letstrygg/incremancer/season-1/i-s01e04.html
custom_css: "/css/game/i-style.css"
thumbnail: "https://i.ytimg.com/vi/gjA-nrYrJ0I/maxresdefault.jpg"
sync_date: "2022-03-22T17:00:33+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Incremancer Lets Play Ep 4 Free Incremental Idle Browser Game Summon Undead Hordes as a Necromancer",
  "description": "Episode 4 of the Incremancer Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/gjA-nrYrJ0I/maxresdefault.jpg",
  "uploadDate": "2022-03-22T17:00:33+00:00",
  "duration": "PT28M36S",
  "embedUrl": "https://www.youtube.com/embed/gjA-nrYrJ0I"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="gjA-nrYrJ0I"
      published="Mar 22, 2022"
      duration="28m 36s"
      views="363"
      likes="5"
      comments="1"
      prev_url="/yt/letstrygg/incremancer/season-1/i-s01e03.html"
      next_url="/yt/letstrygg/incremancer/season-1/i-s01e05.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 4</p>
      
      {% include_relative _manual/i-s01e04.html %}
  </div>
</div>