<div class="fixed-layer pin-top pin-right flex-col-stack">
    <button id="themeToggleBtn" class="floating-btn tooltip-left" data-tooltip="Toggle Theme">
        <span id="theme-toggle-icon" class="material-symbols-outlined">bedtime</span>
    </button>

    <button id="openChatBtn" class="floating-btn tooltip-left mobile-pin-bottom-right" data-tooltip="Expand Chat" style="display: none;">
        <span class="material-symbols-outlined">chat_bubble</span>
        <span id="chat-online-count" class="chat-online-badge" style="display: none;">0</span>
    </button>
</div>