<div class="fixed-layer pin-top pin-right flex-col-stack">
    <button id="themeToggleBtn" class="floating-btn tooltip-right-edge" data-tooltip="Toggle Theme">
        <span id="theme-toggle-icon" class="material-symbols-outlined">bedtime</span>
    </button>

	<button id="openChatBtn" class="floating-btn tooltip-right-edge mobile-pin-bottom-right" data-tooltip="Expand Chat" style="display: none; position: relative;">
        <span class="material-symbols-outlined">chat_bubble</span>
        <span id="chat-online-count" class="chat-viewer-count" style="display: none;">0</span>
        <span id="chat-unread-dot" class="chat-unread-dot" style="display: none;"></span>
    </button>
</div>