---
layout: watch
title: "001 Silent A20H Slay The Spire"
description: "Silent A20H Slay The Spire Let's Play Season 4.1 Episode 1"
permalink: /yt/letstrygg/slay-the-spire/season-4/sts-s04e01.html
custom_css: "/css/game/sts-style.css"
thumbnail: "https://i.ytimg.com/vi/SMMsCdv64xs/maxresdefault.jpg"
sync_date: "2024-07-06T13:00:23+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "11 Silent A20H - Slay the Spire",
  "description": "Episode 1 of the Silent A20H Slay The Spire Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/SMMsCdv64xs/maxresdefault.jpg",
  "uploadDate": "2024-07-06T13:00:23+00:00",
  "duration": "PT2H30M5S",
  "embedUrl": "https://www.youtube.com/embed/SMMsCdv64xs"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="SMMsCdv64xs"
      published="7/6/2024"
      duration="2:30:05"
      views="121"
      likes="5"
      comments="6"
      prev_url=""
      next_url="/yt/letstrygg/slay-the-spire/season-4/sts-s04e02.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4.1, Episode 1</p>
      
      {% include_relative _manual/sts-s04e01.html %}
  </div>
</div>