---
layout: watch
title: "025 Wordle"
description: "Wordle Let's Play Season 1 Episode 25"
permalink: /yt/letstrygg/wordle/season-1/w-s01e25.html
custom_css: "/css/game/w-style.css"
thumbnail: "https://i.ytimg.com/vi/LlceUt5J5m4/maxresdefault.jpg"
sync_date: "2025-12-23T20:25:01+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "The Fastest To Ever Do It! Wordle No. 1648 and Connections",
  "description": "Episode 25 of the Wordle Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/LlceUt5J5m4/maxresdefault.jpg",
  "uploadDate": "2025-12-23T20:25:01+00:00",
  "duration": "PT6M8S",
  "embedUrl": "https://www.youtube.com/embed/LlceUt5J5m4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="LlceUt5J5m4"
      published="Dec 23, 2025"
      duration="6m 8s"
      views="51"
      likes="3"
      comments="1"
      prev_url="/yt/letstrygg/wordle/season-1/w-s01e24.html"
      next_url="/yt/letstrygg/wordle/season-1/w-s01e26.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 25</p>
      
      {% include_relative _manual/w-s01e25.html %}
  </div>
</div>