---
layout: watch
title: "009 Satisfactory 10 A New Factory Adventure"
description: "Satisfactory 10 A New Factory Adventure Let's Play Season 2 Episode 9"
permalink: /yt/letstrygg/satisfactory/season-2/s-s02e09.html
custom_css: "/css/game/s-style.css"
thumbnail: "https://i.ytimg.com/vi/2ixAojOpUgE/maxresdefault.jpg"
sync_date: "2024-09-18T13:00:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Tier 3 Unleashed - Satisfactory 1.0 Episode 9",
  "description": "Episode 9 of the Satisfactory 10 A New Factory Adventure Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/2ixAojOpUgE/maxresdefault.jpg",
  "uploadDate": "2024-09-18T13:00:05+00:00",
  "duration": "PT52M59S",
  "embedUrl": "https://www.youtube.com/embed/2ixAojOpUgE"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="2ixAojOpUgE"
      published="Sep 18, 2024"
      duration="52m 59s"
      views="144"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/satisfactory/season-2/s-s02e08.html"
      next_url="/yt/letstrygg/satisfactory/season-2/s-s02e10.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 9</p>
      
      {% include_relative _manual/s-s02e09.html %}
  </div>
</div>