---
layout: watch
title: "012 Ring Of Pain"
description: "Ring Of Pain Let's Play Season 1 Episode 12"
permalink: /yt/letstrygg/ring-of-pain/season-1/rop-s01e12.html
custom_css: "/css/game/rop-style.css"
thumbnail: "https://i.ytimg.com/vi/tD0gMWNq1uc/maxresdefault.jpg"
sync_date: "2023-06-21T19:00:31+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Ring of Pain Let's Play Ep 12",
  "description": "Episode 12 of the Ring Of Pain Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/tD0gMWNq1uc/maxresdefault.jpg",
  "uploadDate": "2023-06-21T19:00:31+00:00",
  "duration": "PT33M28S",
  "embedUrl": "https://www.youtube.com/embed/tD0gMWNq1uc"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="tD0gMWNq1uc"
      published="6/21/2023"
      duration="33:28"
      views="17"
      likes="1"
      comments="2"
      prev_url="/yt/letstrygg/ring-of-pain/season-1/rop-s01e11.html"
      next_url="/yt/letstrygg/ring-of-pain/season-1/rop-s01e13.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 12</p>
      
      {% include_relative _manual/rop-s01e12.html %}
  </div>
</div>