---
layout: watch
title: "018 Slay The Spire 2"
description: "Slay The Spire 2 Let's Play Season 1 Episode 18"
permalink: /yt/letstrygg/slay-the-spire-2/season-1/sts2-s01e18.html
custom_css: "/css/game/sts2-style.css"
thumbnail: "https://i.ytimg.com/vi/bV3c6XFB6Tk/maxresdefault.jpg"
sync_date: "2026-03-21T12:00:57+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "018 Slay the Spire 2",
  "description": "Episode 18 of the Slay The Spire 2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/bV3c6XFB6Tk/maxresdefault.jpg",
  "uploadDate": "2026-03-21T12:00:57+00:00",
  "duration": "PT1H41M2S",
  "embedUrl": "https://www.youtube.com/embed/bV3c6XFB6Tk"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="bV3c6XFB6Tk"
      published="Mar 21, 2026"
      duration="1h 41m 2s"
      views="30"
      likes="1"
      comments="1"
      prev_url="/yt/letstrygg/slay-the-spire-2/season-1/sts2-s01e17.html"
      next_url="/yt/letstrygg/slay-the-spire-2/season-1/sts2-s01e19.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 18</p>
      
      {% include_relative _manual/sts2-s01e18.html %}
  </div>
</div>