---
layout: watch
title: "035 Wordle"
description: "Wordle Let's Play Season undefined Episode 35"
permalink: /yt/ltg-plus/Wordle/season-NaN/undefined-sNaNe35.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/eHBMjKttvi4/maxresdefault.jpg"
sync_date: "2026-01-02T21:30:17+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Wordle No. 1658 and Connections and Sudoku",
  "description": "Episode 35 of the Wordle Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/eHBMjKttvi4/maxresdefault.jpg",
  "uploadDate": "2026-01-02T21:30:17+00:00",
  "duration": "PT1H19M48S",
  "embedUrl": "https://www.youtube.com/embed/eHBMjKttvi4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="eHBMjKttvi4"
      published="1/2/2026"
      duration="1:19:48"
      views="21"
      likes="2"
      comments="1"
      prev_url="/yt/ltg-plus/Wordle/season-NaN/undefined-sNaNe34.html"
      next_url="/yt/ltg-plus/Wordle/season-NaN/undefined-sNaNe36.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 35</p>
      
      {% include_relative _manual/undefined-sNaNe35.html %}
  </div>
</div>