---
layout: watch
title: "007 Shapez 2 Factory Automation Game"
description: "Shapez 2 Factory Automation Game Let's Play Season 1 Episode 7"
permalink: /yt/letstrygg/shapez-2/season-1/s2-s01e07.html
custom_css: "/css/game/s2-style.css"
thumbnail: "https://i.ytimg.com/vi/izYH-s98Y-8/maxresdefault.jpg"
sync_date: "2026-03-11T16:01:10+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "006 Shapez 2 - Factory Automation Game",
  "description": "Episode 7 of the Shapez 2 Factory Automation Game Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/izYH-s98Y-8/maxresdefault.jpg",
  "uploadDate": "2026-03-11T16:01:10+00:00",
  "duration": "PT1H24M8S",
  "embedUrl": "https://www.youtube.com/embed/izYH-s98Y-8"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="izYH-s98Y-8"
      published="Mar 11, 2026"
      duration="1h 24m 8s"
      views="12"
      likes="3"
      comments="0"
      prev_url="/yt/letstrygg/shapez-2/season-1/s2-s01e06.html"
      next_url="/yt/letstrygg/shapez-2/season-1/s2-s01e08.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 7</p>
      
      {% include_relative _manual/s2-s01e07.html %}
  </div>
</div>