---
layout: watch
title: "088 Megabonk"
description: "Megabonk Let's Play Season undefined Episode 88"
permalink: /yt/letstrygg/Megabonk/season-NaN/undefined-sNaNe88.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/__SND90oCds/maxresdefault.jpg"
sync_date: "2025-11-04T14:01:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "085 Kevin's Time, To Shine! Megabonk",
  "description": "Episode 88 of the Megabonk Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/__SND90oCds/maxresdefault.jpg",
  "uploadDate": "2025-11-04T14:01:05+00:00",
  "duration": "PT1H45M34S",
  "embedUrl": "https://www.youtube.com/embed/__SND90oCds"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="__SND90oCds"
      published="11/4/2025"
      duration="1:45:34"
      views="125"
      likes="3"
      comments="1"
      prev_url="/yt/letstrygg/Megabonk/season-NaN/undefined-sNaNe87.html"
      next_url="/yt/letstrygg/Megabonk/season-NaN/undefined-sNaNe89.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 88</p>
      
      {% include_relative _manual/undefined-sNaNe88.html %}
  </div>
</div>