---
layout: watch
title: "010 Inscryption"
description: "Inscryption Let's Play Season 1 Episode 10"
permalink: /yt/letstrygg/inscryption/season-1/i-s01e10.html
custom_css: "/css/game/i-style.css"
thumbnail: "https://i.ytimg.com/vi/zYPvabgVdbg/maxresdefault.jpg"
sync_date: "2024-05-29T13:00:55+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Inscryption Ep 10",
  "description": "Episode 10 of the Inscryption Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/zYPvabgVdbg/maxresdefault.jpg",
  "uploadDate": "2024-05-29T13:00:55+00:00",
  "duration": "PT36M31S",
  "embedUrl": "https://www.youtube.com/embed/zYPvabgVdbg"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="zYPvabgVdbg"
      published="May 29, 2024"
      duration="36m 31s"
      views="50"
      likes="2"
      comments="0"
      prev_url="/yt/letstrygg/inscryption/season-1/i-s01e09.html"
      next_url="/yt/letstrygg/inscryption/season-1/i-s01e11.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 10</p>
      
      {% include_relative _manual/i-s01e10.html %}
  </div>
</div>