---
layout: watch
title: "003 Tiny Auto Knights"
description: "Tiny Auto Knights Let's Play Season undefined Episode 3"
permalink: /yt/ltg-plus/Tiny-Auto-Knights/season-NaN/undefined-sNaNe03.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/ynCTsm1CDBY/maxresdefault.jpg"
sync_date: "2025-06-09T16:01:37+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Tiny Auto Knights 3",
  "description": "Episode 3 of the Tiny Auto Knights Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/ynCTsm1CDBY/maxresdefault.jpg",
  "uploadDate": "2025-06-09T16:01:37+00:00",
  "duration": "PT37M23S",
  "embedUrl": "https://www.youtube.com/embed/ynCTsm1CDBY"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="ynCTsm1CDBY"
      published="6/9/2025"
      duration="37:23"
      views="28"
      likes="1"
      comments="0"
      prev_url="/yt/ltg-plus/Tiny-Auto-Knights/season-NaN/undefined-sNaNe02.html"
      next_url="/yt/ltg-plus/Tiny-Auto-Knights/season-NaN/undefined-sNaNe04.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 3</p>
      
      {% include_relative _manual/undefined-sNaNe03.html %}
  </div>
</div>