---
layout: watch
title: "034 Satisfactory"
description: "Satisfactory Let's Play Season 1 Episode 34"
permalink: /yt/letstrygg/satisfactory/season-1/s-s01e34.html
custom_css: "/css/game/s-style.css"
thumbnail: "https://i.ytimg.com/vi/Xn1z8CaNEQI/maxresdefault.jpg"
sync_date: "2024-02-19T13:00:25+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Crude Oil & Refineries & Plastic & POWER SLUGS! Let's Play Satisfactory Ep 34",
  "description": "Episode 34 of the Satisfactory Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Xn1z8CaNEQI/maxresdefault.jpg",
  "uploadDate": "2024-02-19T13:00:25+00:00",
  "duration": "PT58M28S",
  "embedUrl": "https://www.youtube.com/embed/Xn1z8CaNEQI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Xn1z8CaNEQI"
      published="Feb 19, 2024"
      duration="58m 28s"
      views="109"
      likes="8"
      comments="0"
      prev_url="/yt/letstrygg/satisfactory/season-1/s-s01e33.html"
      next_url="/yt/letstrygg/satisfactory/season-1/s-s01e35.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 34</p>
      
      {% include_relative _manual/s-s01e34.html %}
  </div>
</div>