---
layout: watch
title: "055 Satisfactory"
description: "Satisfactory Let's Play Season 1 Episode 55"
permalink: /yt/letstrygg/satisfactory/season-1/s-s01e55.html
custom_css: "/css/game/s-style.css"
thumbnail: "https://i.ytimg.com/vi/oDHQuctpfko/maxresdefault.jpg"
sync_date: "2024-04-01T13:00:43+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Blueprint Testing: Let's Play Satisfactory Ep 55",
  "description": "Episode 55 of the Satisfactory Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/oDHQuctpfko/maxresdefault.jpg",
  "uploadDate": "2024-04-01T13:00:43+00:00",
  "duration": "PT1H12M17S",
  "embedUrl": "https://www.youtube.com/embed/oDHQuctpfko"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="oDHQuctpfko"
      published="Apr 1, 2024"
      duration="1h 12m 17s"
      views="143"
      likes="3"
      comments="2"
      prev_url="/yt/letstrygg/satisfactory/season-1/s-s01e54.html"
      next_url="/yt/letstrygg/satisfactory/season-1/s-s01e56.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 55</p>
      
      {% include_relative _manual/s-s01e55.html %}
  </div>
</div>