---
layout: watch
title: "018 Megabonk"
description: "Megabonk Let's Play Season 1 Episode 18"
permalink: /yt/letstrygg/megabonk/season-1/mb-s01e18.html
custom_css: "/css/game/mb-style.css"
thumbnail: "https://i.ytimg.com/vi/mE_Ee6Nc1Qs/maxresdefault.jpg"
sync_date: "2025-09-30T14:01:25+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "018 Who Ya Gonna Call? Megabonk",
  "description": "Episode 18 of the Megabonk Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/mE_Ee6Nc1Qs/maxresdefault.jpg",
  "uploadDate": "2025-09-30T14:01:25+00:00",
  "duration": "PT1H25M56S",
  "embedUrl": "https://www.youtube.com/embed/mE_Ee6Nc1Qs"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="mE_Ee6Nc1Qs"
      published="Sep 30, 2025"
      duration="1h 25m 56s"
      views="170"
      likes="4"
      comments="2"
      prev_url="/yt/letstrygg/megabonk/season-1/mb-s01e17.html"
      next_url="/yt/letstrygg/megabonk/season-1/mb-s01e19.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 18</p>
      
      {% include_relative _manual/mb-s01e18.html %}
  </div>
</div>