---
layout: watch
title: "004 Noita"
description: "Noita Let's Play Season 1 Episode 4"
permalink: /yt/letstrygg/noita/season-1/n-s01e04.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/wU7RRE0o2AA/maxresdefault.jpg"
sync_date: "2022-08-06T15:00:30+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Fire. FIRE!! Let's Play Noita Ep 4",
  "description": "Episode 4 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/wU7RRE0o2AA/maxresdefault.jpg",
  "uploadDate": "2022-08-06T15:00:30+00:00",
  "duration": "PT50M28S",
  "embedUrl": "https://www.youtube.com/embed/wU7RRE0o2AA"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="wU7RRE0o2AA"
      published="Aug 6, 2022"
      duration="50m 28s"
      views="5,405"
      likes="196"
      comments="29"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e03.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e05.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 4</p>
      
      {% include_relative _manual/n-s01e04.html %}
  </div>
</div>