---
layout: watch
title: "185 Noita"
description: "Noita Let's Play Season 1 Episode 185"
permalink: /yt/letstrygg/noita/season-1/n-s01e185.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/J7Hjv3CWBO4/maxresdefault.jpg"
sync_date: "2023-01-19T13:00:11+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Let's Play Noita Ep 185",
  "description": "Episode 185 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/J7Hjv3CWBO4/maxresdefault.jpg",
  "uploadDate": "2023-01-19T13:00:11+00:00",
  "duration": "PT32M10S",
  "embedUrl": "https://www.youtube.com/embed/J7Hjv3CWBO4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="J7Hjv3CWBO4"
      published="1/19/2023"
      duration="32:10"
      views="243"
      likes="11"
      comments="4"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e184.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e186.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 185</p>
      
      {% include_relative _manual/n-s01e185.html %}
  </div>
</div>