---
layout: watch
title: "340 Noita"
description: "Noita Let's Play Season 1 Episode 340"
permalink: /yt/letstrygg/noita/season-1/n-s01e340.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/NNBBzU1GB4w/maxresdefault.jpg"
sync_date: "2023-09-30T13:00:17+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Nightmarish New Goal! Let's Play Noita Ep 329",
  "description": "Episode 340 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/NNBBzU1GB4w/maxresdefault.jpg",
  "uploadDate": "2023-09-30T13:00:17+00:00",
  "duration": "PT32M33S",
  "embedUrl": "https://www.youtube.com/embed/NNBBzU1GB4w"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="NNBBzU1GB4w"
      published="Sep 30, 2023"
      duration="32m 33s"
      views="154"
      likes="11"
      comments="8"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e339.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e341.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 340</p>
      
      {% include_relative _manual/n-s01e340.html %}
  </div>
</div>