---
layout: watch
title: "176 Noita"
description: "Noita Let's Play Season 1 Episode 176"
permalink: /yt/letstrygg/noita/season-1/n-s01e176.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/Qrj2fMh-TSw/maxresdefault.jpg"
sync_date: "2023-01-01T13:00:09+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Purple Wizard Bouncing into 2023 Like.. Let's Play Noita Ep 176",
  "description": "Episode 176 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Qrj2fMh-TSw/maxresdefault.jpg",
  "uploadDate": "2023-01-01T13:00:09+00:00",
  "duration": "PT36M25S",
  "embedUrl": "https://www.youtube.com/embed/Qrj2fMh-TSw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Qrj2fMh-TSw"
      published="Jan 1, 2023"
      duration="36m 25s"
      views="259"
      likes="9"
      comments="5"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e175.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e177.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 176</p>
      
      {% include_relative _manual/n-s01e176.html %}
  </div>
</div>