---
layout: watch
title: "269 Noita"
description: "Noita Let's Play Season 1 Episode 269"
permalink: /yt/letstrygg/noita/season-1/n-s01e269.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/Arq-FCuETww/maxresdefault.jpg"
sync_date: "2023-06-11T13:00:06+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Fun times with Steve, Noita Let's Play Ep 258",
  "description": "Episode 269 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Arq-FCuETww/maxresdefault.jpg",
  "uploadDate": "2023-06-11T13:00:06+00:00",
  "duration": "PT37M37S",
  "embedUrl": "https://www.youtube.com/embed/Arq-FCuETww"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Arq-FCuETww"
      published="Jun 11, 2023"
      duration="37m 37s"
      views="218"
      likes="8"
      comments="6"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e268.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e270.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 269</p>
      
      {% include_relative _manual/n-s01e269.html %}
  </div>
</div>