---
layout: watch
title: "218 Noita"
description: "Noita Let's Play Season 1 Episode 218"
permalink: /yt/letstrygg/noita/season-1/n-s01e218.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/jkRTnYIEAJo/maxresdefault.jpg"
sync_date: "2023-03-24T13:00:27+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Let's Play Noita Ep 217",
  "description": "Episode 218 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/jkRTnYIEAJo/maxresdefault.jpg",
  "uploadDate": "2023-03-24T13:00:27+00:00",
  "duration": "PT25M44S",
  "embedUrl": "https://www.youtube.com/embed/jkRTnYIEAJo"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="jkRTnYIEAJo"
      published="3/24/2023"
      duration="25:44"
      views="303"
      likes="11"
      comments="4"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e217.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e219.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 218</p>
      
      {% include_relative _manual/n-s01e218.html %}
  </div>
</div>