---
layout: watch
title: "097 Noita"
description: "Noita Let's Play Season 1 Episode 97"
permalink: /yt/letstrygg/noita/season-1/n-s01e97.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/lgwH2iHR-vA/maxresdefault.jpg"
sync_date: "2022-10-11T13:00:35+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Noita is Art. Let's Play Noita Ep 97",
  "description": "Episode 97 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/lgwH2iHR-vA/maxresdefault.jpg",
  "uploadDate": "2022-10-11T13:00:35+00:00",
  "duration": "PT52M6S",
  "embedUrl": "https://www.youtube.com/embed/lgwH2iHR-vA"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="lgwH2iHR-vA"
      published="Oct 11, 2022"
      duration="52m 6s"
      views="240"
      likes="9"
      comments="4"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e96.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e98.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 97</p>
      
      {% include_relative _manual/n-s01e97.html %}
  </div>
</div>