---
layout: watch
title: "101 Noita"
description: "Noita Let's Play Season 1 Episode 101"
permalink: /yt/letstrygg/noita/season-1/n-s01e101.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/6ojz8ZjseGA/maxresdefault.jpg"
sync_date: "2022-10-15T13:00:04+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Reading is Hard. Let's Play Noita Ep 101",
  "description": "Episode 101 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/6ojz8ZjseGA/maxresdefault.jpg",
  "uploadDate": "2022-10-15T13:00:04+00:00",
  "duration": "PT1H4M58S",
  "embedUrl": "https://www.youtube.com/embed/6ojz8ZjseGA"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="6ojz8ZjseGA"
      published="10/15/2022"
      duration="1:04:58"
      views="299"
      likes="16"
      comments="10"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e100.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e102.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 101</p>
      
      {% include_relative _manual/n-s01e101.html %}
  </div>
</div>