---
layout: watch
title: "021 Noita"
description: "Noita Let's Play Season 1 Episode 21"
permalink: /yt/letstrygg/noita/season-1/n-s01e21.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/YghuohI797g/maxresdefault.jpg"
sync_date: "2022-08-21T13:26:45+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Unknown Title",
  "description": "Episode 21 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/YghuohI797g/maxresdefault.jpg",
  "uploadDate": "2022-08-21T13:26:45+00:00",
  "duration": "PT4H19M14S",
  "embedUrl": "https://www.youtube.com/embed/YghuohI797g"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="YghuohI797g"
      published="Aug 21, 2022"
      duration="4h 19m 14s"
      views="2,914"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e20.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e22.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 21</p>
      
      {% include_relative _manual/n-s01e21.html %}
  </div>
</div>