---
layout: watch
title: "322 Noita"
description: "Noita Let's Play Season 1 Episode 322"
permalink: /yt/letstrygg/noita/season-1/n-s01e322.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/YSsxc94JsJg/maxresdefault.jpg"
sync_date: "2023-09-12T13:00:23+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "7 Orb Fight for NG+ After Obs Settings Testing - Let's Play Noita Ep 311",
  "description": "Episode 322 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/YSsxc94JsJg/maxresdefault.jpg",
  "uploadDate": "2023-09-12T13:00:23+00:00",
  "duration": "PT43M28S",
  "embedUrl": "https://www.youtube.com/embed/YSsxc94JsJg"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="YSsxc94JsJg"
      published="9/12/2023"
      duration="43:28"
      views="166"
      likes="7"
      comments="10"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e321.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e323.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 322</p>
      
      {% include_relative _manual/n-s01e322.html %}
  </div>
</div>