---
layout: watch
title: "438 Noita"
description: "Noita Let's Play Season 1 Episode 438"
permalink: /yt/letstrygg/noita/season-1/n-s01e438.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/cupnfmcxbqw/maxresdefault.jpg"
sync_date: "2024-08-06T13:00:44+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "1. Noita Ep 426",
  "description": "Episode 438 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/cupnfmcxbqw/maxresdefault.jpg",
  "uploadDate": "2024-08-06T13:00:44+00:00",
  "duration": "PT25M20S",
  "embedUrl": "https://www.youtube.com/embed/cupnfmcxbqw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="cupnfmcxbqw"
      published="Aug 6, 2024"
      duration="25m 20s"
      views="283"
      likes="9"
      comments="8"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e437.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e439.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 438</p>
      
      {% include_relative _manual/n-s01e438.html %}
  </div>
</div>