---
layout: watch
title: "220 Noita"
description: "Noita Let's Play Season 1 Episode 220"
permalink: /yt/letstrygg/noita/season-1/n-s01e220.html
custom_css: "/css/game/n-style.css"
thumbnail: "https://i.ytimg.com/vi/eUUDVPxo3JY/maxresdefault.jpg"
sync_date: "2023-03-28T13:00:27+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Unknown Title",
  "description": "Episode 220 of the Noita Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/eUUDVPxo3JY/maxresdefault.jpg",
  "uploadDate": "2023-03-28T13:00:27+00:00",
  "duration": "PT42M20S",
  "embedUrl": "https://www.youtube.com/embed/eUUDVPxo3JY"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="eUUDVPxo3JY"
      published="Mar 28, 2023"
      duration="42m 20s"
      views="209"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/noita/season-1/n-s01e219.html"
      next_url="/yt/letstrygg/noita/season-1/n-s01e221.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 220</p>
      
      {% include_relative _manual/n-s01e220.html %}
  </div>
</div>