---
layout: watch
title: "052 GemCraft Iron Mode Playthrough"
description: "GemCraft Iron Mode Playthrough Let's Play Season undefined Episode 52"
permalink: /yt/letstrygg/GemCraft-Iron-Mode-Playthrough/season-NaN/undefined-sNaNe52.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/Riw5cpGo7vU/maxresdefault.jpg"
sync_date: "2021-10-01T13:00:09+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "GemCraft Frostborn Wrath Iron Wizard Mode Let's Play Ep 52",
  "description": "Episode 52 of the GemCraft Iron Mode Playthrough Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Riw5cpGo7vU/maxresdefault.jpg",
  "uploadDate": "2021-10-01T13:00:09+00:00",
  "duration": "PT39M35S",
  "embedUrl": "https://www.youtube.com/embed/Riw5cpGo7vU"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Riw5cpGo7vU"
      published="10/1/2021"
      duration="39:35"
      views="50"
      likes="2"
      comments="0"
      prev_url="/yt/letstrygg/GemCraft-Iron-Mode-Playthrough/season-NaN/undefined-sNaNe51.html"
      next_url="/yt/letstrygg/GemCraft-Iron-Mode-Playthrough/season-NaN/undefined-sNaNe53.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 52</p>
      
      {% include_relative _manual/undefined-sNaNe52.html %}
  </div>
</div>