---
layout: watch
title: "029 Vampire Survivors Lets Play"
description: "Vampire Survivors Lets Play Let's Play Season undefined Episode 29"
permalink: /yt/letstrygg/Vampire-Survivors-Lets-Play/season-NaN/undefined-sNaNe29.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/aj-TRe1eep8/maxresdefault.jpg"
sync_date: "2022-02-14T19:00:01+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Shocking Update! New Lightning Ring Transformation - Vampire Survivors Lets Play Ep 29",
  "description": "Episode 29 of the Vampire Survivors Lets Play Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/aj-TRe1eep8/maxresdefault.jpg",
  "uploadDate": "2022-02-14T19:00:01+00:00",
  "duration": "PT45M37S",
  "embedUrl": "https://www.youtube.com/embed/aj-TRe1eep8"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="aj-TRe1eep8"
      published="2/14/2022"
      duration="45:37"
      views="314"
      likes="6"
      comments="7"
      prev_url="/yt/letstrygg/Vampire-Survivors-Lets-Play/season-NaN/undefined-sNaNe28.html"
      next_url="/yt/letstrygg/Vampire-Survivors-Lets-Play/season-NaN/undefined-sNaNe30.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 29</p>
      
      {% include_relative _manual/undefined-sNaNe29.html %}
  </div>
</div>