---
layout: watch
title: "001 Machick 2"
description: "Machick 2 Let's Play Season 1 Episode 1"
permalink: /yt/letstrygg/machick-2/season-1/m2-s01e01.html
custom_css: "/css/game/m2-style.css"
thumbnail: "https://i.ytimg.com/vi/Jf0FmH5u3Ec/maxresdefault.jpg"
sync_date: "2025-09-19T22:35:01+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Chicken w/ a Wand! Machick 2 ep1",
  "description": "Episode 1 of the Machick 2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Jf0FmH5u3Ec/maxresdefault.jpg",
  "uploadDate": "2025-09-19T22:35:01+00:00",
  "duration": "PT29M9S",
  "embedUrl": "https://www.youtube.com/embed/Jf0FmH5u3Ec"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Jf0FmH5u3Ec"
      published="9/19/2025"
      duration="29:09"
      views="243"
      likes="8"
      comments="8"
      prev_url=""
      next_url="/yt/letstrygg/machick-2/season-1/m2-s01e02.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 1</p>
      
      {% include_relative _manual/m2-s01e01.html %}
  </div>
</div>