---
layout: watch
title: "034 Backpack Battles S4"
description: "Backpack Battles S4 Let's Play Season 4 Episode 34"
permalink: /yt/letstrygg/backpack-battles/s4/bbs-ep-34.html
custom_css: "/css/game/bbs-style.css"
thumbnail: "https://i.ytimg.com/vi/HiN7Tt2jLW8/maxresdefault.jpg"
sync_date: "2025-01-26T12:00:21+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Pop Loudly & Carry a Big Pan - BPB Ranked S4E36",
  "description": "Episode 34 of the Backpack Battles S4 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/HiN7Tt2jLW8/maxresdefault.jpg",
  "uploadDate": "2025-01-26T12:00:21+00:00",
  "duration": "PT1H54S",
  "embedUrl": "https://www.youtube.com/embed/HiN7Tt2jLW8"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="HiN7Tt2jLW8"
      published="Jan 26, 2025"
      duration="1h 0m 54s"
      views="276"
      likes="7"
      comments="7"
      prev_url="/yt/letstrygg/backpack-battles/s4/bbs-ep-33.html"
      next_url="/yt/letstrygg/backpack-battles/s4/bbs-ep-35.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4, Episode 34</p>
      
      {% include_relative _manual/bbs-ep-34.html %}
  </div>
</div>