---
layout: watch
title: "174 Backpack Battles S4"
description: "Backpack Battles S4 Let's Play Season 4 Episode 174"
permalink: /yt/letstrygg/backpack-battles/s4/bbs-ep-174.html
custom_css: "/css/game/bbs-style.css"
thumbnail: "https://i.ytimg.com/vi/Vuo1554Q0UM/maxresdefault.jpg"
sync_date: "2025-05-31T19:30:04+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Golem Frozen Flame, BPB Ranked S4E168",
  "description": "Episode 174 of the Backpack Battles S4 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Vuo1554Q0UM/maxresdefault.jpg",
  "uploadDate": "2025-05-31T19:30:04+00:00",
  "duration": "PT33M16S",
  "embedUrl": "https://www.youtube.com/embed/Vuo1554Q0UM"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Vuo1554Q0UM"
      published="May 31, 2025"
      duration="33m 16s"
      views="296"
      likes="10"
      comments="4"
      prev_url="/yt/letstrygg/backpack-battles/s4/bbs-ep-173.html"
      next_url="/yt/letstrygg/backpack-battles/s4/bbs-ep-175.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4, Episode 174</p>
      
      {% include_relative _manual/bbs-ep-174.html %}
  </div>
</div>