---
layout: watch
title: "002 Dwarves Glory Death And Loot S1"
description: "Dwarves Glory Death And Loot S1 Let's Play Season 1 Episode 2"
permalink: /yt/letstrygg/dwarves-glory-death-and-loot/season-1/dgdl-s01e02.html
custom_css: "/css/game/dgdl-style.css"
thumbnail: "https://i.ytimg.com/vi/4nix-b4oKo0/maxresdefault.jpg"
sync_date: "2022-11-13T15:00:03+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Dwarves Glory Death and Loot Lets Play Ep 2",
  "description": "Episode 2 of the Dwarves Glory Death And Loot S1 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/4nix-b4oKo0/maxresdefault.jpg",
  "uploadDate": "2022-11-13T15:00:03+00:00",
  "duration": "PT1H16M42S",
  "embedUrl": "https://www.youtube.com/embed/4nix-b4oKo0"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="4nix-b4oKo0"
      published="11/13/2022"
      duration="1:16:42"
      views="1,996"
      likes="27"
      comments="23"
      prev_url="/yt/letstrygg/dwarves-glory-death-and-loot/season-1/dgdl-s01e01.html"
      next_url="/yt/letstrygg/dwarves-glory-death-and-loot/season-1/dgdl-s01e03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 2</p>
      
      {% include_relative _manual/dgdl-s01e02.html %}
  </div>
</div>