---
layout: watch
title: "001 Scritchy Scratchy"
description: "Scritchy Scratchy Let's Play Season 1 Episode 1"
permalink: /yt/letstrygg/scritchy-scratchy/season-1/ss-s01e01.html
custom_css: "/css/game/ss-style.css"
thumbnail: "https://i.ytimg.com/vi/xA0tihaIXmo/maxresdefault.jpg"
upload_date: "2026-07-20T16:00:22+00:00"
duration_seconds: 2510
tags: ""
youtube_id: "xA0tihaIXmo"
game_slug: "scritchy-scratchy"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "001 6,000% Interest Loan? Yes Please! Scritchy Scratchy",
  "description": "Episode 1 of the Scritchy Scratchy Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/xA0tihaIXmo/maxresdefault.jpg",
  "uploadDate": "2026-07-20T16:00:22+00:00",
  "duration": "PT41M50S",
  "embedUrl": "https://www.youtube.com/embed/xA0tihaIXmo",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 111
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="xA0tihaIXmo"
      published="7/20/2026"
      duration="41m 50s"
      views="111"
      likes="4"
      comments="4"
      prev_url=""
      next_url="/yt/letstrygg/scritchy-scratchy/season-1/ss-s01e02.html"
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 1</p>
      
      

  </div>

  
</div>

