---
layout: watch
title: "014 Everything Is Crab Evolution Survival Game"
description: "Everything Is Crab Evolution Survival Game Let's Play Season undefined Episode 14"
permalink: /yt/letstrygg/Everything-is-Crab-Evolution-Survival-Game/season-NaN/undefined-sNaNe14.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/2yHlaMzYPAE/maxresdefault.jpg"
sync_date: "2026-01-19T12:00:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "014 Challenge 4: Amnesia, Everything is Crab",
  "description": "Episode 14 of the Everything Is Crab Evolution Survival Game Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/2yHlaMzYPAE/maxresdefault.jpg",
  "uploadDate": "2026-01-19T12:00:05+00:00",
  "duration": "PT44M38S",
  "embedUrl": "https://www.youtube.com/embed/2yHlaMzYPAE"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="2yHlaMzYPAE"
      published="1/19/2026"
      duration="44:38"
      views="208"
      likes="7"
      comments="2"
      prev_url="/yt/letstrygg/Everything-is-Crab-Evolution-Survival-Game/season-NaN/undefined-sNaNe13.html"
      next_url=""
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 14</p>
      
      {% include_relative _manual/undefined-sNaNe14.html %}
  </div>
</div>