---
layout: watch
title: "040 Gemcraft"
description: "Gemcraft Let's Play Season undefined Episode 40"
permalink: /yt/letstrygg/Gemcraft/season-NaN/undefined-sNaNe40.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/ynAsQgp4m2g/maxresdefault.jpg"
sync_date: "2020-03-15T20:00:04+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Gemcraft Frostborn Wrath Let's Play Episode 40",
  "description": "Episode 40 of the Gemcraft Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/ynAsQgp4m2g/maxresdefault.jpg",
  "uploadDate": "2020-03-15T20:00:04+00:00",
  "duration": "PT28M33S",
  "embedUrl": "https://www.youtube.com/embed/ynAsQgp4m2g"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="ynAsQgp4m2g"
      published="3/15/2020"
      duration="28:33"
      views="245"
      likes="11"
      comments="0"
      prev_url="/yt/letstrygg/Gemcraft/season-NaN/undefined-sNaNe39.html"
      next_url="/yt/letstrygg/Gemcraft/season-NaN/undefined-sNaNe41.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 40</p>
      
      {% include_relative _manual/undefined-sNaNe40.html %}
  </div>
</div>