---
layout: watch
title: "029 Gemcraft"
description: "Gemcraft Let's Play Season undefined Episode 29"
permalink: /yt/letstrygg/Gemcraft/season-NaN/undefined-sNaNe29.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/HdJTtHLCYnU/maxresdefault.jpg"
sync_date: "2020-03-04T20:00:03+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Gemcraft Frostborn Wrath Let's Play Episode 29",
  "description": "Episode 29 of the Gemcraft Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/HdJTtHLCYnU/maxresdefault.jpg",
  "uploadDate": "2020-03-04T20:00:03+00:00",
  "duration": "PT25M31S",
  "embedUrl": "https://www.youtube.com/embed/HdJTtHLCYnU"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="HdJTtHLCYnU"
      published="3/4/2020"
      duration="25:31"
      views="258"
      likes="12"
      comments="5"
      prev_url="/yt/letstrygg/Gemcraft/season-NaN/undefined-sNaNe28.html"
      next_url="/yt/letstrygg/Gemcraft/season-NaN/undefined-sNaNe30.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 29</p>
      
      {% include_relative _manual/undefined-sNaNe29.html %}
  </div>
</div>