---
layout: watch
title: "008 Monster Train The Last Divinity DLC"
description: "Monster Train The Last Divinity DLC Let's Play Season 2 Episode 8"
permalink: /yt/letstrygg/monster-train/season-2/mt-s02e08.html
custom_css: "/css/game/mt-style.css"
thumbnail: "https://i.ytimg.com/vi/2UptYPtSbUQ/maxresdefault.jpg"
sync_date: "2022-04-14T15:00:04+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Monster Train The Last Divinity DLC Ep 8",
  "description": "Episode 8 of the Monster Train The Last Divinity DLC Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/2UptYPtSbUQ/maxresdefault.jpg",
  "uploadDate": "2022-04-14T15:00:04+00:00",
  "duration": "PT48M23S",
  "embedUrl": "https://www.youtube.com/embed/2UptYPtSbUQ"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="2UptYPtSbUQ"
      published="4/14/2022"
      duration="48:23"
      views="8"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/monster-train/season-2/mt-s02e07.html"
      next_url="/yt/letstrygg/monster-train/season-2/mt-s02e09.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 8</p>
      
      {% include_relative _manual/mt-s02e08.html %}
  </div>
</div>