---
layout: watch
title: "025 Backpack Battles S3"
description: "Backpack Battles S3 Let's Play Season 3 Episode 25"
permalink: /yt/letstrygg/backpack-battles/s3/bbs-ep-25.html
custom_css: "/css/game/bbs-style.css"
thumbnail: "https://i.ytimg.com/vi/--5VMfr29vA/maxresdefault.jpg"
sync_date: "2024-08-26T14:00:00+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "s3e25 Vamp Giraffe Reaper Build: RNG Backpack Battles, Gold 31",
  "description": "Episode 25 of the Backpack Battles S3 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/--5VMfr29vA/maxresdefault.jpg",
  "uploadDate": "2024-08-26T14:00:00+00:00",
  "duration": "PT45M43S",
  "embedUrl": "https://www.youtube.com/embed/--5VMfr29vA"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="--5VMfr29vA"
      published="Aug 26, 2024"
      duration="45m 43s"
      views="203"
      likes="9"
      comments="2"
      prev_url="/yt/letstrygg/backpack-battles/s3/bbs-ep-24.html"
      next_url="/yt/letstrygg/backpack-battles/s3/bbs-ep-26.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 3, Episode 25</p>
      
      {% include_relative _manual/bbs-ep-25.html %}
  </div>
</div>