---
layout: watch
title: "009 Backpack Battles S3"
description: "Backpack Battles S3 Let's Play Season 3 Episode 9"
permalink: /yt/letstrygg/backpack-battles/s3/bbs-ep-9.html
custom_css: "/css/game/bbs-style.css"
thumbnail: "https://i.ytimg.com/vi/93WgykHyU28/maxresdefault.jpg"
sync_date: "2024-08-16T14:00:08+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "S3E9 RNG Backpack Battles, Ranger - Bronze 48",
  "description": "Episode 9 of the Backpack Battles S3 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/93WgykHyU28/maxresdefault.jpg",
  "uploadDate": "2024-08-16T14:00:08+00:00",
  "duration": "PT42M11S",
  "embedUrl": "https://www.youtube.com/embed/93WgykHyU28"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="93WgykHyU28"
      published="Aug 16, 2024"
      duration="42m 11s"
      views="177"
      likes="9"
      comments="1"
      prev_url="/yt/letstrygg/backpack-battles/s3/bbs-ep-8.html"
      next_url="/yt/letstrygg/backpack-battles/s3/bbs-ep-10.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 3, Episode 9</p>
      
      {% include_relative _manual/bbs-ep-9.html %}
  </div>
</div>