---
layout: watch
title: "067 Backpack Battles S3"
description: "Backpack Battles S3 Let's Play Season 3 Episode 67"
permalink: /yt/letstrygg/backpack-battles/s3/bbs-ep-67.html
custom_css: "/css/game/bbs-style.css"
thumbnail: "https://i.ytimg.com/vi/NXU5nMVb63o/maxresdefault.jpg"
sync_date: "2024-09-18T12:00:24+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "HARD-Counter! Crit v. Anti-Crit: s3e66 RNG Backpack Battles",
  "description": "Episode 67 of the Backpack Battles S3 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/NXU5nMVb63o/maxresdefault.jpg",
  "uploadDate": "2024-09-18T12:00:24+00:00",
  "duration": "PT1H13M8S",
  "embedUrl": "https://www.youtube.com/embed/NXU5nMVb63o"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="NXU5nMVb63o"
      published="Sep 18, 2024"
      duration="1h 13m 8s"
      views="268"
      likes="8"
      comments="0"
      prev_url="/yt/letstrygg/backpack-battles/s3/bbs-ep-66.html"
      next_url="/yt/letstrygg/backpack-battles/s3/bbs-ep-68.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 3, Episode 67</p>
      
      {% include_relative _manual/bbs-ep-67.html %}
  </div>
</div>