---
layout: watch
title: "008 Vectorio Early Access Playthrough"
description: "Vectorio Early Access Playthrough Let's Play Season 1 Episode 8"
permalink: /yt/letstrygg/vectorio/season-1/v-s01e08.html
custom_css: "/css/game/v-style.css"
thumbnail: "https://i.ytimg.com/vi/kN0ZgoGQ5SQ/maxresdefault.jpg"
sync_date: "2021-08-24T15:00:18+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Vectorio Ep 8",
  "description": "Episode 8 of the Vectorio Early Access Playthrough Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/kN0ZgoGQ5SQ/maxresdefault.jpg",
  "uploadDate": "2021-08-24T15:00:18+00:00",
  "duration": "PT21M3S",
  "embedUrl": "https://www.youtube.com/embed/kN0ZgoGQ5SQ"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="kN0ZgoGQ5SQ"
      published="8/24/2021"
      duration="21:03"
      views="48"
      likes="3"
      comments="5"
      prev_url="/yt/letstrygg/vectorio/season-1/v-s01e07.html"
      next_url="/yt/letstrygg/vectorio/season-1/v-s01e09.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 8</p>
      
      {% include_relative _manual/v-s01e08.html %}
  </div>
</div>