---
layout: watch
title: "025 Nova Drift"
description: "Nova Drift Let's Play Season 1 Episode 25"
permalink: /yt/letstrygg/nova-drift/season-1/nd-s01e25.html
custom_css: "/css/game/nd-style.css"
thumbnail: "https://i.ytimg.com/vi/jlGQ4YnWNxg/maxresdefault.jpg"
sync_date: "2022-10-01T17:00:20+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Enemies 2.0 Update - Nova Drift Let's Play Ep 25",
  "description": "Episode 25 of the Nova Drift Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/jlGQ4YnWNxg/maxresdefault.jpg",
  "uploadDate": "2022-10-01T17:00:20+00:00",
  "duration": "PT56M33S",
  "embedUrl": "https://www.youtube.com/embed/jlGQ4YnWNxg"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="jlGQ4YnWNxg"
      published="10/1/2022"
      duration="56:33"
      views="78"
      likes="3"
      comments="2"
      prev_url="/yt/letstrygg/nova-drift/season-1/nd-s01e24.html"
      next_url="/yt/letstrygg/nova-drift/season-1/nd-s01e26.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 25</p>
      
      {% include_relative _manual/nd-s01e25.html %}
  </div>
</div>