---
layout: watch
title: "007 Slay The Spire 2"
description: "Slay The Spire 2 Let's Play Season 1 Episode 7"
permalink: /yt/letstrygg/slay-the-spire-2/s1/sts2-ep-7.html
custom_css: "/css/game/sts2-style.css"
thumbnail: "https://i.ytimg.com/vi/XUOXMskgRx4/maxresdefault.jpg"
sync_date: "2026-03-09T16:00:53+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "007 First Card Prepared+? Slay the Spire 2",
  "description": "Episode 7 of the Slay The Spire 2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/XUOXMskgRx4/maxresdefault.jpg",
  "uploadDate": "2026-03-09T16:00:53+00:00",
  "duration": "PT2H48M35S",
  "embedUrl": "https://www.youtube.com/embed/XUOXMskgRx4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="XUOXMskgRx4"
      published="Mar 9, 2026"
      duration="2h 48m 35s"
      views="71"
      likes="5"
      comments="0"
      prev_url="/yt/letstrygg/slay-the-spire-2/s1/sts2-ep-6.html"
      next_url="/yt/letstrygg/slay-the-spire-2/s1/sts2-ep-8.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 7</p>
      
      {% include_relative _manual/sts2-ep-7.html %}
  </div>
</div>