---
layout: watch
title: "002 Inscryption"
description: "Inscryption Let's Play Season undefined Episode 2"
permalink: /yt/letstrygg/Inscryption/season-NaN/undefined-sNaNe02.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/_I1tuBXmIcg/maxresdefault.jpg"
sync_date: "2024-05-21T14:30:18+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Cursed Pelts, Cockroach, Stinkbug: Inscryption Let's Play Ep 2",
  "description": "Episode 2 of the Inscryption Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/_I1tuBXmIcg/maxresdefault.jpg",
  "uploadDate": "2024-05-21T14:30:18+00:00",
  "duration": "PT1H10S",
  "embedUrl": "https://www.youtube.com/embed/_I1tuBXmIcg"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="_I1tuBXmIcg"
      published="5/21/2024"
      duration="1:00:10"
      views="134"
      likes="7"
      comments="1"
      prev_url="/yt/letstrygg/Inscryption/season-NaN/undefined-sNaNe01.html"
      next_url="/yt/letstrygg/Inscryption/season-NaN/undefined-sNaNe03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 2</p>
      
      {% include_relative _manual/undefined-sNaNe02.html %}
  </div>
</div>