---
layout: watch
title: "014 Poker Quest"
description: "Poker Quest Let's Play Season 1 Episode 14"
permalink: /yt/letstrygg/poker-quest/season-1/pq-s01e14.html
custom_css: "/css/game/pq-style.css"
thumbnail: "https://i.ytimg.com/vi/W1RcVox5Btw/maxresdefault.jpg"
sync_date: "2022-12-05T15:00:13+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Curses! Our Ninjas Journey Continues Let's Play Poker Quest Ep 14",
  "description": "Episode 14 of the Poker Quest Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/W1RcVox5Btw/maxresdefault.jpg",
  "uploadDate": "2022-12-05T15:00:13+00:00",
  "duration": "PT39M51S",
  "embedUrl": "https://www.youtube.com/embed/W1RcVox5Btw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="W1RcVox5Btw"
      published="Dec 5, 2022"
      duration="39m 51s"
      views="84"
      likes="5"
      comments="4"
      prev_url="/yt/letstrygg/poker-quest/season-1/pq-s01e13.html"
      next_url="/yt/letstrygg/poker-quest/season-1/pq-s01e15.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 14</p>
      
      {% include_relative _manual/pq-s01e14.html %}
  </div>
</div>