---
layout: watch
title: "003 Backpack Battles Beta"
description: "Backpack Battles Beta Let's Play Season undefined Episode 3"
permalink: /yt/ltg-plus/Backpack-Battles-Beta/season-NaN/undefined-sNaNe03.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/z4Pthh3htfE/maxresdefault.jpg"
sync_date: "2024-06-18T12:01:02+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Prismatic Sword is Broken! Pyro, Beta Backpack Battles Ep 18",
  "description": "Episode 3 of the Backpack Battles Beta Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/z4Pthh3htfE/maxresdefault.jpg",
  "uploadDate": "2024-06-18T12:01:02+00:00",
  "duration": "PT1H10M1S",
  "embedUrl": "https://www.youtube.com/embed/z4Pthh3htfE"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="z4Pthh3htfE"
      published="6/18/2024"
      duration="1:10:01"
      views="323"
      likes="10"
      comments="1"
      prev_url="/yt/ltg-plus/Backpack-Battles-Beta/season-NaN/undefined-sNaNe02.html"
      next_url="/yt/ltg-plus/Backpack-Battles-Beta/season-NaN/undefined-sNaNe04.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 3</p>
      
      {% include_relative _manual/undefined-sNaNe03.html %}
  </div>
</div>