---
layout: watch
title: "007 Magicraft S4 10 Release"
description: "Magicraft S4 10 Release Let's Play Season 4 Episode 7"
permalink: /yt/letstrygg/magicraft/season-4/m-s04e07.html
custom_css: "/css/game/m-style.css"
thumbnail: "https://i.ytimg.com/vi/k60cdItSAyw/maxresdefault.jpg"
sync_date: "2024-11-12T17:00:47+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Cthulhu (NM3), Magicraft 1.0 Ep7",
  "description": "Episode 7 of the Magicraft S4 10 Release Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/k60cdItSAyw/maxresdefault.jpg",
  "uploadDate": "2024-11-12T17:00:47+00:00",
  "duration": "PT2H16M23S",
  "embedUrl": "https://www.youtube.com/embed/k60cdItSAyw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="k60cdItSAyw"
      published="Nov 12, 2024"
      duration="2h 16m 23s"
      views="1,212"
      likes="22"
      comments="4"
      prev_url="/yt/letstrygg/magicraft/season-4/m-s04e06.html"
      next_url="/yt/letstrygg/magicraft/season-4/m-s04e08.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 4, Episode 7</p>
      
      {% include_relative _manual/m-s04e07.html %}
  </div>
</div>