---
layout: watch
title: "009 Vectorio Early Access Playthrough"
description: "Vectorio Early Access Playthrough Let's Play Season undefined Episode 9"
permalink: /yt/letstrygg/Vectorio-Early-Access-Playthrough/season-NaN/undefined-sNaNe09.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/jU4hD4PvJuI/maxresdefault.jpg"
sync_date: "2021-08-26T15:00:20+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Vectorio Ep 9",
  "description": "Episode 9 of the Vectorio Early Access Playthrough Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/jU4hD4PvJuI/maxresdefault.jpg",
  "uploadDate": "2021-08-26T15:00:20+00:00",
  "duration": "PT20M55S",
  "embedUrl": "https://www.youtube.com/embed/jU4hD4PvJuI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="jU4hD4PvJuI"
      published="8/26/2021"
      duration="20:55"
      views="55"
      likes="4"
      comments="4"
      prev_url="/yt/letstrygg/Vectorio-Early-Access-Playthrough/season-NaN/undefined-sNaNe08.html"
      next_url=""
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 9</p>
      
      {% include_relative _manual/undefined-sNaNe09.html %}
  </div>
</div>