---
layout: watch
title: "175 Backpack Battles S2"
description: "Backpack Battles S2 Let's Play Season 2 Episode 175"
permalink: /yt/letstrygg/backpack-battles/s2/bbs-ep-175.html
custom_css: "/css/game/bbs-style.css"
thumbnail: "https://i.ytimg.com/vi/yqqkYOjbAjQ/maxresdefault.jpg"
sync_date: "2024-07-04T12:01:03+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Quest for Master Reaper, Part 21 - Backpack Battles S2E175",
  "description": "Episode 175 of the Backpack Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/yqqkYOjbAjQ/maxresdefault.jpg",
  "uploadDate": "2024-07-04T12:01:03+00:00",
  "duration": "PT25M14S",
  "embedUrl": "https://www.youtube.com/embed/yqqkYOjbAjQ"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="yqqkYOjbAjQ"
      published="Jul 4, 2024"
      duration="25m 14s"
      views="552"
      likes="11"
      comments="5"
      prev_url="/yt/letstrygg/backpack-battles/s2/bbs-ep-174.html"
      next_url="/yt/letstrygg/backpack-battles/s2/bbs-ep-176.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 175</p>
      
      {% include_relative _manual/bbs-ep-175.html %}
  </div>
</div>