---
layout: watch
title: "108 Backpack Battles S2"
description: "Backpack Battles S2 Let's Play Season 2 Episode 108"
permalink: /yt/letstrygg/backpack-battles/s2/bbs-ep-108.html
custom_css: "/css/game/bbs-style.css"
thumbnail: "https://i.ytimg.com/vi/ydSa1fJr-jE/maxresdefault.jpg"
sync_date: "2024-05-25T16:00:46+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Quest for Master Pyro: Part 1 - Backpack Battles S2E108",
  "description": "Episode 108 of the Backpack Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/ydSa1fJr-jE/maxresdefault.jpg",
  "uploadDate": "2024-05-25T16:00:46+00:00",
  "duration": "PT44M58S",
  "embedUrl": "https://www.youtube.com/embed/ydSa1fJr-jE"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="ydSa1fJr-jE"
      published="May 25, 2024"
      duration="44m 58s"
      views="330"
      likes="8"
      comments="2"
      prev_url="/yt/letstrygg/backpack-battles/s2/bbs-ep-107.html"
      next_url="/yt/letstrygg/backpack-battles/s2/bbs-ep-109.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 108</p>
      
      {% include_relative _manual/bbs-ep-108.html %}
  </div>
</div>