---
layout: watch
title: "040 Backpack Battles S2"
description: "Backpack Battles S2 Let's Play Season 2 Episode 40"
permalink: /yt/letstrygg/backpack-battles/s2/bbs-ep-40.html
custom_css: "/css/game/bbs-style.css"
thumbnail: "https://i.ytimg.com/vi/oJkkPQfkCNQ/maxresdefault.jpg"
sync_date: "2024-04-10T22:00:24+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Struggling to Reach Plat! Gold Ranger Backpack Battles S2E41",
  "description": "Episode 40 of the Backpack Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/oJkkPQfkCNQ/maxresdefault.jpg",
  "uploadDate": "2024-04-10T22:00:24+00:00",
  "duration": "PT1H7M38S",
  "embedUrl": "https://www.youtube.com/embed/oJkkPQfkCNQ"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="oJkkPQfkCNQ"
      published="Apr 10, 2024"
      duration="1h 7m 38s"
      views="117"
      likes="2"
      comments="4"
      prev_url="/yt/letstrygg/backpack-battles/s2/bbs-ep-39.html"
      next_url="/yt/letstrygg/backpack-battles/s2/bbs-ep-41.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 40</p>
      
      {% include_relative _manual/bbs-ep-40.html %}
  </div>
</div>