---
layout: watch
title: "002 Thronefall Kingdom Tower Defense Game"
description: "Thronefall Kingdom Tower Defense Game Let's Play Season undefined Episode 2"
permalink: /yt/letstrygg/Thronefall-Kingdom-Tower-Defense-Game/season-NaN/undefined-sNaNe02.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/oHysk7yW7jY/maxresdefault.jpg"
sync_date: "2023-08-03T19:00:25+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Thronefall Ep 2 - Minimalist Indie Tower Defense Gameplay | Free Steam Demo",
  "description": "Episode 2 of the Thronefall Kingdom Tower Defense Game Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/oHysk7yW7jY/maxresdefault.jpg",
  "uploadDate": "2023-08-03T19:00:25+00:00",
  "duration": "PT46M16S",
  "embedUrl": "https://www.youtube.com/embed/oHysk7yW7jY"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="oHysk7yW7jY"
      published="8/3/2023"
      duration="46:16"
      views="62"
      likes="5"
      comments="2"
      prev_url="/yt/letstrygg/Thronefall-Kingdom-Tower-Defense-Game/season-NaN/undefined-sNaNe01.html"
      next_url="/yt/letstrygg/Thronefall-Kingdom-Tower-Defense-Game/season-NaN/undefined-sNaNe03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 2</p>
      
      {% include_relative _manual/undefined-sNaNe02.html %}
  </div>
</div>