---
layout: watch
title: "023 Oxygen Not Included"
description: "Oxygen Not Included Let's Play Season 1 Episode 23"
permalink: /yt/letstrygg/oxygen-not-included/season-1/oni-s01e23.html
custom_css: "/css/game/oni-style.css"
thumbnail: "https://i.ytimg.com/vi/pVkaD9vv7Wk/maxresdefault.jpg"
sync_date: "2023-07-21T00:00:24+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Unknown Title",
  "description": "Episode 23 of the Oxygen Not Included Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/pVkaD9vv7Wk/maxresdefault.jpg",
  "uploadDate": "2023-07-21T00:00:24+00:00",
  "duration": "PT33M15S",
  "embedUrl": "https://www.youtube.com/embed/pVkaD9vv7Wk"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="pVkaD9vv7Wk"
      published="Jul 20, 2023"
      duration="33m 15s"
      views="324"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/oxygen-not-included/season-1/oni-s01e22.html"
      next_url="/yt/letstrygg/oxygen-not-included/season-1/oni-s01e24.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 23</p>
      
      {% include_relative _manual/oni-s01e23.html %}
  </div>
</div>