---
layout: new
title: Slay the Spire
permalink: /game/slay-the-spire/
---
<div class="section">
  <h1 class="title">Slay the Spire</h1>
  
  
  

  <h2 style="margin-top:40px;">Series Archive</h2>
<div class="game-grid">
<h2 class="blue" style="width:100%; margin-top:40px;">Season 4</h2>
  {% include cards/slay-the-spire-s4-the-quest-for-a-single-a20h-win-playlist_card.html %}
  {% include cards/silent-a20h-slay-the-spire-playlist_card.html %}

<h2 class="blue" style="width:100%; margin-top:40px;">Season 3</h2>
  {% include cards/slay-the-spire-a20h-rotations-season-3-playlist_card.html %}

<h2 class="blue" style="width:100%; margin-top:40px;">Season 1</h2>
  {% include cards/new-slay-the-spire-playthrough-playlist_card.html %}
  {% include cards/slay-the-spire-daily-playlist_card.html %}
</div>
</div>