---
layout: watch
title: "002 Everything Is Crab Evolution Survival Game"
description: "Everything Is Crab Evolution Survival Game Let's Play Season 1 Episode 2"
permalink: /yt/letstrygg/everything-is-crab/season-1/eic-s01e02.html
custom_css: "/css/game/eic-style.css"
thumbnail: "https://i.ytimg.com/vi/AFfIypMsBFk/maxresdefault.jpg"
sync_date: "2026-01-03T14:00:31+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "002 Poison Spitter of DOOM! Everything is Crab - Evolution Survival Game",
  "description": "Episode 2 of the Everything Is Crab Evolution Survival Game Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/AFfIypMsBFk/maxresdefault.jpg",
  "uploadDate": "2026-01-03T14:00:31+00:00",
  "duration": "PT37M54S",
  "embedUrl": "https://www.youtube.com/embed/AFfIypMsBFk"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="AFfIypMsBFk"
      published="Jan 3, 2026"
      duration="37m 54s"
      views="436"
      likes="13"
      comments="1"
      prev_url="/yt/letstrygg/everything-is-crab/season-1/eic-s01e01.html"
      next_url="/yt/letstrygg/everything-is-crab/season-1/eic-s01e03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 2</p>
      
      {% include_relative _manual/eic-s01e02.html %}
  </div>
</div>