---
layout: watch
title: "027 Animal Well Indie Puzzle Platformer"
description: "Animal Well Indie Puzzle Platformer Let's Play Season undefined Episode 27"
permalink: /yt/letstrygg/Animal-Well-Indie-Puzzle-Platformer/season-NaN/undefined-sNaNe27.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/f9mXH829bsw/maxresdefault.jpg"
sync_date: "2024-08-03T15:00:44+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Lizard Boss! Animal Well Part 27",
  "description": "Episode 27 of the Animal Well Indie Puzzle Platformer Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/f9mXH829bsw/maxresdefault.jpg",
  "uploadDate": "2024-08-03T15:00:44+00:00",
  "duration": "PT25M39S",
  "embedUrl": "https://www.youtube.com/embed/f9mXH829bsw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="f9mXH829bsw"
      published="8/3/2024"
      duration="25:39"
      views="298"
      likes="4"
      comments="2"
      prev_url="/yt/letstrygg/Animal-Well-Indie-Puzzle-Platformer/season-NaN/undefined-sNaNe26.html"
      next_url=""
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 27</p>
      
      {% include_relative _manual/undefined-sNaNe27.html %}
  </div>
</div>