---
layout: watch
title: "001 Merge Maestro"
description: "Merge Maestro Let's Play Season 1 Episode 1"
permalink: /yt/letstrygg/merge-maestro/season-1/mm-s01e01.html
custom_css: "/css/game/mm-style.css"
thumbnail: "https://i.ytimg.com/vi/k3SBRX-Y-LI/maxresdefault.jpg"
sync_date: "2025-08-03T17:00:51+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "New Game is Wild, Merge Maestro Ep 1",
  "description": "Episode 1 of the Merge Maestro Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/k3SBRX-Y-LI/maxresdefault.jpg",
  "uploadDate": "2025-08-03T17:00:51+00:00",
  "duration": "PT50M4S",
  "embedUrl": "https://www.youtube.com/embed/k3SBRX-Y-LI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="k3SBRX-Y-LI"
      published="Aug 3, 2025"
      duration="50m 4s"
      views="282"
      likes="5"
      comments="4"
      prev_url=""
      next_url="/yt/letstrygg/merge-maestro/season-1/mm-s01e02.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 1</p>
      
      {% include_relative _manual/mm-s01e01.html %}
  </div>
</div>