---
layout: watch
title: "003 Swarm Grinder"
description: "Swarm Grinder Let's Play Season 1 Episode 3"
permalink: /yt/letstrygg/swarm-grinder/season-1/sg-s01e03.html
custom_css: "/css/game/sg-style.css"
thumbnail: "https://i.ytimg.com/vi/v9kAqCLsfZs/maxresdefault.jpg"
sync_date: "2024-04-16T19:00:33+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Spinning Melee Blades of No Range! Swarm Grinder Ep 3",
  "description": "Episode 3 of the Swarm Grinder Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/v9kAqCLsfZs/maxresdefault.jpg",
  "uploadDate": "2024-04-16T19:00:33+00:00",
  "duration": "PT28M53S",
  "embedUrl": "https://www.youtube.com/embed/v9kAqCLsfZs"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="v9kAqCLsfZs"
      published="Apr 16, 2024"
      duration="28m 53s"
      views="193"
      likes="13"
      comments="0"
      prev_url="/yt/letstrygg/swarm-grinder/season-1/sg-s01e02.html"
      next_url="/yt/letstrygg/swarm-grinder/season-1/sg-s01e04.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 3</p>
      
      {% include_relative _manual/sg-s01e03.html %}
  </div>
</div>