---
layout: watch
title: "035 Magicraft S2"
description: "Magicraft S2 Let's Play Season 2 Episode 35"
permalink: /yt/letstrygg/magicraft/season-2/m-s02e35.html
custom_css: "/css/game/m-style.css"
thumbnail: "https://i.ytimg.com/vi/Ejk6__qCD7M/maxresdefault.jpg"
sync_date: "2023-12-09T13:00:15+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Speedrun 2: Let's Play Magicraft Ep 33",
  "description": "Episode 35 of the Magicraft S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/Ejk6__qCD7M/maxresdefault.jpg",
  "uploadDate": "2023-12-09T13:00:15+00:00",
  "duration": "PT39M31S",
  "embedUrl": "https://www.youtube.com/embed/Ejk6__qCD7M"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="Ejk6__qCD7M"
      published="12/9/2023"
      duration="39:31"
      views="689"
      likes="14"
      comments="2"
      prev_url="/yt/letstrygg/magicraft/season-2/m-s02e34.html"
      next_url="/yt/letstrygg/magicraft/season-2/m-s02e36.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 35</p>
      
      {% include_relative _manual/m-s02e35.html %}
  </div>
</div>