---
layout: watch
title: "003 Magicraft S2"
description: "Magicraft S2 Let's Play Season 2 Episode 3"
permalink: /yt/letstrygg/magicraft/season-2/m-s02e03.html
custom_css: "/css/game/m-style.css"
thumbnail: "https://i.ytimg.com/vi/7bhuKwbtGyc/maxresdefault.jpg"
sync_date: "2023-11-03T14:30:02+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Hard Mode! Butterfly Swarm Chaos vs Poisonous Spider Boss - Magicraft Let's Play Ep 3",
  "description": "Episode 3 of the Magicraft S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/7bhuKwbtGyc/maxresdefault.jpg",
  "uploadDate": "2023-11-03T14:30:02+00:00",
  "duration": "PT53M22S",
  "embedUrl": "https://www.youtube.com/embed/7bhuKwbtGyc"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="7bhuKwbtGyc"
      published="11/3/2023"
      duration="53:22"
      views="4,961"
      likes="101"
      comments="13"
      prev_url="/yt/letstrygg/magicraft/season-2/m-s02e02.html"
      next_url="/yt/letstrygg/magicraft/season-2/m-s02e04.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 3</p>
      
      {% include_relative _manual/m-s02e03.html %}
  </div>
</div>