---
layout: watch
title: "012 Forager"
description: "Forager Let's Play Season 1 Episode 12"
permalink: /yt/letstrygg/forager/season-1/f-s01e12.html
custom_css: "/css/game/f-style.css"
thumbnail: "https://i.ytimg.com/vi/rLvZDv3cBuA/maxresdefault.jpg"
sync_date: "2023-08-17T19:00:22+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Beyond the Horizon - Forager Episode 12: A World of Wonders",
  "description": "Episode 12 of the Forager Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/rLvZDv3cBuA/maxresdefault.jpg",
  "uploadDate": "2023-08-17T19:00:22+00:00",
  "duration": "PT21M37S",
  "embedUrl": "https://www.youtube.com/embed/rLvZDv3cBuA"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="rLvZDv3cBuA"
      published="8/17/2023"
      duration="21:37"
      views="84"
      likes="5"
      comments="2"
      prev_url="/yt/letstrygg/forager/season-1/f-s01e11.html"
      next_url="/yt/letstrygg/forager/season-1/f-s01e13.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 12</p>
      
      {% include_relative _manual/f-s01e12.html %}
  </div>
</div>