---
layout: watch
title: "004 Below The Stone"
description: "Below The Stone Let's Play Season 1 Episode 4"
permalink: /yt/letstrygg/below-the-stone/season-1/bts-s01e04.html
custom_css: "/css/game/bts-style.css"
thumbnail: "https://i.ytimg.com/vi/A9qsWn0zNm8/maxresdefault.jpg"
sync_date: "2023-12-24T19:00:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Below the Stone Ep 4",
  "description": "Episode 4 of the Below The Stone Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/A9qsWn0zNm8/maxresdefault.jpg",
  "uploadDate": "2023-12-24T19:00:05+00:00",
  "duration": "PT23M33S",
  "embedUrl": "https://www.youtube.com/embed/A9qsWn0zNm8"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="A9qsWn0zNm8"
      published="Dec 24, 2023"
      duration="23m 33s"
      views="353"
      likes="5"
      comments="1"
      prev_url="/yt/letstrygg/below-the-stone/season-1/bts-s01e03.html"
      next_url="/yt/letstrygg/below-the-stone/season-1/bts-s01e05.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 4</p>
      
      {% include_relative _manual/bts-s01e04.html %}
  </div>
</div>