---
layout: watch
title: "028 Brotato Abyssal Terrors DLC Full Release"
description: "Brotato Abyssal Terrors DLC Full Release Let's Play Season undefined Episode 28"
permalink: /yt/letstrygg/Brotato-Abyssal-Terrors-DLC-Full-Release/season-NaN/undefined-sNaNe28.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/e8jkXps1L6o/maxresdefault.jpg"
sync_date: "2024-12-03T17:00:41+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Engineer - Every Potato #22 - Brotato Abyssal Terrors DLC Ep 28",
  "description": "Episode 28 of the Brotato Abyssal Terrors DLC Full Release Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/e8jkXps1L6o/maxresdefault.jpg",
  "uploadDate": "2024-12-03T17:00:41+00:00",
  "duration": "PT1H7M34S",
  "embedUrl": "https://www.youtube.com/embed/e8jkXps1L6o"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="e8jkXps1L6o"
      published="12/3/2024"
      duration="1:07:34"
      views="152"
      likes="3"
      comments="1"
      prev_url="/yt/letstrygg/Brotato-Abyssal-Terrors-DLC-Full-Release/season-NaN/undefined-sNaNe27.html"
      next_url="/yt/letstrygg/Brotato-Abyssal-Terrors-DLC-Full-Release/season-NaN/undefined-sNaNe29.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 28</p>
      
      {% include_relative _manual/undefined-sNaNe28.html %}
  </div>
</div>