---
layout: watch
title: "015 Tower Dominion"
description: "Tower Dominion Let's Play Season 1 Episode 15"
permalink: /yt/letstrygg/tower-dominion/season-1/td-s01e15.html
custom_css: "/css/game/td-style.css"
thumbnail: "https://i.ytimg.com/vi/kwvdXDv9lMI/maxresdefault.jpg"
sync_date: "2025-04-13T17:00:50+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "15 Tower Dominion",
  "description": "Episode 15 of the Tower Dominion Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/kwvdXDv9lMI/maxresdefault.jpg",
  "uploadDate": "2025-04-13T17:00:50+00:00",
  "duration": "PT35M54S",
  "embedUrl": "https://www.youtube.com/embed/kwvdXDv9lMI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="kwvdXDv9lMI"
      published="4/13/2025"
      duration="35:54"
      views="488"
      likes="8"
      comments="3"
      prev_url="/yt/letstrygg/tower-dominion/season-1/td-s01e14.html"
      next_url="/yt/letstrygg/tower-dominion/season-1/td-s01e16.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 15</p>
      
      {% include_relative _manual/td-s01e15.html %}
  </div>
</div>