---
layout: watch
title: "071 Backpack Battles S1"
description: "Backpack Battles S1 Let's Play Season 1 Episode 71"
permalink: /yt/letstrygg/backpack-battles/season-1/bpb-s01e71.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/o-8oTJYftpc/maxresdefault.jpg"
sync_date: "2023-11-18T22:00:21+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Lets Play Backpack Battles Ep 59",
  "description": "Episode 71 of the Backpack Battles S1 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/o-8oTJYftpc/maxresdefault.jpg",
  "uploadDate": "2023-11-18T22:00:21+00:00",
  "duration": "PT35M2S",
  "embedUrl": "https://www.youtube.com/embed/o-8oTJYftpc"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="o-8oTJYftpc"
      published="Nov 18, 2023"
      duration="35m 2s"
      views="56"
      likes="1"
      comments="1"
      prev_url="/yt/letstrygg/backpack-battles/season-1/bpb-s01e70.html"
      next_url="/yt/letstrygg/backpack-battles/season-1/bpb-s01e72.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 71</p>
      
      {% include_relative _manual/bpb-s01e71.html %}
  </div>
</div>