---
layout: watch
title: "012 Monster Train 2"
description: "Monster Train 2 Let's Play Season 1 Episode 12"
permalink: /yt/letstrygg/monster-train-2/season-1/mt2-s01e12.html
custom_css: "/css/game/mt2-style.css"
thumbnail: "https://i.ytimg.com/vi/9-mcQVJ-0iI/maxresdefault.jpg"
sync_date: "2025-06-20T17:00:12+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "012 Cov6 Luna CovenX / Banished: Monster Train 2 Completionist Playthrough",
  "description": "Episode 12 of the Monster Train 2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/9-mcQVJ-0iI/maxresdefault.jpg",
  "uploadDate": "2025-06-20T17:00:12+00:00",
  "duration": "PT1H59M28S",
  "embedUrl": "https://www.youtube.com/embed/9-mcQVJ-0iI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="9-mcQVJ-0iI"
      published="Jun 20, 2025"
      duration="1h 59m 28s"
      views="12"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/monster-train-2/season-1/mt2-s01e11.html"
      next_url="/yt/letstrygg/monster-train-2/season-1/mt2-s01e13.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 12</p>
      
      {% include_relative _manual/mt2-s01e12.html %}
  </div>
</div>