---
layout: watch
title: "003 Lets Play Monster Sanctuary"
description: "Lets Play Monster Sanctuary Let's Play Season 1 Episode 3"
permalink: /yt/letstrygg/monster-sanctuary/season-1/ms-s01e03.html
custom_css: "/css/game/ms-style.css"
thumbnail: "https://i.ytimg.com/vi/fPECtGXTvGM/maxresdefault.jpg"
sync_date: "2021-08-28T15:00:16+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Monster Sanctuary Let's Play Ep 3",
  "description": "Episode 3 of the Lets Play Monster Sanctuary Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/fPECtGXTvGM/maxresdefault.jpg",
  "uploadDate": "2021-08-28T15:00:16+00:00",
  "duration": "PT29M14S",
  "embedUrl": "https://www.youtube.com/embed/fPECtGXTvGM"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="fPECtGXTvGM"
      published="8/28/2021"
      duration="29:14"
      views="10"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/monster-sanctuary/season-1/ms-s01e02.html"
      next_url="/yt/letstrygg/monster-sanctuary/season-1/ms-s01e04.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 3</p>
      
      {% include_relative _manual/ms-s01e03.html %}
  </div>
</div>