---
layout: watch
title: "002 Looper Tactics S2"
description: "Looper Tactics S2 Let's Play Season undefined Episode 2"
permalink: /yt/letstrygg/Looper-Tactics-S2/season-NaN/undefined-sNaNe02.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/5FNqe7j_kSw/maxresdefault.jpg"
sync_date: "2023-11-28T13:00:05+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Unknown Title",
  "description": "Episode 2 of the Looper Tactics S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/5FNqe7j_kSw/maxresdefault.jpg",
  "uploadDate": "2023-11-28T13:00:05+00:00",
  "duration": "PT34M1S",
  "embedUrl": "https://www.youtube.com/embed/5FNqe7j_kSw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="5FNqe7j_kSw"
      published="11/28/2023"
      duration="34:01"
      views="520"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/Looper-Tactics-S2/season-NaN/undefined-sNaNe01.html"
      next_url="/yt/letstrygg/Looper-Tactics-S2/season-NaN/undefined-sNaNe03.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 2</p>
      
      {% include_relative _manual/undefined-sNaNe02.html %}
  </div>
</div>