---
layout: watch
title: "003 New Slay The Spire Playthrough"
description: "New Slay The Spire Playthrough Let's Play Season 1 Episode 3"
permalink: /yt/letstrygg/slay-the-spire/season-1/sts-s01e03.html
custom_css: "/css/game/sts-style.css"
thumbnail: "https://i.ytimg.com/vi/OM1yjd5PaRc/maxresdefault.jpg"
sync_date: "2021-06-19T12:00:08+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Defect-ive Run. Slay the Spire Ep 3",
  "description": "Episode 3 of the New Slay The Spire Playthrough Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/OM1yjd5PaRc/maxresdefault.jpg",
  "uploadDate": "2021-06-19T12:00:08+00:00",
  "duration": "PT25M51S",
  "embedUrl": "https://www.youtube.com/embed/OM1yjd5PaRc"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="OM1yjd5PaRc"
      published="Jun 19, 2021"
      duration="25m 51s"
      views="22"
      likes="3"
      comments="6"
      prev_url="/yt/letstrygg/slay-the-spire/season-1/sts-s01e02.html"
      next_url="/yt/letstrygg/slay-the-spire/season-1/sts-s01e04.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 3</p>
      
      {% include_relative _manual/sts-s01e03.html %}
  </div>
</div>