---
layout: watch
title: "011 Dredge"
description: "Dredge Let's Play Season 1 Episode 11"
permalink: /yt/letstrygg/dredge/season-1/d-s01e11.html
custom_css: "/css/game/d-style.css"
thumbnail: "https://i.ytimg.com/vi/SvPdHIgegGE/maxresdefault.jpg"
sync_date: "2025-01-23T13:00:38+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Leviathan! Dredge 3.2",
  "description": "Episode 11 of the Dredge Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/SvPdHIgegGE/maxresdefault.jpg",
  "uploadDate": "2025-01-23T13:00:38+00:00",
  "duration": "PT26M20S",
  "embedUrl": "https://www.youtube.com/embed/SvPdHIgegGE"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="SvPdHIgegGE"
      published="Jan 23, 2025"
      duration="26m 20s"
      views="188"
      likes="6"
      comments="2"
      prev_url="/yt/letstrygg/dredge/season-1/d-s01e10.html"
      next_url="/yt/letstrygg/dredge/season-1/d-s01e12.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 11</p>
      
      {% include_relative _manual/d-s01e11.html %}
  </div>
</div>