---
layout: watch
title: "072 Brotato Unleash The Power Of The Potato"
description: "Brotato Unleash The Power Of The Potato Let's Play Season undefined Episode 72"
permalink: /yt/letstrygg/Brotato-Unleash-the-Power-of-the-Potato/season-NaN/undefined-sNaNe72.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/WCROvIqexbU/maxresdefault.jpg"
sync_date: "2023-08-07T19:00:16+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Danger 5: Lucky Tank - Brotato Let's Play Ep 69",
  "description": "Episode 72 of the Brotato Unleash The Power Of The Potato Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/WCROvIqexbU/maxresdefault.jpg",
  "uploadDate": "2023-08-07T19:00:16+00:00",
  "duration": "PT1H4M34S",
  "embedUrl": "https://www.youtube.com/embed/WCROvIqexbU"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="WCROvIqexbU"
      published="8/7/2023"
      duration="1:04:34"
      views="29"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/Brotato-Unleash-the-Power-of-the-Potato/season-NaN/undefined-sNaNe71.html"
      next_url="/yt/letstrygg/Brotato-Unleash-the-Power-of-the-Potato/season-NaN/undefined-sNaNe73.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 72</p>
      
      {% include_relative _manual/undefined-sNaNe72.html %}
  </div>
</div>