---
layout: watch
title: "049 Brotato Unleash The Power Of The Potato"
description: "Brotato Unleash The Power Of The Potato Let's Play Season undefined Episode 49"
permalink: /yt/letstrygg/Brotato-Unleash-the-Power-of-the-Potato/season-NaN/undefined-sNaNe49.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/5fyNeJfgZBM/maxresdefault.jpg"
sync_date: "2023-07-04T23:36:03+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Brotato 46",
  "description": "Episode 49 of the Brotato Unleash The Power Of The Potato Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/5fyNeJfgZBM/maxresdefault.jpg",
  "uploadDate": "2023-07-04T23:36:03+00:00",
  "duration": "PT31M56S",
  "embedUrl": "https://www.youtube.com/embed/5fyNeJfgZBM"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="5fyNeJfgZBM"
      published="7/4/2023"
      duration="31:56"
      views="0"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/Brotato-Unleash-the-Power-of-the-Potato/season-NaN/undefined-sNaNe48.html"
      next_url="/yt/letstrygg/Brotato-Unleash-the-Power-of-the-Potato/season-NaN/undefined-sNaNe50.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 49</p>
      
      {% include_relative _manual/undefined-sNaNe49.html %}
  </div>
</div>