---
layout: watch
title: "004 Bloons TD Battles 2"
description: "Bloons TD Battles 2 Let's Play Season 1 Episode 4"
permalink: /yt/letstrygg/bloons-td-battles-2/season-1/btdb2-s01e04.html
custom_css: "/css/game/btdb2-style.css"
thumbnail: "https://i.ytimg.com/vi/F2yF-a4f4T0/maxresdefault.jpg"
sync_date: "2021-12-08T15:00:07+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Unknown Title",
  "description": "Episode 4 of the Bloons TD Battles 2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/F2yF-a4f4T0/maxresdefault.jpg",
  "uploadDate": "2021-12-08T15:00:07+00:00",
  "duration": "PT1H12M17S",
  "embedUrl": "https://www.youtube.com/embed/F2yF-a4f4T0"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="F2yF-a4f4T0"
      published="Dec 8, 2021"
      duration="1h 12m 17s"
      views="40"
      likes="0"
      comments="0"
      prev_url="/yt/letstrygg/bloons-td-battles-2/season-1/btdb2-s01e03.html"
      next_url="/yt/letstrygg/bloons-td-battles-2/season-1/btdb2-s01e05.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 4</p>
      
      {% include_relative _manual/btdb2-s01e04.html %}
  </div>
</div>