---
layout: watch
title: "069 Backpack Battles S1"
description: "Backpack Battles S1 Let's Play Season undefined Episode 69"
permalink: /yt/ltg-plus/Backpack-Battles-S1/season-NaN/undefined-sNaNe69.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/KQ_Al3CVq2w/maxresdefault.jpg"
sync_date: "2023-11-17T22:00:09+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Deck of Cards? Lets Play Backpack Battles Ep 57",
  "description": "Episode 69 of the Backpack Battles S1 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/KQ_Al3CVq2w/maxresdefault.jpg",
  "uploadDate": "2023-11-17T22:00:09+00:00",
  "duration": "PT25M55S",
  "embedUrl": "https://www.youtube.com/embed/KQ_Al3CVq2w"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="KQ_Al3CVq2w"
      published="11/17/2023"
      duration="25:55"
      views="106"
      likes="1"
      comments="6"
      prev_url="/yt/ltg-plus/Backpack-Battles-S1/season-NaN/undefined-sNaNe68.html"
      next_url="/yt/ltg-plus/Backpack-Battles-S1/season-NaN/undefined-sNaNe70.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 69</p>
      
      {% include_relative _manual/undefined-sNaNe69.html %}
  </div>
</div>