---
layout: watch
title: "117 Oaken Tower S2"
description: "Oaken Tower S2 Let's Play Season 2 Episode 117"
permalink: /yt/ltg-plus/Oaken-Tower/season-2/ot-s02e117.html
custom_css: "/css/game/ot-style.css"
thumbnail: "https://i.ytimg.com/vi/NzC3ntwgfcA/maxresdefault.jpg"
upload_date: "2026-07-20T12:00:08+00:00"
duration_seconds: 1105
tags: ""
youtube_id: "NzC3ntwgfcA"
game_slug: "Oaken-Tower"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "S2E124 WS2 Crook = All The Potions, Random Random Oaken Tower",
  "description": "Episode 117 of the Oaken Tower S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/NzC3ntwgfcA/maxresdefault.jpg",
  "uploadDate": "2026-07-20T12:00:08+00:00",
  "duration": "PT18M25S",
  "embedUrl": "https://www.youtube.com/embed/NzC3ntwgfcA",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 5
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="NzC3ntwgfcA"
      published="7/20/2026"
      duration="18m 25s"
      views="5"
      likes="0"
      comments="0"
      prev_url="/yt/ltg-plus/Oaken-Tower/season-2/ot-s02e116.html"
      next_url=""
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 117</p>
      
      

  </div>

  
</div>

