---
layout: watch
title: "118 Oaken Tower S2"
description: "Oaken Tower S2 Let's Play Season 2 Episode 118"
permalink: /yt/ltg-plus/Oaken-Tower/season-2/ot-s02e118.html
custom_css: "/css/game/ot-style.css"
thumbnail: "https://i.ytimg.com/vi/-UQZYEGMObw/maxresdefault.jpg"
upload_date: "2026-07-21T12:00:33+00:00"
duration_seconds: 1524
tags: ""
youtube_id: "-UQZYEGMObw"
game_slug: "Oaken-Tower"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "S2E125 WS3 Ice FAIL, Random Random Oaken Tower",
  "description": "Episode 118 of the Oaken Tower S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/-UQZYEGMObw/maxresdefault.jpg",
  "uploadDate": "2026-07-21T12:00:33+00:00",
  "duration": "PT25M24S",
  "embedUrl": "https://www.youtube.com/embed/-UQZYEGMObw",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 3
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="-UQZYEGMObw"
      published="7/21/2026"
      duration="25m 24s"
      views="3"
      likes="1"
      comments="0"
      prev_url="/yt/ltg-plus/Oaken-Tower/season-2/ot-s02e117.html"
      next_url=""
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 118</p>
      
      

  </div>

  
</div>

