---
layout: watch
title: "220 Oaken Tower S2"
description: "Oaken Tower S2 Let's Play Season 2 Episode 220"
permalink: /yt/ltg-plus/Oaken-Tower/season-2/ot-s02e220.html
custom_css: "/css/game/ot-style.css"
thumbnail: "https://i.ytimg.com/vi/kY8m8F97c_s/maxresdefault.jpg"
upload_date: "2026-09-30T15:30:07+00:00"
duration_seconds: 1331
tags: ""
youtube_id: "kY8m8F97c_s"
game_slug: "Oaken-Tower"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "S2E227 Oaken Tower",
  "description": "Episode 220 of the Oaken Tower S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/kY8m8F97c_s/maxresdefault.jpg",
  "uploadDate": "2026-09-30T15:30:07+00:00",
  "duration": "PT22M11S",
  "embedUrl": "https://www.youtube.com/embed/kY8m8F97c_s",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 297
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="kY8m8F97c_s"
      published="9/30/2026"
      duration="22m 11s"
      views="297"
      likes="4"
      comments="3"
      prev_url="/yt/ltg-plus/Oaken-Tower/season-2/ot-s02e219.html"
      next_url="/yt/ltg-plus/Oaken-Tower/season-2/ot-s02e221.html"
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 220</p>
      
      

  </div>

  
</div>

