---
layout: watch
title: "111 Blue Prince"
description: "Blue Prince Let's Play Season 1 Episode 111"
permalink: /yt/letstrygg/blue-prince/season-1/bp-s01e111.html
custom_css: "/css/game/bp-style.css"
thumbnail: "https://i.ytimg.com/vi/NeJPStMUPRY/maxresdefault.jpg"
upload_date: "2026-07-24T14:00:20+00:00"
duration_seconds: 2655
tags: ""
youtube_id: "NeJPStMUPRY"
game_slug: "blue-prince"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Dare Mode Day 9, Blue Prince - Ep111",
  "description": "Episode 111 of the Blue Prince Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/NeJPStMUPRY/maxresdefault.jpg",
  "uploadDate": "2026-07-24T14:00:20+00:00",
  "duration": "PT44M15S",
  "embedUrl": "https://www.youtube.com/embed/NeJPStMUPRY",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 0
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="NeJPStMUPRY"
      published="7/24/2026"
      duration="44m 15s"
      views="0"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/blue-prince/season-1/bp-s01e110.html"
      next_url=""
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 111</p>
      
      

  </div>

  
</div>

