---
layout: watch
title: "087 Blue Prince"
description: "Blue Prince Let's Play Season 1 Episode 87"
permalink: /yt/letstrygg/blue-prince/season-1/bp-s01e87.html
custom_css: "/css/game/bp-style.css"
thumbnail: "https://i.ytimg.com/vi/1Xfl80DM6ew/maxresdefault.jpg"
upload_date: "2026-07-03T14:00:32+00:00"
duration_seconds: 531
tags: ""
youtube_id: "1Xfl80DM6ew"
game_slug: "blue-prince"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Day 86, the Worst Day: Blue Prince - Chill Puzzle Exploration Game Daily",
  "description": "Episode 87 of the Blue Prince Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/1Xfl80DM6ew/maxresdefault.jpg",
  "uploadDate": "2026-07-03T14:00:32+00:00",
  "duration": "PT8M51S",
  "embedUrl": "https://www.youtube.com/embed/1Xfl80DM6ew",
  "keywords": "",
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": { "@type": "WatchAction" },
    "userInteractionCount": 28
  }
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="1Xfl80DM6ew"
      published="7/3/2026"
      duration="8m 51s"
      views="28"
      likes="2"
      comments="1"
      prev_url="/yt/letstrygg/blue-prince/season-1/bp-s01e86.html"
      next_url="/yt/letstrygg/blue-prince/season-1/bp-s01e88.html"
  %}

  
  
  

  <script>window.LTG_TAG_CONFIG = {};</script>
  {% include admin_panel.html %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 87</p>
      
      

  </div>

  
</div>

