---
layout: watch
title: "003 Brawl To The West"
description: "Brawl To The West Let's Play Season 1 Episode 3"
permalink: /yt/letstrygg/brawl-to-the-west/season-1/bttw-s01e03.html
custom_css: "/css/game/bttw-style.css"
thumbnail: "https://i.ytimg.com/vi/HFEFswFOGhg/maxresdefault.jpg"
sync_date: "2025-08-29T12:00:36+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Brawl To The West 3",
  "description": "Episode 3 of the Brawl To The West Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/HFEFswFOGhg/maxresdefault.jpg",
  "uploadDate": "2025-08-29T12:00:36+00:00",
  "duration": "PT36M0S",
  "embedUrl": "https://www.youtube.com/embed/HFEFswFOGhg"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="HFEFswFOGhg"
      published="Aug 29, 2025"
      duration="36m 0s"
      views="73"
      likes="3"
      comments="2"
      prev_url="/yt/letstrygg/brawl-to-the-west/season-1/bttw-s01e02.html"
      next_url="/yt/letstrygg/brawl-to-the-west/season-1/bttw-s01e04.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 3</p>
      
      {% include_relative _manual/bttw-s01e03.html %}
  </div>
</div>