---
layout: watch
title: "006 Nitro Kid Demo"
description: "Nitro Kid Demo Let's Play Season 1 Episode 6"
permalink: /yt/letstrygg/nitro-kid-demo/season-1/nkd-s01e06.html
custom_css: "/css/game/nkd-style.css"
thumbnail: "https://i.ytimg.com/vi/1_Fm2neM2Gw/maxresdefault.jpg"
sync_date: "2022-06-19T13:00:01+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Nitro Kid Demo Turn Based Strategy Deck Builder Game Lets Play Ep 6",
  "description": "Episode 6 of the Nitro Kid Demo Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/1_Fm2neM2Gw/maxresdefault.jpg",
  "uploadDate": "2022-06-19T13:00:01+00:00",
  "duration": "PT18M18S",
  "embedUrl": "https://www.youtube.com/embed/1_Fm2neM2Gw"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="1_Fm2neM2Gw"
      published="6/19/2022"
      duration="18:18"
      views="12"
      likes="1"
      comments="0"
      prev_url="/yt/letstrygg/nitro-kid-demo/season-1/nkd-s01e05.html"
      next_url=""
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 6</p>
      
      {% include_relative _manual/nkd-s01e06.html %}
  </div>
</div>