---
layout: watch
title: "160 Oaken Tower"
description: "Oaken Tower Let's Play Season 1 Episode 160"
permalink: /yt/ltg-plus/oaken-tower/season-1/ot-s01e160.html
custom_css: "/css/game/ot-style.css"
thumbnail: "https://i.ytimg.com/vi/sZH-044enV4/maxresdefault.jpg"
sync_date: "2025-11-01T12:01:54+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Random Morning Ramblings, Oaken Tower 160",
  "description": "Episode 160 of the Oaken Tower Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/sZH-044enV4/maxresdefault.jpg",
  "uploadDate": "2025-11-01T12:01:54+00:00",
  "duration": "PT41M42S",
  "embedUrl": "https://www.youtube.com/embed/sZH-044enV4"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="sZH-044enV4"
      published="Nov 1, 2025"
      duration="41m 42s"
      views="171"
      likes="2"
      comments="3"
      prev_url="/yt/ltg-plus/oaken-tower/season-1/ot-s01e159.html"
      next_url="/yt/ltg-plus/oaken-tower/season-1/ot-s01e161.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 160</p>
      
      {% include_relative _manual/ot-s01e160.html %}
  </div>
</div>