---
layout: watch
title: "051 Oaken Tower"
description: "Oaken Tower Let's Play Season 1 Episode 51"
permalink: /yt/ltg-plus/oaken-tower/season-1/ot-s01e51.html
custom_css: "/css/game/ot-style.css"
thumbnail: "https://i.ytimg.com/vi/4JAQewnEXaI/maxresdefault.jpg"
sync_date: "2025-09-06T12:00:11+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Semi-Noob Talks Through a Run of Oaken Tower 51",
  "description": "Episode 51 of the Oaken Tower Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/4JAQewnEXaI/maxresdefault.jpg",
  "uploadDate": "2025-09-06T12:00:11+00:00",
  "duration": "PT23M44S",
  "embedUrl": "https://www.youtube.com/embed/4JAQewnEXaI"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="4JAQewnEXaI"
      published="Sep 6, 2025"
      duration="23m 44s"
      views="289"
      likes="7"
      comments="11"
      prev_url="/yt/ltg-plus/oaken-tower/season-1/ot-s01e50.html"
      next_url="/yt/ltg-plus/oaken-tower/season-1/ot-s01e52.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 1, Episode 51</p>
      
      {% include_relative _manual/ot-s01e51.html %}
  </div>
</div>