---
layout: watch
title: "022 Backpack Battles S2"
description: "Backpack Battles S2 Let's Play Season 2 Episode 22"
permalink: /yt/ltg-plus/backpack-battles/season-2/bpb-s02e22.html
custom_css: "/css/game/bpb-style.css"
thumbnail: "https://i.ytimg.com/vi/jUpNztf3gzg/maxresdefault.jpg"
sync_date: "2024-04-02T16:00:36+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Pyro is BROKEN! Backpack Battles S2E22",
  "description": "Episode 22 of the Backpack Battles S2 Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/jUpNztf3gzg/maxresdefault.jpg",
  "uploadDate": "2024-04-02T16:00:36+00:00",
  "duration": "PT50M45S",
  "embedUrl": "https://www.youtube.com/embed/jUpNztf3gzg"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="jUpNztf3gzg"
      published="4/2/2024"
      duration="50:45"
      views="186"
      likes="1"
      comments="5"
      prev_url="/yt/ltg-plus/backpack-battles/season-2/bpb-s02e21.html"
      next_url="/yt/ltg-plus/backpack-battles/season-2/bpb-s02e23.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season 2, Episode 22</p>
      
      {% include_relative _manual/bpb-s02e22.html %}
  </div>
</div>