---
layout: watch
title: "001 HoloCure"
description: "HoloCure Let's Play Season undefined Episode 1"
permalink: /yt/letstrygg/HoloCure/season-NaN/undefined-sNaNe01.html
custom_css: "/css/game/undefined-style.css"
thumbnail: "https://i.ytimg.com/vi/tiwtPg-LWZg/maxresdefault.jpg"
sync_date: "2025-08-16T14:01:20+00:00"
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Let's Try HoloCure",
  "description": "Episode 1 of the HoloCure Let's Play series.",
  "thumbnailUrl": "https://i.ytimg.com/vi/tiwtPg-LWZg/maxresdefault.jpg",
  "uploadDate": "2025-08-16T14:01:20+00:00",
  "duration": "PT58M48S",
  "embedUrl": "https://www.youtube.com/embed/tiwtPg-LWZg"
}
</script>

<div class="game-page-wrapper">
  {% include watch_player.html 
      video_id="tiwtPg-LWZg"
      published="8/16/2025"
      duration="58:48"
      views="495"
      likes="16"
      comments="26"
      prev_url=""
      next_url="/yt/letstrygg/HoloCure/season-NaN/undefined-sNaNe02.html"
  %}

  <div class="manual-content">
      <h1 class="title" style="font-size: 1.8rem; margin-bottom: 5px;">{{ page.title }}</h1>
      <p class="subtitle" style="margin-bottom: 20px;">Season undefined, Episode 1</p>
      
      {% include_relative _manual/undefined-sNaNe01.html %}
  </div>
</div>